<p id="notice"><%= notice %></p>

<h1>Listing Action Plan Items</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @action_plan_items.each do |action_plan_item| %>
      <tr>
        <td><%= link_to 'Show', action_plan_item %></td>
        <td><%= link_to 'Edit', edit_action_plan_item_path(action_plan_item) %></td>
        <td><%= link_to 'Destroy', action_plan_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Action plan item', new_action_plan_item_path %>
