<% content_for :head do %>
    <!-- # Include Google js api for jspivot -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <%= stylesheet_link_tag 'charts' %>
    <script type="text/javascript">
        // Add google visualization lib
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
<% end %>

<%= content_for :body_classes do @dash.theme end %>

<div class="dashboard-container-outer">
    <%= form_for @dash, :remote=>true, "data-type" => "json", :html=>{:class=>'dashboard-container'} do |f| %>
        <div class="dashboard-container-inner">
            <nav class="dashboard-navbar navbar navbar-default fade-in one" role="navigation">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dashboard-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Dashboard</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="dashboard-navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li class="dropdown"
                        data-step="1"
                        data-position="right"
                        data-intro="Click here to select and change your desktop background">
                        <a id="dashboard-theme" data-toggle="dropdown" class="dropdown-toggle">
                          Theme
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu radio-select" role="dropdown">
                          <% @dash.theme_enum.each do |theme| %>
                              <li <%= (f.object.theme == theme ? 'class="selected"'.html_safe : '') %>>
                                  <i class="fa fa-check"></i>
                                  <%= f.label :theme, :value=>theme do %>
                                      <%= theme.sub('theme-','').gsub('-', ' ') %>
                                      <%= f.radio_button :theme, theme, :class=>"toggle-theme"%>
                                  <% end %>
                              </li>
                          <% end %>
                        </ul>
                    </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li style="display:none;">
                        <%= link_to_add_association f, :dashboard_widgets, {
                              :partial=>'dashboard/widgets/form',
                              :id=>'dashboard-add'
                              } do %>
                            <i class="fa fa-plus-square-o"></i>
                            Add
                        <% end %>
                    </li>
                    <li style="display:none;">
                        <%= f.button :submit, :id=>'dashboard-save', :class=>'btn navbar-btn' do %>
                            <i class="fa fa-floppy-o"></i>
                            Save
                        <% end %>
                    </li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
            <div class="gridster fade-in three"
                data-step="2"
                data-position="top"
                data-intro="These are your dashboard items (widgets).
                    Individual items on the dashboard can be moved around, resized and arranged in any way that
                    you see fit">
                <ul>

                    <%= render :partial=>'dashboard/widgets/form_empty', :locals=>{:dash=>@dash}%>

                    <% @w_counter = 0 %>
                    <%= f.fields_for :dashboard_widgets, :id=>'widget-fields' do |widget| %>
                        <% @w_counter += 1 %>
                        <% begin %>
                            <%= render :partial=>'dashboard/widgets/form', :locals=>{:f=>widget, :dash=>@dash}%>
                        <% rescue LsReportsHelper::AccessDenied => e %>
                            <%= render :partial=>'dashboard/widgets/form_access_denied', :locals=>{:f=>widget, :dash=>@dash} %>
                        <% rescue Dashboard::WidgetExpired => e %>
                            <% widget.object.destroy %>
                        <% end %>
                        <!-- After render -->
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>
    <%= render :partial=>'shared/modal_blank'%>

</div>
