<div class="row main fade-in two">
  <div class="col-md-6 main fade-in two">
    <h1><%= link_to Settings.assignments_route_name.titleize.pluralize, assignment_root_path, {:class => "back-to-assignment-root"} %></h1>
  </div>
  <div class="col-md-6 main fade-in two" style="height:69px; display:table;vertical-align:middle;">
    <div style="display:table-cell; vertical-align:middle;">
      <button id="assignment-nav-toggle" type="button" class="btn btn-default" aria-label="Menu" style="float:right; vertical-align:bottom; margin: 0 auto;">
        Menu <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
    </div>
  </div>
</div>

<%= render partial: "assignment/shared/assignment_nav", locals: { display: "none" } %>

<%= render "response_nav" %>

<div id="user-response-<%= @user_response.id %>" class="container-fluid response-display">
  <div class="col-md-6 main fade-in two left-panel">
    <h2 style="text-align:center;"><%= @user_response.title %> - <span class="label label-<%= hf_status_label_color(@user_response) %>"><%= @user_response.status %></span></h2>
    <hr />

    <h3><%= @user_response.user_assignment.survey_type.titleize %></h3>
    <p><%= @user_response.content %></p>
  </div>
  <div class="col-md-6 main fade-in two right-panel">
    <%= render 'comments' %>
  </div>
</div>
