<div class="row main fade-in two">
  <div class="col-lg-6 col-xs-6 fade-in two">
    <h1><%= link_to Settings.assignments_route_name.titleize.pluralize, assignment_root_path, {:class => "back-to-assignment-root"} %></h1>
  </div>
  <% if hf_ag_owner_or_higher? current_user, @user_response %>
    <div class="col-md-6 main fade-in two">
      <h1>
        <button id="assignment-nav-toggle" type="button" class="btn btn-default" aria-label="Menu">
          Menu <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
      </h1>
    </div>
  <% elsif @user_response.user_assignment.user == current_user %>
    <div class="col-md-6 main fade-in two">
      <h1><%= button_to "Record new goals", hf_ua_lime_link_for(current_user), id: "assignment-nav-toggle", class: "btn btn-default", method: :get, form: {target: "_new"} %></h1>
    </div>
  <% end %>
</div>

<% if hf_ag_owner_or_higher? current_user, @user_response %>
  <%= render partial: "assignment/shared/assignment_nav", locals: { display: "none" } %>
<% end %>

<%= render "assignment/shared/response_nav" %>

<div id="user-response-<%= @user_response.id %>" class="container-fluid response-display">
  <div class="col-md-6 main fade-in two left-panel">
    <div class="row response-title">
      <div class="col-md-12">
        <%= render partial: "response_title" %>
      </div>
    </div>
    <div class="row response-content">
      <div class="col-md-12">
        <h3><%= @user_response.user_assignment.survey_type.singularize.titleize %></h3>
        <p><%= @user_response.content %></p>
      </div>
    </div>
    <div class="row response-completion-date">
      <div class="col-md-12">
        <h3>Date Target</h3>
        <p><%= @user_response.completion_target %></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 main fade-in two right-panel">
    <% if can? :set_owner_status, @user_response %>
    <ul class="nav nav-tabs pad-top">
      <li class=<%= "active" unless hf_show_ur_status? @user_response, current_user %>>
        <a href="#owner_status" data-toggle="tab">Owner Status</a>
      </li>
      <li class=<%= "active" if hf_show_ur_status? @user_response, current_user %>>
        <a href="#comments" data-toggle="tab">Comments</a>
      </li>
    </ul>
    <div class="tab-content" style="height:90%">
      <div class="tab-pane fade in <%= "active" unless hf_show_ur_status? @user_response, current_user %>" id="owner_status">
        <%= render "owner_status" %>
      </div>
      <div class="tab-pane fade in <%= "active" if hf_show_ur_status? @user_response, current_user %>" id="comments" style="height:100%">
        <div class="panel-group" style="height:100%">
          <%= render "comments" %>
        </div>
      </div>
    </div>
    <% else %>
      <%= render "comments" %>
    <% end %>
  </div>
</div>
