<div class="row main fade-in two">
  <div class="col-md-6 main fade-in two">
    <h1><%= link_to Settings.assignments_route_name.titleize.pluralize, assignment_root_path, {:class => "back-to-assignment-root"} %></h1>
  </div>
  <div class="col-md-6 main fade-in two" style="height:69px; display:table;vertical-align:middle;">
    <div style="display:table-cell; vertical-align:middle;">
      <button id="assignment-nav-toggle" type="button" class="btn btn-default" aria-label="Menu" style="float:right; vertical-align:bottom; margin: 0 auto;">
        Menu <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
    </div>
  </div>
</div>

<%= render partial: "assignment/shared/assignment_nav", locals: { display: "none" } %>

<%= render "assignment/shared/response_nav" %>

<div id="user-response-<%= @user_response.id %>" class="container-fluid response-display">
  <div class="col-md-6 main fade-in two left-panel">
    <div class="row response-title">
      <div class="col-md-12">
        <%= render partial: "response_title" %>
      </div>
    </div>
    <div class="row response-content">
      <div class="col-md-12">
        <h3><%= @user_response.user_assignment.survey_type.singularize.titleize %></h3>
        <p><%= @user_response.content %></p>
      </div>
    </div>
    <div class="row response-completion-date">
      <div class="col-md-12">
        <h3>Date Target</h3>
        <p><%= @user_response.completion_target %></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 main fade-in two right-panel">
    <%= render "comments" %>
  </div>
</div>
