<div class="message" id="message-<%= message.id %>">
  <p>
    <b><%= message.user.username %></b>
    <%= message.content %>
    <!-- <%= link_to "archive", '#', class: "btn btn-primary archive-message", data: { message_id: message.id } %> -->
    <%= link_to "delete", '#', class: "btn btn-primary delete-message", data: { message_id: message.id } %>
  </p>
</div>
