<%= content_tag :li, :class=>"nested-fields #{f.object.status.join(' ')}" do %>
    <% config_id = f.object.new_record? ? '' : "widget-config-#{@w_counter}"%>
    <div class="inner-widget-container">
        <div class="widget-controls">
            <nav class="navbar navbar-default" role="navigation">
                <div class="widget-title-container">
                    <div class="input-group">
                        <span class="input-group-addon">Title:</span>
                        <%= f.text_field :widget_title, :value=>f.object.widget_title, :class=>'form-control truncate' %>
                    </div>
                    <p class="widget-title truncate" title="<%= f.object.widget_title%>">
                        <%= f.object.widget_title %>
                    </p>
                </div>
                <%= link_to_remove_association f, :dynamic=>true, :class=>'close pull-right' do %>
                   <span aria-hidden="true">&times;</span><span class="sr-only">Delete</span>
                <% end %>
                <% if f.object.editable_widget? %>
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="fa fa-cog"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu radio-select" role="menu">
                                <li class="dropdown-header">
                                    Widget type
                                </li>
                                <% f.object.widget_type_enum.each do |widget_type, widget_title| %>
                                    <li <%= (f.object.widget_type == widget_type ? 'class="selected"'.html_safe : '') %>>
                                        <i class="fa fa-check"></i>
                                        <%= f.label :widget_type, :value=>widget_type do %>
                                            <%= widget_title %>
                                            <%= f.radio_button :widget_type, widget_type, :class=>"toggle-widget-type"%>
                                        <% end %>
                                    </li>
                                <% end %>
                                <li class="divider"></li>
                                <li class="dropdown-header">
                                    Actions
                                </li>
                                <li>
                                    <a href="#" data-target="#<%= config_id %>" data-toggle='modal'>Edit</a>
                                </li>
                                <% if f.object.widget_type && f.object.widget.nil? == false %>
                                <li>
                                    <%= link_to 'View', f.object.widget %>
                                </li>
                                <% end %>
                            </ul>
                        </li>
                    </ul>
                </div>
                <% end %>
            </nav>
            <%= f.hidden_field :position, :value=>f.object.position, :class=>'position' %>
            <%= f.hidden_field :sizex, :value=>f.object.sizex, :class=>'sizex' %>
            <%= f.hidden_field :sizey, :value=>f.object.sizey, :class=>'sizey' %>
            <%= f.hidden_field :id, :value=>f.object.id, :class=>'widget-id' %>
        </div>

        <div class="widget-content view-<%= default_widget_view(f.object) %>">
            <% if f.object.widget_type %>
                <% if !f.object.widget.nil? %>
                    <div class="widget-show">
                        <%= render :partial=>"dashboard/widgets/widget_show_#{f.object.widget_type.underscore}", :locals=>{:f=>f}%>
                    </div>

                <% end %>
            <% end %>

            <% if f.object.editable_widget? %>
            <div class="widget-config">
                <div class="col-md-2 col-md-offset-4">
                    <button data-target="#<%= config_id %>" data-toggle='modal' type="button" class="btn btn-default">Edit</button>
                    <div id="<%= config_id%>-position-marker" role="widget-position-marker" data-target="<%= config_id %>"></div>
                    <!-- Modal -->
                    <div class="modal fade" id="<%= config_id %>" data-target="#<%= config_id%>-position-marker" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-<%= @w_counter %>" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel-<%= @w_counter %>">Dashboard Widget</h4>
                          </div>
                          <div class="modal-body">
                              <div class="row">
                                <div class="col-md-4">
                                    <%= f.select :widget_type,
                                        options_for_select(f.object.widget_type_enum, f.object.widget_type),
                                        {:prompt=>"Choose what to show..."}, {:class=>'form-control'}
                                    %>
                                </div>
                                <div class="col-md-4 col-md-offset-2">
                                    <% unless f.object.widget_type.to_s == '' %>
                                        <%= f.select :widget_id,
                                            options_for_select(f.object.widget_id_enum, f.object.widget_id),
                                            {:prompt=>"Choose what to show..."}, {:class=>'form-control'}
                                        %>
                                    <% end %>
                                </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
            </div>
            <% end %>
            <% if f.object.invalid? %>
                <div class="widget-alert">
                    <div class="alert alert-danger">
                    <% if can?(:debug, :dashboard) %>
                        <%= f.object.errors.inspect %>
                    <% end %>
                    </div>
                    <div class="alert alert-danger">
                       <h3>Ooops!</h3>
                       <p>
                            It seems as though an error has occurred. If the problem persists please notify our web admin
                            <a href= "mailto:<%= Settings.admin.email %>" ><%= Settings.admin.name %></a>.
                       </p>
                   </div>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
