
<div class="container py-5">
  <div class="row">

    <!-- For demo purpose -->
    <div class="col-lg-12 mx-auto mb-5 text-white text-center">
      <h3>Overall Competency/EPA/WBA/Badge Completion (%)</h3>
    </div>
    <!-- END -->

    <div class="col-xl-3 col-lg-6 mb-4">
      <div class="bg-white rounded-lg p-5 shadow">
        <h2 class="h6 font-weight-bold text-center mb-4">Competency</h2>

        <!-- Progress bar 1 -->
        <div class="progress mx-auto" data-value="<%= @ave_comp %>">
          <span class="progress-left">
                        <span class="progress-bar border-primary"></span>
          </span>
          <span class="progress-right">
                        <span class="progress-bar border-primary"></span>
          </span>
          <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
            <div class="h2 font-weight-bold"><%= @ave_comp %><sup class="small">%</sup></div>
          </div>
        </div>
        <!-- END -->

        <!-- Demo info -->
        <div class="row text-center mt-4">
          Average of All 43 Competencies
        </div>
        <!-- END -->
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 mb-4">
      <div class="bg-white rounded-lg p-5 shadow">
        <h2 class="h6 font-weight-bold text-center mb-4">EPA</h2>

        <!-- Progress bar 2 -->
        <div class="progress mx-auto" data-value="<%= @ave_epa %>">
          <span class="progress-left">
                        <span class="progress-bar border-danger"></span>
          </span>
          <span class="progress-right">
                        <span class="progress-bar border-danger"></span>
          </span>
          <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
            <div class="h2 font-weight-bold"><%= @ave_epa %><sup class="small">%</sup></div>
          </div>
        </div>
        <!-- END -->

        <!-- Demo info-->
        <div class="row text-center mt-4">
            Average of All 13 EPAs
        </div>
        <!-- END -->
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 mb-4">
      <div class="bg-white rounded-lg p-5 shadow">
        <h2 class="h6 font-weight-bold text-center mb-4">WBA</h2>

        <!-- Progress bar 3 -->
        <div class="progress mx-auto" data-value="<%= @per_wbas %>">
          <span class="progress-left">
                        <span class="progress-bar border-success"></span>
          </span>
          <span class="progress-right">
                        <span class="progress-bar border-success"></span>
          </span>
          <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
            <div class="h2 font-weight-bold"><%= @per_wbas %> <sup class="small">%</sup></div>
          </div>
        </div>
        <!-- END -->

        <!-- Demo info -->
        <div class="row text-center mt-4">
          <div class="col-6 border-right">
            <div class="h4 font-weight-bold mb-0"><%= @no_wbas %></div><span class="small text-gray">No of WBAs</span>
          </div>
          <div class="col-6">
            <% if @rem_wbas >= 0 %>
              <div class="h4 font-weight-bold mb-0"><%= @rem_wbas %></div><span class="small text-gray">No of WBAs needed</span>
            <% else %>
                <div class="h4 font-weight-bold mb-0">0</div><span class="small text-gray">No of WBAs needed</span>
            <% end %>
          </div>
        </div>
        <!-- END -->
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 mb-4">
      <div class="bg-white rounded-lg p-5 shadow">
        <h2 class="h6 font-weight-bold text-center mb-4">Badge</h2>

        <!-- Progress bar 4 -->
        <div class="progress mx-auto" data-value="<%= (@no_badges/13.0*100).round %>">
          <span class="progress-left">
                        <span class="progress-bar border-warning"></span>
          </span>
          <span class="progress-right">
                        <span class="progress-bar border-warning"></span>
          </span>
          <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
            <div class="h2 font-weight-bold"><%= (@no_badges/13.0*100).round %><sup class="small">%</sup></div>
          </div>
        </div>
        <!-- END -->

        <!-- Demo info -->
        <div class="row text-center mt-4">
          <div class="col-6 border-right">
            <div class="h4 font-weight-bold mb-0"><%= @no_badges %></div><span class="small text-green">No of Badges Earned</span>
          </div>
          <div class="col-6">
            <div class="h4 font-weight-bold mb-0"><%= 13-@no_badges %></div><span class="small text-red">No of Badges Needed</span>
          </div>
        </div>
        <!-- END -->
      </div>
    </div>
  </div>
</div>
