<div id="<%= dom_id course_schedule %>">
  <p>
    <strong>Course schedule:</strong>
    <%= course_schedule.course_schedule %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= course_schedule.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= course_schedule.end_date %>
  </p>

  <p>
    <strong>No of seats:</strong>
    <%= course_schedule.no_of_seats %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= course_schedule.comment %>
  </p>

</div>
