<% if !@long_course_schedules.nil?  %>
  <hr>
  <h5><i><b>Course Schedules (Student View)</b></i></h5>
  <table class="responsive nowrap table table-hover table2-striped">
    <thead>
      <tr>
        <% @temp_schedules = @course_schedules.map(&:attributes) %>
        <% @temp_schedules.first.keys.each do |key| %>
          <% if !key.include? "created_at" %>
              <th><%= key.titleize %> </th>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <% @long_course_schedules.each do |course_schedule| %>
      <tr>
        <td class="small-font" style="text-align: center; width: 3%;"><%= course_schedule.id %></td>
        <td class="small-font" style="text-align: center; width: 8%;"><%= course_schedule.course_id %></td>
        <td class="small-font" style="width: 6%"><%= course_schedule.year %></td>
        <td class="small-font" style="width: 15%"><%= course_schedule.block %></td>
        <td class="small-font" style="width: 8%"><%= course_schedule.start_date.strftime("%m-%d-%Y") %></td>
        <td class="small-font" style="width: 8%"><%= course_schedule.end_date.strftime("%m-%d-%Y") %></td>
        <td class="small-font" style="text-align: center; width: 10%"><%= course_schedule.no_of_seats %></td>
        <td class="small-font"><%= course_schedule.comment %></td>
        <td class="small-font" style="width: 15%"><%= course_schedule.updated_at.strftime("%m-%d-%Y %H:%M %P") %></td>

      </tr>
    <% end %>
  </table>
<% else %>
  <h5><b>Course Schedules (Student View)</b></h5>
  <% @temp_schedules = @course_schedules.map(&:attributes) %>
  <table class="responsive nowrap table table-hover table2-striped">
    <thead>
      <tr>
        <% @temp_schedules.first.keys.each do |key| %>
          <% if !key.include? "created_at" %>
              <th><%= key.titleize %> </th>
          <% end %>
        <% end %>
        <% if ['dean', 'admin'].include? current_user.coaching_type  %>
          <th>Action<th>
        <% end %>

      </tr>
    </thead>
    <% @course_schedules.each do |course_schedule| %>
      <tr>
        <td class="small-font" style="text-align: center; width: 3%;"><%= course_schedule.id %></td>
        <td class="small-font" style="text-align: center; width: 8%;"><%= course_schedule.course_id %></td>
        <td class="small-font" style="width: 6%"><%= course_schedule.year %></td>
        <td class="small-font" style="width: 7%"><%= course_schedule.block %></td>
        <td class="small-font" style="width: 8%"><%= course_schedule.start_date.strftime("%m-%d-%Y") %></td>
        <td class="small-font" style="width: 8%"><%= course_schedule.end_date.strftime("%m-%d-%Y") %></td>
        <td class="small-font" style="text-align: center; width: 10%"><%= course_schedule.no_of_seats %></td>
        <td class="small-font"><%= course_schedule.comment %></td>
        <td class="small-font" style="width: 15%"><%= course_schedule.updated_at.strftime("%m-%d-%Y %H:%M %P") %></td>
        <% if ['dean', 'admin'].include? current_user.coaching_type  %>
          <td class="small-font" style="width: 10%">
              <%= link_to 'Edit', edit_course_schedule_path(course_schedule) %> /
              <%= link_to 'Destroy', course_schedule, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        <% end %>

      </tr>
    <% end %>
  </table>
<% end %>
