<div class="panel-group" id="accordian" role="tablist" aria-multiselectable="true">
<% ua.ur_categories.each do |category, responses| %>
  <div class="panel panel-default">
    <a class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= category.delete(' ') %>" aria-expanded="true" aria-controls="collapse<%= category.delete(' ') %>">
      <div class="panel-heading" role="tab" id="heading<% category.delete(' ') %>">
        <div class="row">
          <div class="col-md-8">
            <%= category.titleize %>
          </div>
          <div class="col-md-2">
            <%= category_status_label(responses).html_safe %>
          </div>
          <div class="col-md-2">
            <i class='fa fa fa-comments-o'></i>
          </div>
       </div>
      </div>
    </a>
  </div>
  <div id="collapse<%= category.delete(' ')%>" class="panel-collapse collapse" role="tabpanel" aria-labeledby="heading<%= category.delete(' ') %>">
    <ul class="list-group">
      <% responses.each do |ur| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-8">
            <%= link_to ur.title, assignment_user_response_path(ur) %>
          </div>
          <div class="col-md-2">
            <span class="label label-<%= status_label_color(ur) %>"><%= ur.status %></span>
          </div>
          <div class="col-md-2">
            <i class='fa fa fa-comments-o'></i>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>
