<% if @date.present? %>
  <% date ||= @date; ident = date.to_time.to_s(:number) %>
  <% iter = user_assignment.ur_categories_by date # from ua#fetch_compare %>
<% else %>
  <% ident = "" %>
  <% iter = user_assignment.ur_categories # from ua#index %>
<% end %>

<div class="panel-group" id="accordian" role="tablist" aria-multiselectable="true">
<% iter.each do |category, responses| %>
  <div class="panel panel-default">
    <a class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= category.delete(" ") + ident %>" aria-expanded="true" aria-controls="collapse<%= category.delete(" ") + ident %>">
      <div class="panel-heading" role="tab" id="heading<% category.delete(" ") %>">
        <div class="row">
          <% if hf_show_ur_status? responses, current_user %>
            <div class="col-md-6">
              <%= category.titleize %>
            </div>
            <div class="col-md-4">
              <%= hf_category_status_label(responses).html_safe %>
            </div>
          <% else %>
            <div class="col-md-4">
              <%= category.titleize %>
            </div>
            <div class="col-md-6">
              <span class="label label-default">Leave statuses to continue</span>
            </div>
          <% end %>
          <div class="col-md-2">
            <% if responses.any?{|r| r.has_comments?} %>
              <i class='fa fa fa-comments-o'></i>
            <% end %>
          </div>
       </div>
      </div>
    </a>
  </div>
  <div id="collapse<%= category.delete(" ") + ident %>" class="panel-collapse collapse" role="tabpanel" aria-labeledby="heading<%= category.delete(" ") + ident %>">
    <ul class="list-group">
      <% responses.each do |ur| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-5">
            <%= link_to ur.title, assignment_user_response_path(ur) %>
          </div>
          <div class="col-md-5">
            <div class="col-md-<%= !ur.owner_status.nil? ? "6" : "12" %>">
              <% if hf_show_ur_status? ur, current_user %>
                <span class="label label-<%= hf_label_color(ur, :status) %>"><%= ur.status %></span>
              <% end %>
            </div>
            <div class="col-md-<%= !ur.owner_status.nil? ? "6" : "12" %>">
              <% unless ur.owner_status.nil? %>
                <span class="label label-<%= hf_label_color(ur, :owner_status) %>"><%= ur.owner_status %></span>
              <% end %>
            </div>
          </div>
          <% if ur.has_comments? %>
            <div class="col-md-2">
              <%= link_to assignment_user_response_comments_path(ur), data: { toggle: :modal } do %>
                <i class='fa fa fa-comments-o'></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>
