<% ur = ua.user_responses.first %>
<ul class="list-group">
  <li class="list-group-item">
  <div class="row">
    <% if hf_show_ur_status? ur, current_user %>
      <div class="col-md-5">
        <%= link_to ur.title, assignment_user_response_path(ur) %>
      </div>
      <div class="col-md-5">
        <div class="col-md-<%= !ur.owner_status.nil? ? "6" : "12" %>">
          <% if hf_show_ur_status? ur, current_user %>
            <span class="label label-<%= hf_label_color(ur, :status) %>"><%= ur.status %></span>
          <% end %>
        </div>
        <div class="col-md-<%= !ur.owner_status.nil? ? "6" : "12" %>">
          <% unless ur.owner_status.nil? %>
            <span class="label label-<%= hf_label_color(ur, :owner_status) %>"><%= ur.owner_status %></span>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="col-md-4">
        <%= link_to ur.title, assignment_user_response_path(ur) %>
      </div>
      <div class="col-md-6">
        <span class="label label-default">Leave a status to continue</span>
      </div>
    <% end %>
    <% if ur.has_comments? %>
      <div class="col-md-2">
        <%= link_to assignment_user_response_comments_path(ur), data: { toggle: :modal } do %>
          <i class='fa fa fa-comments-o'></i>
        <% end %>
      </div>
    <% end %>
  </div>
  </li>
</ul>
