<ul class="nav nav-tabs" id="user-assignment-tabs">
  <% @service.survey_types.each_with_index do |st, i| %>
    <li class=<%= "active" if i == 0 %>>
      <a href="#<%= st.to_s %>" data-toggle="tab"><%= st.pluralize.titleize %></a>
    </li>
  <% end %>
</ul>
<div class="tab-content">
  <% @service.survey_types.each_with_index do |st, i| %>
  <div class="tab-pane fade in <%= "active" if i == 0 %>" id="<%= st.to_s %>">
    <div class="panel-group" id="accordian" role="tablist" aria-multiselectable="true">
      <% @service.recent.each do |ua| %>
        <% if ua.completed? %>
          <% if ua.survey_type == st %>
            <% if ua.is_shallow? %>
              <%= render :partial => 'assignment/user_assignments/shallow_row', locals: { ua: ua } %>
            <% else %>
              <%= render :partial => 'assignment/user_assignments/deep_rows', locals: { ua: ua } %>
            <% end %>
          <% end %>
        <% else %>
          <%= ua.status_str %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
