<%- model_class = Assignment::UserAssignment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @user_assignment.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:survey_assignment_id) %>:</strong></dt>
  <dd><%= @user_assignment.survey_assignment_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lime_token_tid) %>:</strong></dt>
  <dd><%= @user_assignment.lime_token_tid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:started_at) %>:</strong></dt>
  <dd><%= @user_assignment.started_at %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              assignment_user_assignments_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_assignment_user_assignment_path(@user_assignment), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              assignment_user_assignment_path(@user_assignment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
