<h1>Usmle Exams</h1>
<% if !@usmle_exams.empty? %>
  <table class="responsive nowrap table table-hover" id="dttb-usmle_exams" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead>
      <tr>
        <th data-data="user.references">User Id</th>
        <th data-data="user_fullname">Full Name </th>
        <th data-data="exam_type">Exam type</th>
        <th data-data="no_attempts">No attempts</th>
        <th data-data="pass_fail">Pass/Fail</th>
        <th data-data="exam_score">Exam score</th>
        <th data-data="exam_date">Exam date</th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      </tr>
    </thead>
    <% @usmle_exams.each do |exam| %>
      <tr>
        <td><%= exam.user_id %></td>
        <td><%= exam.user.full_name %></td>
        <td><%= exam.exam_type %></td>
        <td><%= exam.no_attempts %></td>
        <td><%= exam.pass_fail %></td>
        <td><%= exam.exam_score %></td>
        <td><%= exam.exam_date %></td>

      </tr>
    <% end %>
  </table>
  <%= link_to 'New USMLE/Steps Exam', new_usmle_exam_path(user_id: @usmle_exams.first.user_id, full_name: @full_name) %></td>
<% else %>

<% end %>
