
<%= form_for @epa_review,  html: {class: "form-horizontal", id: "review-form"}, remote: true  do |f| %>

    <%= f.hidden_field :reviewable_id %>
    <%= f.hidden_field :reviewable_type %>
    <%= f.hidden_field :epa %>

  <div class="col-xs-8">
      <div class="form-group">
        <%= f.label 'Recorded Date', class: "control-label col-sm-6" %>
        <%= f.date_field :review_date1,  html5: true, value: Date.today  %>
      </div>

      <div class="form-group">
        <%= f.label 'Recorded By', class: "control-label col-sm-6" %>
        <%= f.text_field :reviewed_by1,  value: 'Bumsted, Tracy',
          html5: true %>
      </div>

      <div class="form-group">
        <%= f.label 'EG Recommentation', class: "control-label col-sm-6" %>
        <%= f.select :egm_recommendation, ["Badge", "No Badge"], include_blank: '--',
           html5: true %>
      </div>


      <div class="form-group">
        <%= f.label 'Comments', class: "control-label col-sm-6" %>
        <%= f.text_area :general_comments, cols:30, rows: 5, html5: true %>
      </div>

      <div class="form-actions col-sm-6"">
        <%= f.submit "Save Changes", class: "btn-primary", id: "SubmitReview" %>
      </div>
    </div>

<% end %>
