
<br />
<%= form_for @epa_review, html: {class: "form-horizontal", id: "review-form"}, remote: true  do |f| %>

    <%= f.hidden_field :reviewable_id %>
    <%= f.hidden_field :reviewable_type %>
    <%= f.hidden_field :epa %>
  <div class="row">
   <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :review_date1,  'Recorded Date', class: "control-label col-sm-4" %>
        <%= f.date_field :review_date1,  html5: true  %>
      </div>

      <div class="form-group">
        <%= f.label :reviewer1, 'Reviewer', class: "control-label col-sm-4" %>
        <%= f.select :reviewer1, @eg_members, include_blank: '--', html5: true %>
      </div>

      <div class="form-group">
        <%= f.label :badge_decision1, 'Badge Decision', class: "control-label col-sm-4" %>
        <%= f.select :badge_decision1, ["Badge", "Deny"], include_blank: '--',
           html5: true %>
      </div>

      <div class="form-group">
        <%= f.label :trust1, 'Trust', class: "control-label col-sm-4" %>
        <%= f.select :trust1, @decision_option,  include_blank: '--',
           html5: true %>
      </div>

      <div class="form-group">
        <%= f.label 'Evidence', class: "control-label col-sm-4" %>
        <%= f.text_area :evidence1, cols:50, rows: 5, html5: true %>
      </div>

      <div class="form-group">
        <%= f.label 'Comments', class: "control-label col-sm-4" %>
        <%= f.text_area :general_comments1, cols:50, rows: 5, html5: true %>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :review_date2,  'Recorded Date', class: "control-label col-sm-4" %>
        <%= f.date_field :review_date2,  html5: true %>
      </div>

      <div class="form-group">
        <%= f.label :reviewer2, 'Reviewer', class: "control-label col-sm-4" %>
        <%= f.select :reviewer2, @eg_members, include_blank: '--', html5: true %>
      </div>

      <div class="form-group">
        <%= f.label :badge_decision2, 'Badge Decision', class: "control-label col-sm-4" %>
        <%= f.select :badge_decision2, ["Badge", "Deny"], include_blank: '--',
           html5: true %>
      </div>

      <div class="form-group">
        <%= f.label :trust2, 'Trust', class: "control-label col-sm-4" %>
        <%= f.select :trust2, @decision_option2, include_blank: '--',
           html5: true %>
      </div>

      <div class="form-group">
        <%= f.label 'Evidence', class: "control-label col-sm-4" %>
        <%= f.text_area :evidence2, cols:50, rows: 5, html5: true %>
      </div>

      <div class="form-group">
        <%= f.label 'Comments', class: "control-label col-sm-4" %>
        <%= f.text_area :general_comments2, cols:50, rows: 5, html5: true %>
      </div>

       <div class="form-actions">
         <%= f.submit "Save Changes", class: "btn-primary", id: "SubmitReview" %>
       </div>

     </div>

    </div>

<% end %>
