<div id="newEpaReviewModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:1450px;height:1000px;">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title modal-text-align-center title-inline" ><p style="color:purple"><font color="blue"><%= controller.action_name.capitalize %> Review: </font>
              <%= @epa_review_epa %> - <%= hf_epa_desc2(@epa_review_epa) %></p></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body row">
          <div role="tabpanel">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#EGReviewTab" aria-controls="EGReviewTab" role="tab" data-toggle="tab"><b>EG Review</b></a></li>
                  <li role="presentation"><a href="#EvidenceTab" aria-controls="EvidenceTab" role="tab" data-toggle="tab"><b>Evidence</b></a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="EGReviewTab">
                    <% if !@reviewable.nil? %>
                        <% if @reviewable.epa_reviews.count > 0  %>
                           <%= render partial: "epa_reviews/list_reviewable" %>
                        <% end %>
                    <% end %>
                    <%= render partial: "epa_reviews/form" %>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="EvidenceTab">
                    Evidence goes here
                  </div>
              </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
  </div>
</div>
