
      <table id="WbaDetailTable" class="table borderless table-condensed table-striped" data-sort="true" >
          <thead>
            <tr class="filters">
              <th>EPA</th>
              <th>SubmitDate</th>
              <th>ClinicalDiscipline</th>
              <th>ClinicalSetting</th>
              <th>ClincialAssessor</th>
              <th>AssessorName</th>
              <th>TimesWithSupervisor</th>
              <th>Involvment</th>
              <th>Feedback</th>
              <th>EncounterComplex</th>
            </tr>
          </thead>

            <% epas.each do |e| %>
              <tr>
                <% if e.epa == epa_code %>
                    <td><%= e.epa %></td>
                    <td><%= e.submit_date.strftime("%F") %></td>
                    <td><%= e.clinical_discipline %></td>
                    <td><%= e.clinical_setting %></td>
                    <td><%= e.clinical_assessor %></td>
                    <td><%= e.assessor_name %></td>
                    <td><%= e.no_of_times_with_super %></td>
                    <td><%= e.involvement %></td>
                    <td><%= e.more_independent %></td>
                    <td><%= e.encounter_complex ? 'Yes' : 'No' %></td>
                <% end %>
              </tr>
            <% end %>

      </table>
