

  <b><%= epa_code %> - <%= hf_epa_desc2(epa_code) %></b>
    <ul>
      <li>QA Completion bar: <b style="color:blue"><%= epa_percent %> %</b></li>
      <li>> or = 3 Narrative Comments: <b>Yes </b><!-- Button trigger modal -->
          <button type="button" class="Primary navbar-right" data-toggle="modal" data-target="#Comments">
            Click Here to Review Comments
          </button>
    </li>
    </ul>
    <%= render partial: "static_checkboxes" %>
    <h4>Total # of WBAs: <b style="color:blue"><%= wba.sum %></b>
      [4s: <b style="color:green"><%= wba[3] %></b>
       3s: <b style="color:orange"><%= wba[2] %></b>
       2s: <b style="color:purple"><%= wba[1] %></b>
       1s: <b style="color:aqua"><%= wba[0] %></b> ]
    </h4>

<hr>


<!-- Modal -->
<div class="container">
  <div id="CommentsModal">
    <div class="modal fade" id="Comments" tabindex="-1" role="dialog" aria-labelledby="CommentsLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" style="width:80%">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="CommentsLabel">Comments from Clinical Phase/Preceptors/CSL Evaluations</h4>
          </div>
          <div class="modal-body">
            <%= render partial: "narrative_comments", locals: {clinical_data: @clinical_data, preceptor_data: @preceptorship_data, csl_data: @csl_data} %>
          </div>
          <div class="modal-footer">
            <button type="button" class="" onclick='' data-dismiss="modal">close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
