<div class="container-fluid">
   <ul id="MainTabs" class="nav nav-tabs" role="tablist">

     <li class="bold-italic nav-item waves-effect waves-light">
       <a class="nav-link active" id="dean_wba-tab" data-toggle="tab" href="#dean_wba" style="background-color:#E0BBE4" role="tab" aria-controls="dean_wba" aria-selected="true">WBA Graphs
       </a>
     </li>


   </ul>
  <div class="tab-content">
    <div id="dean_wba" class="tab-pane fade active show" role="tabpanel"  aria-labelledby="dean_wba-tab">
      <div class="center-div">
        <%= form_tag(wba_graphs_index_path, method: "get", class: 'navbar-form navbar-left', id: 'wba_graph_form') do %>
          <b>Please Select a Category</b> <%= select_tag 'category_id', options_for_select(hf_get_categories, selected: params[:category_id]),
          html: {selected: true}, include_blank: "---", onchange: "this.form.submit();" %>
        <% end %>
        <br /><br />

        <hr>
          Assessor has the most 4s': <b><%= @most_fours[0] %> </b> (4s: <%= @most_fours[1] %>, total: <%= @total_count_fours %>)
          <br />
          Assessor has the most 1s': <b><%= @most_ones[0] %> </b> (1s: <%= @most_ones[1] %>, total: <%= @total_count_ones %>)
          <div class="inner-div">
            <% if !@chart.nil? %>
              <%= high_chart("wba_graph", @chart) %>
            <% end %>
          </div>
      </div>
    </div>

  </div>
</div>
