
  <table id="WbaDetailTable" class="table table-hover table-striped responsive dataTable" >

          <thead>
            <th>EPA</th>
            <th>SubmitDate</th>
            <th>ClinicalDiscipline</th>
            <th>ClinicalSetting</th>
            <th>ClincialAssessor</th>
            <th>Other Role</th>
            <th>AssessorName</th>
            <th>Involvment</th>
            <th>Feedback</th>
            <th>EncounterComplex</th>
          </thead>

        <tbody>
        <% epas.each do |e| %>
            <% if e.epa == epa_code %>
              <tr>
                <td><%= e.epa %></td>
                <td><%= e.submit_date.strftime("%F") %></td>
                <td><%= e.clinical_discipline %></td>
                <td><%= e.clinical_setting %></td>
                <td><%= e.clinical_assessor %></td>
                <td><%= e.other_role %></td>
                <td><%= e.assessor_name %></td>
                <td><%= e.involvement %></td>
                <td><%= e.more_independent %></td>
                <td><%= e.encounter_complex ? 'Yes' : 'No' %></td>
              </tr>
            <% end %>
        <% end %>
        </tbody>
  </table>
