<%= simple_form_for(@epa) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :response_id %>
    <%= f.input :student_assessed %>
    <%= f.input :assessor_name %>
    <%= f.input :assessor_email %>
    <%= f.input :epa %>
    <%= f.input :clinical_discipline %>
    <%= f.input :clinical_setting %>
    <%= f.input :clinical_assessor %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
