<br />
<h4>Detail WBAs</h4>
<% if !@epas.empty? %>
  <table id='WBATable' class="table responsive nowrap table-stripe table-hover" data-sort="true">
    <thead>
      <tr>
        <% @epa_headers.each do |header| %>
          <% if !header.include? "no_of_times" and !header.include? "meta_" %>
            <th><%= header %></th>
          <% end %>
        <% end %>
      </tr>
    </thead>
   <tbody>
    <% @epas.each do |epa| %>
      <tr>
        <% epa.each do |key, val| %>
          <% if !key.include? "no_of_times" and !key.include? "meta_" %>
            <% if key == 'id' %>
                <% if ['chungp', 'budd'].include? current_user.username %>
                  <td>
                    <%= link_to ("<i class='fa fa-edit'></i>" + val.to_s).html_safe, edit_epa_path(id: val), target: :_blank %>
                    <% response_id = epa["response_id"] %>
                    <%= link_to ("<i class='fa fa-trash'></i>").html_safe, epa_path(id: val), :method => :delete, data: {:confirm => "Are you sure?" } ,
                               :title => "Delete #{response_id}" %>
                  </td>
                <% else %>
                  <td><%= val %></td>
                <% end %>
            <% else %>
              <td><%= val %></td>
            <% end %>

          <% end %>
        <% end %>
      </tr>
    <% end %>
    </<tbody>

    </tbody>
  </table>
<% else %>
<hr>
  <h5> No WBAs Found! </h5>
<% end %>
