<br > <br >
<p id="notice"><%= notice %></p>

<p>
  <strong>Response ID:</strong>
  <%= @epa.response_id %>
</p>
<p>
  <strong>Student assessed:</strong>
  <%= @epa.student_assessed %>
</p>

<p>
  <strong>Assessor Name:</strong>
  <%= @epa.assessor_name %>
</p>
<p>
  <strong>Assessor Email:</strong>
  <%= @epa.assessor_email %>
</p>
<p>
  <strong>Submit date:</strong>
  <%= @epa.submit_date %>
</p>

<p>
  <strong>Epa:</strong>
  <%= @epa.epa %>
</p>

<p>
  <strong>Clinical discipline:</strong>
  <%= @epa.clinical_discipline %>
</p>

<p>
  <strong>Clinical setting:</strong>
  <%= @epa.clinical_setting %>
</p>

<p>
  <strong>Clincial assessor:</strong>
  <%= @epa.clinical_assessor %>
</p>

<%= link_to 'Edit', edit_epa_path(@epa) %> |
<%= link_to 'Back', epas_path(params[:user_id]) %>
