<br><br>
<div class="card" >
  <%= simple_form_for(@user, url: save_update_loa_users_path(@user), method: :get, local: true, html: { class: 'form-horizontal' },wrapper: :horizontal_form) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-group">
      <%= f.input :sid, disabled: true, label: "StudentID (Disabled)", input_html: {style: 'background-color: #D8A7B1'} %>
    </div>
    <div class="form-inputs">
      <div class="form-group">
        <%= f.input :full_name, input_html: {style: 'background-color: #A0E7E5'} %>
      </div>
      <div class="form-group">
        <%= f.input :username %>
      </div>
      <div class="form-group">
        <%= f.input :email %>
      </div>
      <div class="form-group">
        <%= f.input :spec_program, input_html: {style: 'width: 600px; background-color: #B4F8C8'} %>
      </div>
      <div class="form-group">
        <%= f.input :permission_group_id, collection: @permission_groups , label_method: :title, value_method: :id, label: "Current Cohort",
            input_html: {style: 'background-color: #B4F8C8'}, include_blank: true %>
      </div>
      <div class="form-group">
        <%= f.input :prev_permission_group_id, collection: @permission_groups , label_method: :title, value_method: :id, label: "Previous Cohort",
            input_html: {style: 'background-color: #B4F8C8'}, include_blank: true %>
      </div
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-success' %>
      <%= link_to "Cancel", :back, class: 'btn btn-warning' %>
    </div>
  <% end %>
</div>
