<% if !@events.nil? %>
  <div class="card">
    <div class="card-body">
      <table class="responsive nowrap table table-hover" data-toggle="table" id="delete_events_table" data-sort="true" data-url="<%= url_for(format: :json) %>">
        <thead>
          <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Created At</th>
            <th>AdvisorID</th>
            <th>Action</th>
          </tr>
        </thead>
        <% i = 1 %>
        <% @events.each do |event| %>
            <tr>
              <td> <%= event.id %> </td>
              <td> <%= event.description %>  </td>
              <td> <%= event.start_date.strftime("%m/%d/%Y %I:%M %p - %A") %>  </td>
              <td> <%= event.end_date.strftime("%m/%d/%Y %I:%M %p - %A") %>  </td>
              <td> <%= event.created_at.strftime("%m/%d/%Y %I:%M %p")  %>  </td>
              <td style="text-align: center"> <%= event.advisor_id %>  </td>
              <td><%= label_tag do %>
                  <%= check_box_tag "checkbox", "#{event.id}", true, id: "checkbox#{i}" %>
                  Delete
                  <% end %>
              </td>
              <% i += 1 %>
            </tr>
        <% end %>
      </table>
      <button id="DeleteAll" class="btn btn-primary">Delete All</button>
    </div>
  </div>
<% end %>
