
<%= simple_form_for(@event, html: { class: 'form-horizontal' },wrapper: :horizontal_form) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :advisor_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update Appointment" %>
  </div>
<% end %>
