
<br />
<h4>Create Available Appointments</h4>
<hr>
<div class="card">
  <div class="card-body card-body-color">
    <%= form_tag(create_batch_appointments_events_path, method: 'get', remote: true) do %>

      <div class="form-group">
          <%= label_tag :Type_Of_Advisor, nil, class: "control-label col-md-2" %>
          <% if @advisor_types.count == 1 %>
            <%= select_tag :advisor_type, options_for_select(@advisor_types, selected: @advisor_types.first), include_blank: '---',
                 required: true  %> <br />
          <% else %>
            <%= select_tag :advisor_type, options_for_select(@advisor_types, selected: params[:advisor_type]), include_blank: '---',
                 required: true  %> <br />
          <% end %>

          <div hidden>
            <div class="advisors-details" data-advisors="<%= @advisors.to_json %>"></div>
            <% if !@advisor_name.empty? %>
              <div id="IsAdvisor" data-isadvisor="Yes"></div>
            <% else %>
              <div id="IsAdvisor" data-isadvisor="No"></div>
            <% end %>
          </div>

          <%= label_tag :Advisor, nil, class: "control-label col-md-2" %>
          <% if !@advisor_name.empty? %>
            <%= select_tag :advisor, options_for_select(@advisor_name, selected: @advisor_name), include_blank: "---" , required: true  %> <br />
          <% else %>
            <%= select_tag :advisor, options_for_select(@all_advisor_names), include_blank: "---" , required: true  %> <br />
          <% end %>
          <%= label_tag "Time Slot by Mins", nil, class: "control-label col-md-2" %>
          <%= select_tag :time_slot, options_for_select(["15", "30", "45", "60"], selected: '45'),  include_blank: "---", required: true %> <br />
          <%= label_tag :StartDate , nil, class: "control-label col-md-2"%>
          <%= datetime_select("start_date", "start_date", ampm: true,  default: 1.hour.from_now, minute_step: 30)%><input type="text" id="start_weekday" name="start_weekday" disabled><br />
          <%= label_tag :EndDate, nil, class: "control-label col-md-2" %>
          <%= datetime_select("end_date", "end_date", ampm: true,  default: 6.hours.from_now, minute_step: 30) %><input type="text" id="end_weekday" name="end_weekday" disabled> <br />
          <%= label_tag :weekly_recurrences, nil, class: "control-label col-md-2" %>
          <%= select_tag "weekly_recurrences", options_for_select([*0..12]) %><br /><br />
          <%= label_tag "  ", nil, class: "control-label col-md-2" %>
          <%= submit_tag "Submit", class: "btn-sm btn-primary"%>

      </div>
    <% end %>
  </div>
</div>
<div id="appt-table"></div>
