<br />
<h4>Create Random Appointments</h4>

<div class="card">
  <div class="card-body card-body-color2">
    <%= form_tag(create_random_appointments_events_path, method: 'get', remote: true) do %>

    <div class="form-group">
      <div class="row mb-0">
        <%= label_tag :Advisor, nil, class: "control-label col-md-2 right-label" %>
        <div class="col-sm-4">
          <% if @advisor.nil? %>
            <%= select_tag :advisor, options_for_select(@advisors.collect{|s| [s["name"], s["id"]]}, selected: params[:id]), include_blank: "---", required: true, class: "form-select" %>
          <% else %>
            <%= select_tag :advisor, options_for_select(@advisors.collect{|s| [s["name"], s["id"]]}, selected: @advisor.id), include_blank: "---", required: true, class: "form-select" %>
          <% end %>
        </div>
      </div>

      <div class="row mb-0">
        <%= label_tag "Time Slot by Mins", nil, class: "control-label col-md-2 right-label" %>
        <div class="col-sm-2">
          <%= select_tag :time_slot, options_for_select(["15", "30", "45", "60"], selected: '45'),  include_blank: "---", required: true, class: "form-select" %>
        </div>
      </div>
      <hr>
      <% for i in 1..3 do %>
        <div class="row mb-0">
          <%= label_tag "Weekly Recurrences#{i}", nil, class: "control-label col-md-2 right-label" %>
          <div class="col-sm-4">
            <%= select_tag "weekly_recurrences#{i}", options_for_select([*0..12]), class: "form-select" %>
          </div>
        </div>
        <div class="row mb-0">
          <label class="control-label col-md-2 right-label">Start Date<%= i %> <i class="fa fa-calendar"></i> </label>
          <div class="col-sm-4">
            <input type="text" class="flatpickr flatpickr-input active form-control" id="rstartDate<%= i %>", name="rstartDate<%= i %>" placeholder="Select Start Date/Time..">
          </div>
        </div>
        <hr>

      <%  end %>
      <div class="row mb-0">
        <div class="col-md-2">
        </div>
        <div class="col-sm-6">
          <%= submit_tag "Submit", class: "btn btn-primary"%>
        </div>
      </div>
    <% end %>

  </div>
</div>
<div id="appt-table"></div>

<div id="success-flash"></div>
