<h4>Create Available Appointments</h4>
<hr>

<%= form_tag(create_batch_appointments_events_path, method: 'get', remote: true) do %>

  <%= label_tag :Type_Of_Advisor %>
  <%= select_tag :advisor_type, options_for_select(["Academic", "Career", "Wellness"], selected: params[:advisor_type]), include_blank: "---",
       required: true  %> <br />

  <div hidden>
    <div class="advisors-details" data-advisors="<%= @advisors.to_json %>">
    </div>
  </div>

  <%= label_tag :Advisor %>
  <%= select_tag :advisor, options_for_select([], selected: params[:advisor]), include_blank: "---" , required: true  %> <br />
  <%= label_tag :StartDate %>
  <%= datetime_select("start_date", "start_date", ampm: true,  default: 1.hour.from_now) %> <br />
  <%= label_tag :EndDate %>
  <%= datetime_select("end_date", "end_date", ampm: true,  default: 6.hour.from_now) %> <br />

  <%= submit_tag "Go" %>

<% end %>

<div id="appt-table"></div>

<%= render partial: 'detail_appointments'  %>
