<span>

  <%# <%= link_to 'New Appointment', new_event_path %>
  <%= link_to 'Add Available Appointments', create_batch_appointments_events_path, target: :_blank  %> |
  <%= link_to 'Add Random Appointments', create_random_appointments_events_path, target: :_blank  %>  |
  <%= link_to 'List Past Valid Appointments', list_past_valid_appointments_events_path, target: :_blank  %> |
  <%= link_to 'Re-send Calendar Invite', resend_calendar_invite_events_path, target: :_blank  %> |  
  <h5>All Appointments</h5>
</span>
<%= render partial: "all_valid_events"  %>
<hr>

<div id="calendar">
</div>
