<% if !@appointments.nil? %>
  <table id="send_invite_table" class="responsive nowrap table table-hover " data-toggle="table" data-sort="true" data-url="<%= url_for(format: :json) %>">
    <thead class="filters">
      <tr>
        <th data-data="appt_id">Appt ID</th>
        <th data-data="user_id">Student</th>
        <th data-data="advisor_id">Advisor</th>
        <th data-data="description">Description</th>
        <th data-data="start_date">Start date</th>
        <th data-data="end_date">End date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @appointments.each do |appointment| %>
        <tr>
          <td><%= appointment.id %> </td>
          <td><%= User.find_by(id: appointment.user_id).full_name %> </td>
          <td><%= Advisor.find_by(id: appointment.advisor_id).name %></td>
          <td><%= appointment.description %> </td>
          <% if appointment.start_date.to_datetime.localtime.to_s.include? "-0800" %>
            <td><%= (appointment.start_date.to_datetime + 8.hours).strftime("%m/%d/%Y at %I:%M %p - %A")   %></td>
            <td><%= (appointment.end_date.to_datetime + 8.hours).strftime("%m/%d/%Y at %I:%M %p - %A")  %></td>
          <% else %>
            <td><%= (appointment.start_date.to_datetime + 7.hours).strftime("%m/%d/%Y at %I:%M %p - %A")   %></td>
            <td><%= (appointment.end_date.to_datetime + 7.hours).strftime("%m/%d/%Y at %I:%M %p - %A")  %></td>
          <% end %>
          <td><%= link_to 'Resend Invite', resend_invite_events_path(id: appointment.id) %> </td>
        </tr>
    <% end %>
   </tbody>
  </table>

<% end %>
<br />
<a href="/events">Back</a>
