<div class="nested-fields chart-series col-md-12">
    <div class="col-md-3">
        <%= link_to_remove_association '<i class="icon icon-remove-sign"></i>Remove'.html_safe, f, :class=>'btn btn-default' %>
    </div>
    <div class="col-md-3">
        <%= f.label :group_filter %>
        <%= f.select :group_filter,
            options_for_select(f.object.group_filter_enum, f.object.group_filter),
            {:include_blank=>'Select Group', :disable_with=>'Updating...'},
            {:class=>'form-control'} %>
    </div>
    <div class="col-md-3">
        <%= f.label :category_filter do %>
            Category
            <i class="icon-spinner icon-spin icon-large" style="display:none;"></i>
        <% end %>
        <%= f.select :category_filter,
            options_for_select(f.object.category_filter_enum, f.object.category_filter),
            {
                :include_blank=>'Select category',
                :disable_with=>'Updating...'
            },
            {
                :class=>'form-control',
                :disabled=>f.object.category_filter_enum.empty?} %>
    </div>
    <div class="col-md-3">
        <%= f.label :question_filter do %>
            Question:
            <i class="icon-spinner icon-spin icon-large" style="display:none;"></i>
        <% end %>
        <%= f.select :question_filter,
            options_for_select(f.object.question_filter_enum, f.object.question_filter),
            {
                :include_blank=>'Select Question',
                :disable_with=>'Updating...'
            },
            {
                :class=>'form-control',
                :disabled=>f.object.question_filter_enum.empty?} %>

            <%= f.hidden_field :question_options_filter, :value=>'', :multiple=>true%>
            <% f.object.question_options_filter.each do |val| %>
                <% next if val.to_s.empty? %>
                <%= f.hidden_field :question_options_filter, :value=>val, :multiple=>true%>
            <% end %>

    </div>
</div>
