<% content_for :head do %>
    <%= render :partial=>'charts/content_for_head' %>
<% end %>
<div class="chart-container-outer">
    <%= form_for @chart, :html=>{:class=>'chart-container'} do |f| %>

        <header class="chart-header">
            <h2>
                <i class="fa fa-bar-chart-o"></i>
                <%= link_to 'Charts', charts_path %>
                <span> / </span>
                <% if @chart.new_record? %>
                    <a href="#">New Chart</a>
                <% else %>
                    <%= link_to chart_path(@chart), :id=>"chart_title_label", :class=>'de-emphasize'  do %>
                        <%= @chart.title.strip.empty? ? "Untitled" : @chart.title %>
                    <% end %>
                <% end %>

                <div class="pull-right form-actions">
                    <%= f.submit "Save", :class=>"btn btn-success show-on-dirty" %>
                    <button type="button" class="btn btn-default hide-on-dirty" disabled="disabled">Save</button>
                    <% if @chart.new_record? %>
                        <%= link_to 'Cancel', charts_path, :class=>'btn btn-small btn-danger', :style=>'margin-left:2em;' %>
                    <% else %>
                        <%= link_to 'Cancel', chart_path(@chart), :class=>'btn btn-small btn-danger', :style=>'margin-left:2em;' %>
                        <% if can? :destroy, @chart %>
                            <%= link_to chart_path(@chart), :method=>:delete, :class=>'btn btn-danger',
                                :data=>{:confirm=>'Are you sure you want to delete this chart?'} do %>
                                <i class="fa fa-trash-o"></i>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>

            </h2>
        </header>
        <hr/>

        <div class="chart-form-container row">
            <div class='chart-hidden-fields hidden_fields' style="display:none;">
                <%= f.hidden_field :aggregator_type, :value=>f.object.aggregator_type %>
                <%= f.hidden_field :chart_type, :value=>f.object.chart_type %>
                <%= content_tag :div, :data=>{:show_chart_path=>(f.object.new_record? ? new_chart_path : url_for(f.object))} %>

                <%= f.hidden_field :cols, :value=>'', :multiple=>true %>
                <% f.object.cols.each do |val| %>
                    <% next if val.to_s.empty? %>
                    <%= f.hidden_field :cols, :value=>val, :multiple=>true %>
                <% end%>

                <%= f.hidden_field :rows, :value=>'', :multiple=>true%>
                <% f.object.rows.each do |val| %>
                    <% next if val.to_s.empty? %>
                    <%= f.hidden_field :rows, :value=>val, :multiple=>true%>
                <% end %>
                <%= f.hidden_field :years_filter, :value=>'', :multiple=>true%>
                <% f.object.years_filter.each do |val| %>
                    <% next if val.to_s.empty? %>
                    <%= f.hidden_field :years_filter, :value=>val, :multiple=>true%>
                <% end %>

            </div>

            <!-- Series -->
            <div class="chart-series-container row">
                <div class="col-md-12">
                    <% @chart.chart_series.build if @chart.chart_series.nil? || @chart.chart_series.empty? %>
                    <%= f.fields_for :chart_series do |chart_series| %>
                        <%= render 'chart_series_fields', :f=>chart_series %>
                    <% end %>
                    <% # Allow link if there are not too many questions %>
                        <%= link_to_add_association '<i class="icon icon-plus"></i>Add Series'.html_safe,
                            f, :chart_series, :class=>'btn btn-default',
                            'data-association-insertion-position'=>'before',
                            'data-association-insertion-node'=>'this'
                        %>
                    <button type="button" class="add_fields_disabled btn btn-default" disabled="disabled">Add Series</button>
                </div>
            </div>
            <!-- Title -->
            <div class="row" style="<%= "display:none;" if @chart.dataset.nil? %>margin-bottom:7px;">
                <hr/>
                <div class="col-md-12">
                    <div class="col-md-4">
                        <%= f.label :chart_title %>
                        <%= f.text_field :title, :placeholder=>'Enter name of chart here', :class=>"form-control" %>
                    </div>
                </div>
            </div>
            <div class="chart-visualization-container-outer row">
                <%= render :partial=>'charts/chart_visualization', :locals=>{:chart=>@chart}%>
            </div>
        </div>

        <div class="col-md-12">
            <hr/>
            <div class="pull-right form-actions">
                <%= f.submit "Save", :class=>"btn btn-success show-on-dirty" %>
                <button type="button" class="btn btn-default hide-on-dirty" disabled="disabled">Save</button>
                <% if @chart.new_record? %>
                    <%= link_to 'Cancel', charts_path, :class=>'btn btn-small btn-danger', :style=>'margin-left:2em;' %>
                <% else %>
                    <%= link_to 'Cancel', chart_path(@chart), :class=>'btn btn-small btn-danger', :style=>'margin-left:2em;' %>
                    <% if can? :destroy, @chart %>
                        <%= link_to chart_path(@chart), :method=>:delete, :class=>'btn btn-danger',
                            :data=>{:confirm=>'Are you sure you want to delete this chart?'} do %>
                            <i class="fa fa-trash-o"></i>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
