
<table class="responsive nowrap table table-hover" id="EventsTable" data-url="<%= url_for(format: :json) %>">
    <thead>
      <tr>
        <th data-data="id">Id</th>
        <!--th data-data="title">Title</th> -->
        <th data-data="description">Description</th>
        <th data-data="start_date">Start date</th>
        <th data-data="end_date">End date</th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      </tr>
    </thead>
  <tbody>
  <% if !@events.nil? %>
    <% @events.each do |event| %>
      <% if event.description.to_s != "" %>
        <tr class="<%= hf_row_background_color (event.description) %>">
          <% found = [] %>
          <% found = Coaching::Meeting.where(event_id: event.id) %>
          <% if found.empty? %>
            <td><%= event.id %></td>
            <td><%= event.description %></td>
            <td><%= event.start_date.strftime("%m/%d/%Y %I:%M %p - %A") %></td>
            <td><%= event.end_date.strftime("%m/%d/%Y %I:%M %p - %A")%></td>

            <% if event.description.include? "Cantone" or event.description.include? "Schneider" %>
                <% advisor_type = 'Assist Dean' %>
            <% else %>
                <% advisor_type = event.description.split(" - ") %>
                <% if advisor_type[0].include? "Advisor" %>
                  <% advisor_type = advisor_type[0].gsub(" Advisor", "") %>
                <% else %>
                  <% advisor_type = advisor_type[0] %>
                <% end %>
            <% end %>

            <td id='advisor-<%= "#{event.id}" %>' data-start-date="<%= event.start_date.strftime("%m/%d/%Y %I:%M %p") %> " data-advisor-<%= "#{event.id}" %> = "<%= event.advisor_id %>"
                  data-advisor-type="<%= advisor_type %>">
              <%= label_tag :event_id, "select", style: "color:#338BA8;"  %> &nbsp;
              <%= radio_button_tag :event_id, "#{event.id}" %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>
