<table class="table table-hover main-table">
  <thead>
    <tr>
      <th><%= hf_sort_link "created_at", "Added On" %></th>
      <th><%= hf_sort_link "name", "Goal" %></th>
      <th><%= hf_sort_link "competency_tag" %></th>
      <th><%= hf_sort_link "g_status", "Status" %></th>
    </tr>
  </thead>

  <tbody id="goals-table">
    <% if !@goals.nil? %>
      <% @goals.each do |g| %>
        <%= render partial: "coaching/goals/goal_row", locals: { goal: g } %>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @goals %>
