<div id="container">
    <br />
    <div class="form-row">
      <% if current_user.dean_or_higher? and ['chungp', 'bumstedt', 'chomina', 'cantone', 'schneibe'].include? current_user.username %>
            &nbsp; &nbsp; &nbsp; &nbsp;

            <%= link_to "OASIS Graphs", oasis_graphs_coaching_student_path(id: "Graphs"), method: :post, remote: true %> &nbsp;  &nbsp;  |  &nbsp; &nbsp;
            <%= form_tag(advisor_reports_coaching_student_path, method: :post, remote: true) do %>
                <%= label_tag :Advisor %>
                <%= select_tag :advisor_id, options_from_collection_for_select(@advisors, "id", "name"), selected: params[:id], include_blank: "...",
                    prompt: "Please Select an Advisor" %>

                    <label for="start">
                         Start Date:
                     </label>
                     <input type="date" name="StartDate"
                         value="2022-01-01"
                         min="1997-01-01" max="2030-12-31">

                     <label for="End">
                           End Date:
                     </label>
                     <input type="date" name="EndDate"
                          value=<%= Date.today.strftime("%Y-%m-%d") %>
                         min="1997-01-01" max="2030-12-31">

                 <%= submit_tag "Go", name: 'advisor-reports-btn' %>
            <% end %>
      <% elsif hf_advisor(current_user) == true %>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <span> <%= link_to "OASIS Graphs", oasis_graphs_coaching_student_path(id: "Graphs"), method: :post, remote: true %> &nbsp;  &nbsp;
             <i class="fa fa-hand-o-left" style="color:#FF0000" aria-hidden="true"> &nbsp;Click Here to View Graphs</i> </span>
      <% end %>

    </div>
  <br /> <br />
  <div id="advisor-reports">
    <% if !@advisor.nil? %>
      <%= render partial: "advisor_reports", locals: {advisor: @advisor} %>
    <% end %>
  </div>

  <div id="oasis-graphs">
    <% if @oasis_graphs_flag %>
      <% render partial: "oasis_graphs" %>
    <% end %>
  </div>

</div>
