<div id="cs-goals-nav">
  <div class="flex-child">
    <div id="cs-sidebar-toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></div>
  </div>

  <% if current_user.coach? %>
    <%= render partial: "cohorts_select" %>
  <% elsif current_user.dean_or_higher? %>
    <%= render partial: "coaches_select" %>
  <% end %>

  <div class="flex-child">
    <%= render partial: "system_explanation" %>
  </div>
</div>

<div id="cs-goals-main">

  <% if current_user.coach_or_higher? %>
    <div id="cs-student-select">
      <%= render partial: "student_select" %>
    </div>
    <hr>
  <% end %>

  <h3 class="goals-header">Coaching Documentation System</h3>

  <ul class="nav nav-tabs goal-tabs" role="tablist" id="myTab">
    <li class="nav-item active">
      <a class="nav-link" id="goals-tab" data-toggle="tab" href="#goals" role="tab" aria-controls="goals" aria-selected="true">Goals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="meetings-tab" data-toggle="tab" href="#meetings" role="tab" aria-controls="meetings" aria-selected="false">Meetings</a>
    </li>
  </ul>

  <div class="tab-content" style="height: 50%;">
    <div class="tab-pane active" id="goals" role="tabpanel" aria-labelledby="goals-tab" style="height: 75%">
      <div class="table-controls">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newGoalModal">Add new goal</button>

        <%= form_tag completed_goals_coaching_student_path(@student), method: :post, remote: true, name: "goal_checkbox", class: "complete-checkbox" do %>
          <label for="goal_complete">Status</label>
          <%= check_box "goal", "complete", {}, "yes", "no" %>
          <label for="goal_complete">Completed?</label>
        <% end %>

        <%= form_tag search_goals_coaching_student_path(@student), method: :post, remote: true, class: "search-bar" do %>
          <%= text_field_tag :goal_search, params[:goal_search], placeholder: "Search" %>
          <%= submit_tag "Search", name: 'goal-search-btn' %>
        <% end %>

        <%= render partial: "goals_table" %>
      </div>
    </div>
      <div class="tab-pane fade" id="meetings" role="tabpanel" aria-labelledby="meetings-tab">
        <div class="table-controls">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newMeetingModal">Add new meeting</button>

          <%= form_tag search_meetings_coaching_student_path(@student), method: :post, remote: true, class: "search-bar" do %>
            <%= text_field_tag :meeting_search, params[:meeting_search], placeholder: "Search" %>
            <%= submit_tag "Search", name: 'meeting-search-btn' %>
          <% end %>
        </div>

        <%= render partial: "meetings_table" %>
      </div>

  </div>

  <div class="general-comments" id="room-identifier" data-room-number=<%= "#{@room_id}" %>>
    <div class="w3-container">
      <div class="h4-general-comments">General Comments</div>
    </div>
    <div class="chat-wrapper">
      <div class="general-messages" id="room-id-<%= "#{@room_id}" %>">
        <% @messages.each do |message| %>
          <%= render partial: "messages/message", locals: { message: message } %>
        <% end %>
      </div>

      <% unless current_user.dean? %>
        <div class="room-speaker">
          <input type="text" data-behavior="room_speaker" data-room-number=<%= "#{@room_id}" %> style="width: 40%" placeholder="General Comments - type in here & press RETURN to save..">
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="cs-detail">
  <div class="spinner-holder">
    <%= image_tag 'spinner.gif' %>
  </div>
</div>


<div class="modal fade" id="newGoalModal" tabindex="-1" role="dialog" aria-labelledby="newGoalModalLabel" aria-hidden="true">
  <%= render partial: "coaching/goals/new_modal" %>
</div>
<div class="modal fade" id="newMeetingModal" tabindex="-1" role="dialog" aria-labelledby="newMeetingModalLabel" aria-hidden="true">
  <%= render partial: "coaching/meetings/new_modal" %>
</div>
