
<div id="cs-goals-nav">
  <div class="flex-child">
    <br />
    <div id="cs-sidebar-toggle"><span class="fa fa-bars" aria-hidden="true"></span></div>
  </div>

  <% if current_user.coach? %>
    <%= render partial: "cohorts_select" %>
  <% elsif current_user.dean_or_higher? %>
    <%= render partial: "permission_groups_select" %>
  <% end %>
</div>

<div id="cs-goals-main">
  <br />
  <h5 class="goals-header" data-coaching-type="<%= current_user.coaching_type %>" >OASIS Documentation System -<span style="font-size:24px;color:purple" ><%= hf_get_label(current_user) %></span></h5>

  <% if current_user.coach_or_higher? %>

      <div class="card" style="height: 5rem;">
        <div class="card-body">
          <div id="cs-student-select">
            <%= render partial: "student_select" %>
          </div>
        </div>
      </div>
  <% end %>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active"  id="nav-meetings-tab" data-bs-toggle="tab" data-bs-target="#nav-meetings" type="button" role="tab" aria-controls="nav-meetings" aria-selected="false">Meetings</button>
      <button class="nav-link " id="nav-appointments-tab" data-bs-toggle="tab" data-bs-target="#nav-appointments" type="button" role="tab" aria-controls="nav-appointments" aria-selected="true">Appointments</button>
      <button class="nav-link" id="nav-documents-tab" data-bs-toggle="tab" data-bs-target="#nav-documents" type="button" role="tab" aria-controls="nav-documents" aria-selected="false">IPAS/IPPS Docs</button>
      <button class="nav-link" id="nav-reports-tab" data-bs-toggle="tab" data-bs-target="#nav-reports" type="button" role="tab" aria-controls="nav-reports" aria-selected="false">OASIS Reports</button>

    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade " id="nav-appointments" role="tabpanel" aria-labelledby="nav-appointments-tab">
      <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
                <% if current_user.dean_or_higher? %>
                  <br />
                  <%= link_to "Appointments", events_path, class: "button btn btn-info",  target: '_blank' %>
                  <%= link_to "Advisors", advisors_path, class: "button btn btn-primary", target: '_blank' %>
                  <% if @advisor_type == "Wellness" %>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newMeetingModal" id="newMeetingButton">Create Retro-Appointment</button>
                  <% end %>
                <% end %>
                <br />
                <%= render partial: "appointments" %>
            </div>
         </div>
      </div>
    </div>
    <div class="tab-pane fade show active" id="nav-meetings" role="tabpanel" aria-labelledby="nav-meetings-tab">
      <div class="table-controls">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newMeetingModal" id="newMeetingButton">Create New Appointment</button>
        <%= link_to("<span style='font-size:16px'><i>Clinical Phase Dataset (>= Med20)</i></span>".html_safe,
            user_competencies_path(user_id: @student.id), class: "link-to-text-color", target: '_blank') %>

        <%= form_tag search_meetings_coaching_student_path(@student), method: :post, remote: true, class: "search-bar" do %>
          <%= text_field_tag :meeting_search, params[:meeting_search], placeholder: "Search" %>
          <%= submit_tag "Search", name: 'meeting-search-btn' %>
        <% end %>
      </div>
      <%= render partial: "meetings_table" %>
    </div>
    <div class="tab-pane fade" id="nav-documents" role="tabpanel" aria-labelledby="nav-documents-tab">
        <%= render partial: "detail_artifacts", locals: {artifacts: @artifacts} %>
    </div>

    <div class="tab-pane fade" id="nav-reports" role="tabpanel" aria-labelledby="nav-reports-tab">
        <%= render partial: "oasis_reports"  %>
    </div>
    <div class="tab-pane fade" id="nav-sensitive" role="tabpanel" aria-labelledby="nav-sensitive-tab">
      <div class="row">
        <div class="column">
          <div class="card">
            <%= render partial: "dashboard/tot_failed_exams"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="cs-detail">
  <div class="spinner-holder">
    <%= image_tag 'spinner.gif' %>
  </div>
</div>

<div class="modal fade" id="newMeetingModal" tabindex="-1" role="dialog" aria-labelledby="newMeetingModalLabel" aria-hidden="true">
  <%= render partial: "coaching/meetings/new_meeting_modal" %>
</div>
