
<div id="cs-goals-nav">
  <% if current_user.coach? %>
    <%= render partial: "cohorts_select" %>
  <% elsif current_user.admin_or_higher? %>
    <%= render partial: "coaches_select" %>
  <% end %>
</div>

<div id="cs-goals-main">

  <% if current_user.coach_or_higher? %>
    <div id="cs-student-select">
      <%= render partial: "student_select" %>
    </div>
    <hr>
  <% end %>

  <h3 class="goals-header">Coaching Documentation System</h3>

  <ul class="nav nav-tabs goal-tabs" role="tablist">
    <li class="nav-item active">
      <a class="nav-link" id="goals-tab" data-toggle="tab" href="#goals" role="tab" aria-controls="goals" aria-selected="true">Goals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="meetings-tab" data-toggle="tab" href="#meetings" role="tab" aria-controls="meetings" aria-selected="false">Meetings</a>
    </li>
  </ul>

  <div class="tab-content" style="height: 80%;">
    <div class="tab-pane active" id="goals" role="tabpanel" aria-labelledby="goals-tab" style="height: 75%">
      <div class="table-controls">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newGoalModal">Add new goal</button>

        <%= form_tag search_goals_coaching_student_path(@student), method: :post, remote: true, class: "search-bar" do %>
          <%= text_field_tag :goal_search, params[:goal_search], placeholder: "Search" %>
          <%= submit_tag "Search", name: nil %>
        <% end %>
      </div>

      <%= render partial: "goals_table" %>
    </div>

    <div class="tab-pane fade" id="meetings" role="tabpanel" aria-labelledby="meetings-tab">
      <div class="table-controls">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newMeetingModal">Add new meeting</button>

        <%= form_tag search_meetings_coaching_student_path(@student), method: :post, remote: true, class: "search-bar" do %>
          <%= text_field_tag :meeting_search, params[:meeting_search], placeholder: "Search" %>
          <%= submit_tag "Search", name: nil %>
        <% end %>
      </div>

      <%= render partial: "meetings_table" %>
    </div>

    <div class="general-comments">
      <h1 id="room-identifier" data-room-number=<%= "#{@room_id}" %>>chat</h1>
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div id="messages">
            <% @messages.each do |message| %>
              UserID: <%= message.user_id %>
              <%= message.content %>  --> <%= message.created_at %> <br/>
            <% end %>
          </div>
        </div>

        <hr>

        <div class="row">
          <form style="width: 100%">
            <div id="general-room" data-room-id=<%= "#{@room_id}" %>> </div>
              <input type="text" data-behavior="room_speaker"
              style="width: 100%" placeholder="type in here">
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>



<div class="modal fade" id="newGoalModal" tabindex="-1" role="dialog" aria-labelledby="newGoalModalLabel" aria-hidden="true">
  <%= render partial: "coaching/goals/new_modal" %>
</div>
<div class="modal fade" id="newMeetingModal" tabindex="-1" role="dialog" aria-labelledby="newMeetingModalLabel" aria-hidden="true">
  <%= render partial: "coaching/meetings/new_modal" %>
</div>
