<div id="cs-goals-nav">
  <%= render partial: "cohorts_select" %>
</div>

<div id="cs-goals-main">

  <% if current_user.coach_or_higher? %>
    <div id="cs-student-select">
      <%= render partial: "student_select" %>
    </div>
    <hr>
  <% end %>

  <h3 class="goals-header">here are some goals</h3>

  <ul class="nav nav-tabs goal-tabs" role="tablist">
    <li class="nav-item active">
      <a class="nav-link" id="goals-tab" data-toggle="tab" href="#goals" role="tab" aria-controls="goals" aria-selected="true">Goals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="meetings-tab" data-toggle="tab" href="#meetings" role="tab" aria-controls="meetings" aria-selected="false">Meetings</a>
    </li>
  </ul>

  <div class="tab-content" style="height: 80%;">
    <div class="tab-pane active" id="goals" role="tabpanel" aria-labelledby="goals-tab" style="height: 75%">
      <div class="new-button-holder">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newGoalModal">Add new goal</button>
      </div>

      <%= render partial: "goals_table" %>
    </div>

    <div class="tab-pane fade" id="meetings" role="tabpanel" aria-labelledby="meetings-tab">
      <div class="new-button-holder">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newMeetingModal">Add new meeting</button>
      </div>

      <%= render partial: "meetings_table" %>
    </div>

    <div class="general-comments">
      <h1 id='room-identifier' data-room-number=<%= "#{@room.id}" %>>chat</h1>

      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div id="messages">
            <% @messages.each do |message| %>
              UserID: <%= message.user_id %> --
              <%= message.content %> <br/>
            <% end %>
          </div>
        </div>

        <hr>

        <div class="row">
          <form style="width: 100%">
            <input type="text" data-behavior="room_speaker"
            style="width: 100%" placeholder="type in here">
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="cs-detail"></div>

<div class="modal fade" id="newGoalModal" tabindex="-1" role="dialog" aria-labelledby="newGoalModalLabel" aria-hidden="true">
  <%= render partial: "coaching/goals/new_modal" %>
</div>
<div class="modal fade" id="newMeetingModal" tabindex="-1" role="dialog" aria-labelledby="newMeetingModalLabel" aria-hidden="true">
  <%= render partial: "coaching/meetings/new_modal" %>
</div>
