<table class="table table-striped table-hover" id="dttb-new_competencies" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead class="thead-light">
      <tr>
        <th>Course name</th>
        <th style="width: 5%" scope="col">StartDt</th>
        <th style="width: 5%" scope="col">EndDt</th>
        <th style="width: 5%" scope="col">SubmitDt</th>
        <th>Evaluator</th>
        <th>FinalGrade</th>
        <th>ProfConcern</th>
        <th>Feedback</th>
        <th>MSPE Comment</th>
      </tr>
    </thead>

  <% selected_competencies = hf_course_type(new_competencies, course_type) %>
  <% selected_competencies.each do |comp| %>
      <tr>
        <td><%= comp.course_name %> </td>
        <td><%= comp.start_date%> </td>
        <td><%= comp.end_date %> </td>
        <td><%= comp.submit_date %> </td>
        <td><%= comp.evaluator %> </td>
        <td>
          <% final_grade = hf_final_grade2(comp.final_grade) %>
          <% if final_grade == 'Pass' %>
            <a class="btn btn-info" href="#" data-bs-html="true" data-bs-placement="right" rel="tooltip" <span style="white-space: normal" data-bs-toggle="tooltip"
                title="<%= hf_format_final_grade(comp.final_grade) %>" ><%= final_grade %></span></a>
          <% elsif final_grade == 'NP' %>
            <a class="btn btn-danger" href="#" data-bs-html="true" data-bs-placement="right" rel="tooltip" <span style="white-space: normal" data-bs-toggle="tooltip"
                title="<%= hf_format_final_grade(comp.final_grade) %>" ><%= final_grade %></span></a>
          <% else %>
            <a class="btn btn-info" href="#" data-bs-html="true" data-bs-placement="right" rel="tooltip" <span style="white-space: normal" data-bs-toggle="tooltip"
                title="<%= hf_format_final_grade(comp.final_grade) %>" ><%= final_grade %></span></a>
          <% end %>
        </td>
        <td><%= comp.prof_concerns %> </td>
        <td><%= comp.feedback.to_s.gsub("{cr}{newline}", "").gsub("{tab}", " ") %> </td>
        <td><%= comp.mspe.to_s.gsub("{cr}{newline}", "") %> </td>

      </tr>

  <% end %>

</table>
