<div id="<%= dom_id new_competency %>">
  <p>
    <strong>User:</strong>
    <%= new_competency.user_id %>
  </p>

  <p>
    <strong>Permission group:</strong>
    <%= new_competency.permission_group_id %>
  </p>

  <p>
    <strong>Student uid:</strong>
    <%= new_competency.student_uid %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= new_competency.email %>
  </p>

  <p>
    <strong>Medhub:</strong>
    <%= new_competency.medhub_id %>
  </p>

  <p>
    <strong>Course name:</strong>
    <%= new_competency.course_name %>
  </p>

</div>
