<table class="table table-hover table-striped table-light responsive-sm">
  <% if ['chungp', 'fruhwirt', 'meltond', 'petesama', 'bumstedt', 'itot'].include? current_user.username %>
    <tr><td style="text-align:left">Email</td><td style="color:brown"><%= link_to result.email.to_s, update_loa_users_path(email: result.email), class: "nav-link blue-text" ,target: :_blank %></td></tr>
    <tr><td style="text-align:left">SID</td><td> <%= link_to result.sid.to_s, update_loa_users_path(sid: result.sid), class: "nav-link blue-text", target: :_blank %></td></tr>
  <% else %>
      <tr><td style="text-align:left">Email</td><td style="color:brown"><%= result.email %> </td></tr>
      <tr><td style="text-align:left">SID</td><td><%= result.sid %> </td></tr>
  <% end %>

  <tr><td style="text-align:left">Current Cohort</td><td><%= result.permission_group.title.to_s  %> </td></tr>
  <tr><td style="text-align:left">Previous Cohort</td><td><%= hf_get_permission_title(result.prev_permission_group_id)  %> </td></tr>
  <tr><td style="text-align:left">Program Status</td><td><%= result.spec_program %> </td></tr>
  <tr><td style="text-align:left">Matriculated Date</td><td><%= result.matriculated_date.to_s %> </td></tr>
  <tr><td style="text-align:left">New Competency</td><td style="color:red"><%= result.new_competency? ? 'Yes' : 'No' %> </td></tr>
  <tr><td style="text-align:left">Former Name</td><td><%= result.former_name %> </td></tr>
  <tr>
    <% bls_record = result.ume_bls %>
    <% if !bls_record.nil? %>
       <% if bls_record.expiration_date.after? (Date.today) %>
           <td style="text-align:left">BLS ExpDate</td><td style="color:green"> <b><%= bls_record.expiration_date.strftime("%F") %></b></td>
       <% else %>
           <td style="text-align:left">BLS ExpDate</td><td style="color:red"> <b><%= bls_record.expiration_date.strftime("%F") %></b></td>
       <% end %>
    <% else %>
        <td style="text-align:left">BLS ExpDate</td><td style="color:red"><b>No BLS Data</b></td>
    <% end %>
  </tr>
  <tr><td style="text-align:left"># of WBAs (All levels)</td><td style="color:purple"><b><%= result.epas.where.not(involvement: 0).count.to_s %></b></td></tr>
  <tr><td style="text-align:left"># of Badges Awarded</td><td style="color:purple"><b><%= result.epa_masters.where('status = ? and status_date < ?','Badge', hf_releaseDate(result)).count.to_s %></b></td></tr>
</table>
