

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
              <div class="panel-heading panel-heading-backgroud-color" style="height: 40px;padding:0" role="tab" id="headingWBA">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseWBA" aria-expanded="false" aria-controls="collapseWBA">
                      <i>WBA Details Data [Click Me]<i>
                    </a>
                  </h4>
              </div>
              <div id="collapseWBA" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingWBA">
                  <div class="panel-body">
                    <table id="CollapsibleWbaTable" class="table borderless table-condensed table-striped" data-sort="true" ">
                        <thead>
                          <tr class="filters">
                            <th>EPA</th>
                            <th>SubmitDate</th>
                            <th>ClinicalDiscipline</th>
                            <th>ClinicalSetting</th>
                            <th>ClincialAssessor</th>
                            <th>Other Role</th>
                            <th>AssessorName</th>
                            <th>AttendingFaculty</th>
                            <th>Involvment</th>
                            <th>Feedback</th>
                            <th>EncounterComplex</th>
                          </tr>
                        </thead>
                        <% if !@epas.blank? %>
                          <% @epas.each do |e| %>
                            <tr>
                                <td><%= e.epa %></td>
                                <td><%= e.submit_date.strftime("%F") %></td>
                                <td><%= e.clinical_discipline %></td>
                                <td><%= e.clinical_setting %></td>
                                <td><%= e.clinical_assessor %></td>
                                <td><%= e.other_role %></td>
                                <td><%= e.assessor_name %></td>
                                <td style="text-align:center"><%= e.attending_faculty.nil? ? "" : 'Yes' %></td>
                                <td style="text-align:center"><%= e.involvement %></td>
                                <td><%= e.more_independent %></td>
                                <td><%= e.encounter_complex ? 'Yes' : 'No' %></td>
                            </tr>
                          <% end %>
                        <% end %>
                    </table>
                  </div>
              </div>
          </div>
    </div>
