<H4>Collapsible EPA Section </h4>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% if !@student_epa.blank? %>

    <% for i in 1..13 do %>
      <% epa_code = "epa#{i}" %>
      <% epa = hf_epa_level3_detail(@comp, i.to_s, "3") %>
      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingEPA<%= i %>">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEPA<%= i %>" aria-expanded="false" aria-controls="collapseEPA<%= i %>">
                  <div class="labels">
                    <span>EPA<%= i %> - <%= hf_get_epa_desc2("EPA#{i}") %> </span>

                  </div>

                  <div id="EPA-Progress-<%= i %>" class="progress" data-amount = "<%= @student_epa[epa_code] %>" >
                        <div id="EPA-<%= i %>" class="amount" style="width: <%= 100-@student_epa[epa_code] %>%"> </div>
                  </div>

                </a>
              </h4>
          </div>
          <div id="collapseEPA<%= i %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEPA<%= i %>">
              <div class="panel-body">
                  <%= render partial: "epa_assessors", locals: {:i => i, :epa => epa, :assessors => hf_epa_asessors} %>
              </div>
          </div>
      </div>
    <% end %>
  <% else %>
    <h4> No EPA/Competencies Data FOUND! </h4>
  <% end %>
</div>
