<p style="color:purple;font-size:22px;"><b>EPAs/Badges Section</b>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEPA_Graph" aria-expanded="false" aria-controls="collapseEPA_Graph">
    EPA Graph
  </button>
  <% if current_user.username.include? 'chungp' %>
    <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEPA_New_Graph" aria-expanded="false" aria-controls="collapseEPA_New_Graph">
      EPA New Graph
    </button>
  <% end %>
</p>
<% if !@chart_epa.nil? %>
  <div class="collapse" id="collapseEPA_Graph">
    <div class="card card-body">
      <%= high_chart("epa_graph", @chart_epa) %>  </div>
  </div>

  <div class="collapse" id="collapseEPA_New_Graph">
    <div class="card card-body">
      <%= high_chart("epa_new_graph", @chart_epa_new) %>  </div>
  </div>
<% end %>

  <% if !@student_epa.blank? %>
    <% for i in 1..13 do %>
      <% epa_code = "epa#{i}" %>
      <% epa = hf_epa_level3_detail(@comp, i.to_s, "3") %>
        <div class="accordion" id="accordionEpaParent">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEPA<%= i %>" aria-expanded="false" aria-controls="collapseEPA<%= i %>">
                <div class="labels">
                  <span><h5>EPA<%= i %> - <%= hf_get_epa_desc2("EPA#{i}") %>
                    <% if hf_ok_to_release_badge(@student_badge_info["EPA#{i}"]["status_date"], @release_date) #current_user.coaching_type != "student" %>
                      [Badge Status:
                      <% if @student_badge_info["EPA#{i}"]["status"] == 'Badge' and !@spec_program_msg.include? "Paused badging" %>
                            <span style="color:purple;"><%=  @student_badge_info["EPA#{i}"]["status"] %></span>]
                            <%= image_tag ("epa/EPA#{i}"), size: "20x20" %>
                      <% else %>
                            <span style="color:blue;"> <%= @student_badge_info["EPA#{i}"]["status"] %></span>]
                            <%= image_tag ("epa/EPA#{i}"), size: "20x20", class: "opaque-image" %>
                      <% end %>
                    <% else %>
                            <%= image_tag ("epa/EPA#{i}"), size: "20x20", class: "opaque-image" %>
                    <% end %></h5>

                    <div id="EPA-Progress-<%= i %>" class="start-progress comp-progress" comp-data-amount = "<%= @student_epa[epa_code] %>" >
                          <div id="EPA-<%= i %>" class="comp-amount" style="width: <%= 100-@student_epa[epa_code] %>%"> </div>
                    </div>
                  </span>
                </div>
              </button>
            </h2>
            <div id="collapseEPA<%= i %>" class="accordion-collapse collapse" data-bs-parent="#accordionEpaParent">
              <div class="accordion-body">
                <%= render partial: "competencies/detail_badge_display", locals: {i: i, epa: epa} %>
                <%= render partial: "competencies/epa_assessors", locals: {:i => i, :epa => epa, :assessors => hf_epa_asessors} %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <br />
      <h5 style="color:orange;"> No EPA/Competencies Data FOUND! </h5>
      <hr>
    <% end %>
