<div id="CompDomain<%= comp_domain %>" class="tab-pane fade active show">
     <table class="table borderless table-condensed table-striped table-hover">
        <tr>
            <th>Competency</th>
            <!-- th style="text-align:center"># of Not Able To Assess<br />(Level 0)</th>  -->
            <th style="text-align:center"># of Pre-Entrustables<br />(Level 1)</th>
            <th style="text-align:center"># of Approaching Entrustables<br />(Level 2)</th>
            <th style="text-align:center"># of Entrustables Achieved<br />(Level 3)</th>
            <th style="text-align:center">Goal # of Entrustables<br />by Assessors </th>
            <th style="text-align:center"># of Entrustables Remaining</th>
        </tr>

         <!-- % epa_level0 = hf_epa_level(@comp_hash0, i.to_s, "0") %>  -->

         <% @comp_hash3.each do |k, val| %>

           <% comp_codes.map!(&:downcase) %>
           <% if comp_codes.include? k %>
              <% rem = (val-assessors[k])*(-1) %>
              <tr>
                 <td style="text-align:center"><a href="#" data-bs-placement="right" data-bs-toggle="tooltip"  data-bs-title="<%= hf_get_comp_desc2(k.upcase + "-E") %>" >
                 <b><%= k.upcase %></b></a></td>
                  <!-- <td style="text-align:center"><font color="purple"> --> <!--%= epa_level0[k] == 0? "" : epa_level0[k] %></td> -->
                  <td style="text-align:center"><b>
                    <a href="#" style="color:red" data-bs-html="true" data-bs-toggle="tooltip" title="<%= hf_get_courses(@comp, k, 1) %>"> <%= @comp_hash1[k] == 0? "" : @comp_hash1[k] %></a></b>
                  </td>
                  <td style="text-align:center"><b>
                    <a href="#" style="color:tomato" data-bs-html="true" data-bs-toggle="tooltip" title="<%= hf_get_courses(@comp, k, 2) %>"> <%= @comp_hash2[k] == 0? "" : @comp_hash2[k]%></a></b>
                  </td>
                  <td style="text-align:center"><b>
                      <a href="#" style="color:green" data-bs-html="true" data-bs-toggle="tooltip" title="<%= hf_get_courses(@comp, k, 3) %>"><%= val == 0? "" : val %></a></b>
                  </td>
                  <td style="text-align:center"><font color="blue"><b><%= assessors[k] %><b></font></td>

                  <% if rem <=0 %>
                     <td style="text-align:center"><font color="green"><span class="fa fa-thumbs-up"></span>!!</font></td>
                  <% else %>
                      <td style="text-align:center">
                        <b> <%= rem %> </b>
                        <% if k == 'ics1' %>
                          <%= link_to("Courses", courses_path(competency_code: k), target: '_blank') %>
                        <% end %>
                      </td>


                  <% end %>
                  <% comp_ave = ((val/assessors[k].to_f)*100).round(0) %>
                  <% comp_ave = comp_ave > 100? 100 : comp_ave %>

                  <td width="30%">
                      <span>
                        <div id="progress-<%= k %>" class = "comp-progress" comp-data-amount = "<%= comp_ave %>" >
                              <div id="competency-<%= k %>" class="comp-amount" style="width: <%= 100-comp_ave %>%"> </div>
                        </div>
                      </span>
                  </td>

              </tr>
            <% end %>
         <% end %>

     </table>
</div>
