
  <table class="table table-striped responsive">
    <thead>

      <tr>
        <th scope="col">CourseName</th>
        <th style="width: 5%" scope="col">StartDt</th>
        <th style="width: 5%" scope="col">EndDt</th>
        <th style="width: 5%" scope="col">SubmitDt</th>
        <th scope="col">Evaluator</th>
        <th scope="col">FinalGrade</th>
        <th scope="col">ProfConcern</th>
        <th score="col">FeedBack</th>
        <th scope="col">MSPE</th>
      </tr>
    </thead>
    <% @comp.each do |cd| %>

      <% if cd["course_name"].include? "730" or cd["course_name"].include? "731" %>
          <tr>
            <td><%= cd["course_name"] %></td>
            <td><%= cd["start_date"] %></td>
            <td><%= cd["end_date"] %></td>
            <td><%= cd["submit_date"] %></td>
            <td><%= cd["evaluator"] %></td>
            <td>
              <% final_grade = hf_final_grade2(cd['final_grade']) %>
              <% if final_grade == 'Pass' %>
                <a class="btn btn-info" href="#" data-bs-html="true" data-bs-placement="right" rel="tooltip" <span style="white-space: normal" data-bs-toggle="tooltip"
                    title="<%= hf_format_final_grade(cd['final_grade']) %>" ><%= final_grade %></span></a>
              <% elsif final_grade == 'NP' %>
                <a class="btn btn-danger" href="#" data-bs-html="true" data-bs-placement="right" rel="tooltip" <span style="white-space: normal" data-bs-toggle="tooltip"
                    title="<%= hf_format_final_grade(cd['final_grade']) %>" ><%= final_grade %></span></a>
              <% else %>
                <a class="btn btn-info" href="#" data-bs-html="true" data-bs-placement="right" rel="tooltip" <span style="white-space: normal" data-bs-toggle="tooltip"
                    title="<%= hf_format_final_grade(cd['final_grade']) %>" ><%= final_grade %></span></a>
              <% end %>

            </td>
            <td><%= cd["prof_concerns"].to_s.gsub("{cr}{newline}", "") %></td>
            <td><%= cd["feedback"].to_s.gsub("{cr}{newline}", "").gsub("{tab}", " ") %></td>
            <% if final_grade == 'NP' %>
               <td style="color: #a85261"><%= cd["mspe"].to_s.gsub("{cr}{newline}", "") %></td>
            <% else %>
               <td><%= cd["mspe"].to_s.gsub("{cr}{newline}", "") %></td>            
            <% end %>

          </tr>
      <% end %>
    <% end %>
  </table>
