<br />

      <%= simple_form_for @competency, action: 'create', method: 'post' do |f| %>
              <%= f.input :user_id, collection: @users %> <br>
              <%= f.input :permission_group_id  %>
              <%= f.input :student_uid %>
              <%= f.input :email %>
              <%= f.input :medhub_id %>
              <% # <%= f.input :course_id %>
              <%= f.hint " ** If you don't find the course in the dropdown list, please select the Test course for now and contact Patrick! **" %>
              <%= f.input :course_id, collection: Competency.select(:course_id, :course_name).distinct.order(:course_name),
                   label_method: :course_name, value_method: :course_id, prompt: true, html5: true, class: "form-control"  %>

              <%= f.input :course_name, input_html: { size: 100, readonly: true } %>
              <%= f.input :start_date, as: :date, html5: true %>
              <%= f.input :end_date, as: :date, html5: true%>
              <%= f.input :submit_date, as: :date, html5: true %>
              <%= f.input :evaluator  %>
              <%= f.input :final_grade  %>
              <%= f.input :prof_concerns, input_html: { size: 50 }  %>
              <%= f.input :mspe, input_html: { size: 20 }  %>

              <% hf_comp_codes.each do |code| %>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name='compChecked[]' id="check_<%= code %>" value="<%= code %>" >
                    <label class="form-check-label" for="inlineCheckbox_<%= code %>"><%= code %></label>

                </div>
              <% end %>

              <%= f.submit :submit, class: "btn btn-primary" %>

      <% end %>
