<br />
<br />
<div class="container-fluid">
   <ul id="MainTabs2" class="nav nav-tabs" role="tablist">

       <li class="bold-italic nav-item waves-effect waves-light">
         <a class="nav-link" id="fom-tab" data-toggle="tab" href="#fom" style="background-color:#f4cccc" role="tab" aria-controls="fom" aria-selected="false">
           <%= image_tag("fom.png") %>FoM Blocks
         </a>
       </li>
       <li class="bold-italic nav-item waves-effect waves-light">
         <a class="nav-link" id="Preceptorship-tab" data-toggle="tab" href="#Preceptorship" style="background-color:#fce5cd" role="tab" aria-controls="Preceptorship" aria-selected="false">
           <%= image_tag("preceptor.png", size: "24x24") %>Preceptorship
         </a>
       </li>
       <li class="bold-italic nav-item waves-effect waves-light">
         <a class="nav-link" id="scholarly-tab" data-toggle="tab" href="#scholarly" style="background-color:#d9ead3" role="tab" aria-controls="scholarly" aria-selected="false">Scholarly Project
         </a>
       </li>
       <li class="bold-italic nav-item waves-effect waves-light">
         <a class="nav-link" id="transition-tab" data-toggle="tab" href="#transition" style="background-color:#cfe2f3" role="tab" aria-controls="transition" aria-selected="false">Transition Courses
         </a>
       </li>
       <li class="active bold-italic nav-item waves-effect waves-light">
         <a class="nav-link actove" id="core-tab" data-toggle="tab" href="#core" style="background-color:#d9d2e9" role="tab" aria-controls="core" aria-selected="true">Core Experiences <span class="badge badge-secondary"><%= hf_total_count_comp(@comp, ["730", "731"]) %>
         </a>
       </li>
       <li class="bold-italic nav-item waves-effect waves-light">
         <a class="nav-link" id="elective-tab" data-toggle="tab" href="#elective" style="background-color:#DAF7A6" role="tab" aria-controls="elective" aria-selected="false">Electives
         </a>
       </li>
       <li class="bold-italic nav-item waves-effect waves-light">
         <a class="nav-link" id="intersessions-tab" data-toggle="tab" href="#intersessions" style="background-color:#e0b0a6" role="tab" aria-controls="intersessions" aria-selected="false">Intersessions
         </a>
       </li>
       <li class="bold-italic nav-item waves-effect waves-light">
         <a class="nav-link" id="nbme-tab" data-toggle="tab" href="#nbme" style="background-color:#FAF7A6" role="tab" aria-controls="nbme" aria-selected="false">
           <%= image_tag("nbme.png", size: "24x24") %>NBME/CPX
         </a>
       </li>
       <li class="bold-italic nav-item waves-effect waves-light">
         <a class="nav-link" id="all_clinical-tab" data-toggle="tab" href="#all_clinical" style="background-color:#CEC8E9" role="tab" aria-controls="all_clinical" aria-selected="false">
           <%= image_tag("courses.png", size: "24x24") %>All Courses</a>
       </li>
       <li class="bold-italic nav-item waves-effect waves-light">
         <a class="nav-link" id="competency-tab" data-toggle="tab" href="#competency" style="background-color:#E0BBE4" role="tab" aria-controls="competency" aria-selected="false">
           <%= image_tag("competency.png", size: "24x24") %>Competencies
         </a>
       </li>
       <li class="bold-italic nav-item waves-effect waves-light">
         <a class="nav-link" id="epa-tab" data-toggle="tab" href="#epa" style="background-color:#a8e0a6" role="tab" aria-controls="epa" aria-selected="false">EPAs/WBAs/Badges
         </a>
       </li>
       <li class="bold-italic nav-item waves-effect waves-light">
         <a class="nav-link" id="official-tab" data-toggle="tab" href="#official" style="background-color:#BEC8F8" role="tab" aria-controls="official" aria-selected="false">Official Student Letters <span class="badge badge-warning"><%= @no_official_docs %></span>
         </a>
       </li>


   </ul>
  <div class="tab-content">
    <div id="fom" class="tab-pane fade" role="tabpanel"  aria-labelledby="fom-tab">
        <%= render partial: "fom_blocks" %>
        <div class="panel panel-default">
            <div class="panel-body"><h4>CSL Formative Feedback</h4></div>
        </div>
         <div class="table-responsive-sm">
          <% if !@csl_data.blank? %>
                <%= render partial: "csl_evals" %>
          <% end %>
          <% if !@csl_feedbacks.blank? %>
            <%= render partial: "csl_feedbacks/csl_feedbacks", locals: {csl_feedbacks: @csl_feedbacks} %>
          <% end %>
        </div>

    </div>
    <div id="Preceptorship" class="tab-pane fade" role="tabpanel"  aria-labelledby="Preceptorship-tab">
      <%= render partial: "preceptorships" %>
    </div>

    <div id="scholarly" class="tab-pane fade" role="tabpanel"  aria-labelledby="scholarly-tab">
      <%= render partial: "scholarly_project" %>
    </div>

    <div id="transition" class="tab-pane fade" role="tabpanel"  aria-labelledby="transition-tab">
      <%= render partial: "transition" %>
    </div>

    <div id="core" class="tab-pane fade active show" role="tabpanel"  aria-labelledby="core-tab">
      <div class="center-div">
          <% if !@comp.nil? %>
            <%= render partial: "core_courses" %>
          <% else %>
            <h4> No Core Courses data FOUND! </h4>
          <% end %>
        </div>
    </div>

    <div id="elective" class="tab-pane fade"  role="tabpanel"  aria-labelledby="elective-tab">
      <% if !@comp.nil? %>
        <%= render partial: "electives" %>
      <% else %>
        <h4> No Elective Courses data FOUND! </h4>
      <% end %>
    </div>

    <div id="intersessions" class="tab-pane fade" role="tabpanel"  aria-labelledby="intersessions-tab">
      <%= render partial: "intersessions" %>
    </div>

    <div id="nbme" class="tab-pane fade"  role="tabpanel"  aria-labelledby="nbme-tab">
        <%= render partial: "nbme" %>
    </div>

    <div id="all_clinical" class="tab-pane fade" role="tabpanel"  aria-labelledby="all_clinical-tab">
      <%= render partial: "all_clinical" %>
    </div>

    <div id="competency" class="tab-pane fade" role="tabpanel"  aria-labelledby="competency-tab">
      <div class="container-fluid">
          <div class="center-div">
            <div class="inner-div">
              <% if !@chart.nil? %>
                <br /> <br />
                <%= high_chart("comp_graph", @chart) %>
                <%= render partial: "collapsible_competencies" %>
                <% else %>
                  <h4> No Competency/EPA data FOUND! </h4>
              <% end %>
            </div>
          </div>

      </div>
    </div>

    <div id="epa" class="tab-pane fade" role="tabpanel"  aria-labelledby="epa-tab">
      <div class="center-div">
        <div class="inner-div">
            <% if !@epas.blank?  %>
              <div id="data-visualization-AdHocAllEPAs" style="margin: 0 auto"></div>
              <br>
            <% end %>

          <% wba_epa_student = hf_series_data_student("EPA", params[:user_id], false) %>
          <% if !wba_epa_student.nil? %>
             <%= high_chart("wba_epa_student_graph", wba_epa_student) %>
          <% end %>
          <% wba_clinical_assessor = hf_series_data_student("Clinical Assessor", params[:user_id], false) %>
          <% if !wba_clinical_assessor.nil? %>
            <%= high_chart("wba_clinical_assessor_graph", wba_clinical_assessor) %>
          <% end %>

          <%= render partial: "collapsible_wba_details" %>

          <%= render partial: "collapsible_epas" %>
        </div>
      </div>
    </div>
    <div id="official" class="tab-pane fade" role="tabpanel"  aria-labelledby="official-tab">
        <div id="Progress Board">
            <%= render partial: 'artifacts/detail_artifacts', locals: {idx_epa: "Official Student Letters"} %>
        </div>
    </div>

  </div>
</div>
