

<%= form_for Coaching::Goal.new,  html: {class: "form-horizontal", id: "GoalForm"}, remote: true do |f| %>

  <div class="form-group">
    <%= f.label "Goal", class: "control-label col-sm-2" %>
    <%= f.text_field :name, maxlength: 50, required: true %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "control-label col-sm-2" %>
    <%= f.text_area :description, class: "col-sm-6" %>
  </div>

  <div class="form-group">
    <%= f.label :competency_tag, class: "control-label col-sm-2" %>
    <%= f.select :competency_tag,
      options_for_select(hf_competency_tags_for_select),
      { include_blank: "---" },
      required: true
    %>
  </div>

  <div class="form-group">
    <%= f.label "Target Completion Date", class: "control-label col-sm-2" %>
    <%= f.date_field :target_date, required: true, id: 'target-date' %>
  </div>

  <%= f.hidden_field :user_id, value: student.id %>

  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= f.submit "Save", class: 'btn btn-primary', id: 'goal-submit' %>
    </div>
  </div>
<% end %>
