<tr id="show-detail">
  <td><%= goal.created_at.strftime("%m/%d") %></td>
  <td><%= goal.name %></td>
  <td><%= goal.competency_tag %></td>
  <td><%= goal.status %></td>
  <% if current_user.admin_or_higher? %>
    <td><%= link_to "delete", coaching_goal_path(goal), method: :delete, class: "btn btn-default" %></td>
  <% end %>
</tr>
