<tr class="show-detail" id="goalId-<%= goal.id %>">
  <td><%= goal.created_at.strftime("%m/%d") %></td>
  <td><%= goal.name %></td>
  <td><%= goal.competency_tag %></td>
  <td><%= goal.status %></td>
  <td><%= link_to 'Details', show_detail_coaching_goal_path(goal), remote: true, class: "btn btn-default" %></td>
</tr>
