<div id="detail-message">
</div>
<div class="detail-header">
  <h3 class="title-inline"><%= goal.name %></h3>
  <% if current_user.admin_or_higher? %>
    <%= link_to "Delete", coaching_goal_path(goal), method: :delete, remote: true, class: "btn btn-default" %>
  <% end %>
  <button type="button" class="close" aria-label="Close" id="hide-detail">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="detail-section">
  <h4>Goal Details</h4>
  <div><i>Status: </i><%= select_tag "g_status", options_for_select(["Not Started", "Needs Work", "On Track", "Completed"], goal.g_status), class: "status-picker", data: { goalId: goal.id } %></div>
  <div><i>Competency Tag: </i><%= hf_tag_to_human goal.competency_tag %></div>
  <div><i>Target Date: </i><%= goal.target_date.strftime("%m/%d") %></div>
</div>

<div class="detail-section">
  <h4>Description</h4>
  <div><%= goal.description %></div>
</div>

<div class="detail-section">
  <h4>Comments</h4>
  <div class="goal-comments">
      <h1 id="room-identifier-goal" data-room-number=<%= "#{goal.room.id}" %>>chat</h1>

        <div class="row">
          <div id="room-id-<%= "#{goal.room.id}" %>">
              <% goal.room.messages.each do |message| %>
                <%= render partial: "/messages/message", locals: {message: message} %>
            <% end %>

          </div>
        </div>

        <hr>

        <div class="row">
          <form style="width: 100%">
              <input id="goal_comment_room" type="text" data-behavior="room_speaker_goal"
              style="width: 100%" placeholder="type in here">
          </form>
        </div>


  </div>
</div>
