<%= image_tag Settings.site.logo, :src=>'logo', :style=>'width:100%;position:absolute;left:0;opacity:0.05;'%>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1><%= Settings.site.name %></h1>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>Ooops!</h2>
        You are likely visiting this page because you do not have permission to view any other pages.
        If this is an error please contact
        <a href="mailto:<%= Settings.admin.email %>?subject=Access to <%= Settings.site.name%>&body=I
have an account on the website, but I do not have any permissions. Can you add the permissions that I need
 in order to access the website? %0A%0AThank you,%0A%0A -<%= current_user.username %>">
            <%= Settings.admin.name %>
        </a> for assistance
    </div>
    <div class="col-md-2"></div>
</div>
