
<%= image_tag Settings.site.logo, :src=>'logo', :style=>'width:100%;position:absolute;left:0;opacity:0.05;'%>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>Error 404</h1>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>Page not found</h2>
        The page you are looking for cannot be found. There are several possibilities for why this has happened:
        <ol>
            <li>It is possible that the page was deleted or moved</li>
            <li>It could be an error on our part</li>
            <li>The address that you are trying to reach was typed incorrectly</li>
        </ol>
        <p>
        If you believe this is to be an error please contact
        <a href="mailto:<%= Settings.admin.email %>?subject=Access to <%= Settings.site.name%>&body=There
        is a missing page on the website. Can you take a look at it. %0A%0AThank you%0A%0A">
            <%= Settings.admin.name %>
        </a> for assistance
        </p>
        <% some_path = auto_path %>
        <%= link_to('Return', some_path, :class=>'btn btn-default') if some_path %>
    </div>
    <div class="col-md-2"></div>
</div>

