<%= simple_form_for Coaching::Meeting.new, html: {class: "inline block", id: "MeetingForm"}, remote: true do |f| %>
  <% if (!advisor_type.nil?) and (advisor_type.include? 'Career' or advisor_type.include? 'Academic'  or advisor_type == "Academic: Step 1 Advising" or advisor_type == 'DEIB' or advisor_type == 'Assist Dean' ) %>
    <div hidden>
      <div class="advisors-type" data-advisor_type="<%= advisor_type %>">
      </div>
    </div>

    Advisor Name: <b><%= current_user.full_name %></b><br />
    Advisor Type: <b><%= advisor_type %> (<%= advisor_id %>)</b>
    <%= f.hidden_field :advisor_id, value: advisor_id %>
    <%= f.hidden_field :advisor_type, value: advisor_type %>
    <br />

    <%= f.hidden_field :user_id, value: student.id %>
    <%= f.hidden_field :date, value: Time.now.strftime('%Y-%m-%d') %>
    <%= f.hidden_field :location, value: 'Phone/Webex/Email/Retro-Appt' %>
    <%= f.hidden_field :m_status, value: 'Completed' %>

    <div class="card">
      <div class="card-body card-body-color">

        <div class="row mb-0" id="fields">
          <label class="control-label col-md-3 right-label" for="TimeSlot"> Time Slot by Mins</label>
          <div class="col-sm-4">
            <select name="time_slot" id="time_slot" class="form-select" >
                <option value="30">30</option>
                <option value="45" selected>45</option>
                <option value="60">60</option>
            </select>
          </div>
        </div>

        <div class="row mb-0">
          <label class="control-label col-md-3 right-label">Appointment Date <i class = "fa fa-calendar "></i></label>
          <div class="col-sm-4">
            <input type="text" class="flatpickr flatpickr-input active form-control" id="startDateRetro", name="startDateRetro" placeholder="Click here to Select Date..">
          </div>
        </div>

          <div class="row mb-0">
          <label class="control-label col-md-3 right-label"></label>
          <div class="col-sm-6">
            <div class="form-check">
              <input class="form-check-input select-this-date" type="checkbox", id="selelct_this_date", name="select_this_date" disabled>
              <label class="form-check-label" >
                Select the Above Followup Appointment
              </label>
            </div>
          </div>
        </div>

        <div class="row mb-0">
          <label class="control-label col-md-3 right-label"></label>
          <div class="col-sm-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox", id="email_notification", name="email_notification">
              <label class="form-check-label" for="defaultCheck1">
                Email Notification
              </label>
            </div>
            </div>
          </div>
          <% if ['Career', 'Career/Student Affairs' 'Assist Dean'].include? advisor_type %>
            <div class="row mb-0">
              <label class="control-label col-md-3 right-label"></label>
              <div class="col-sm-4">
                <div class="form-check">
                  <% if current_user.username != 'mansoord' and student.spec_program.include? "Graduated" %>
                    <input class="form-check-input" type="checkbox", id="graduated_student", name="graduated_student", checked=true >
                  <% else %>
                    <input class="form-check-input" type="checkbox", id="graduated_student", name="graduated_student">
                  <% end %>
                  <label class="form-check-label" for="defaultCheck1">
                    Met with Graduated Student?
                  </label>
                </div>
                </div>
              </div>
          <% end %>

        <div class="card" id="AppointmentCard">
          <div class="card-body">
            <div class="form-group">
              <div class="card-header">
                <h5 class="panel-title">Available Appointments <%#<button type="button" class="btn btn-primary" id="show_all_events">Show ALL</button>%></h5>
              </div>
                <div id="All-Events">
                <% # <%= render partial: "coaching/students/all_events", locals: {f: f}  %>
               </div>
             </div>
           </div>
        </div>

      </div>
    </div>

    <div class="card" id="OtherCard">
      <div class="card-body">
          <div class="form-group">
            <b><%= f.label :subject, "Primary Reason(s)", class: "control-label col-md-6" %></b><br />
            <div  id='coaching_meeting_subjects'>
            </div>
          </div>
      </div>
    </div>

    <div class="card" id="DiscussedCard">
      <div class="card-body card-body-color"">
          <div class="form-group">
            <% if advisor_type.include? 'Career' %>
              <% advisor_subjects = hf_career_advisor_discussed_for_select %>
            <% elsif advisor_type == "Academic" or advisor_type =='Academic/Student Affairs' or advisor_type == "Academic: Step 1 Advising"  %>
              <% advisor_subjects = hf_academic_advisor_discussed_for_select %>
              <% advisor_study_resources = hf_academic_study_resources_for_select %>
            <% elsif advisor_type == "Wellness" %>
                <% advisor_subjects = hf_wellness_advisor_discussed_for_select %>
            <% elsif advisor_type == 'DEIB' %>
                <% advisor_subjects = hf_diversity_navigator_for_select %>
            <% elsif advisor_type == 'Assist Dean' %>
                <% advisor_subjects = hf_assist_dean_for_select%>
            <% else %>
              <% advisor_subjects = hf_academic_advisor_discussed_for_select %>
            <% end %>
            <% if advisor_type != 'DEIB' %>
              <b><%= f.label :subject, "Advisor Discussed (Check all that apply):", class: "control-label col-md-6" %></b><br />
              <%= collection_check_boxes(:coaching_meeting, :advisor_discussed, advisor_subjects, :first, :first, checked: nil) do |b| %>
                <label for="MeetingFormAdvisorDiscussed">
                  <%= b.check_box(checked: false, class: 'MyCheckBoxAdvisorDiscussed') %>
                  <%= b.text %>
                </label> <br />
             <% end %>
            <% end %>


           <% if advisor_type == "Academic" or advisor_type =='Academic/Student Affairs' or advisor_type == "Academic: Step 1 Advising" %>
              <%= f.text_field :academic_discussed_other, id: 'academic_discussed_other' %>
              <hr>

              <i><%= f.label :subject, "Study Resource(s)", class: "control-label col-md-6" %></i><br />
              <%= collection_check_boxes(:coaching_meeting, :study_resources, advisor_study_resources, :first, :first, checked: nil) do |b| %>
                <label for="MeetingFormStudyResources">
                  <%= b.check_box(checked: false, class: 'MyCheckBoxStudyResources') %>
                  <%= b.text %>
                </label> <br />
             <% end %>
             <%= f.text_field :study_resources_other, id: 'academic_study_resources_other' %>
           <% elsif advisor_type == "Career" %>
              <%= f.text_field :career_discussed_other,  id: 'career_discussed_other' %>
           <% end %>

          </div>
      </div>
    </div>

    <div class="card" id="DiscussedCard">
      <div class="card-body">

          <% if advisor_type == 'Academic' or advisor_type =='Academic/Student Affairs' or advisor_type == "Academic: Step 1 Advising" %>
              <% advisor_outcomes = hf_meeting_ipas_for_select %>
          <% elsif advisor_type.include? 'Career'  %>
              <% advisor_outcomes = hf_meeting_ipps_for_select %>
          <% elsif advisor_type == 'Wellness'  %>
              <% advisor_outcomes = hf_wellness_advisor_discussed_for_select %>
          <% elsif advisor_type ==  'DEIB' %>
              <% advisor_outcomes = '' %>
          <% else %>
              <% advisor_outcomes = hf_meeting_ipas_for_select %>
          <% end %>
          <% if advisor_type != 'DEIB' %>

            <div class="form-group">
              <b><%= f.label :subject, "Outcomes/Recommendation (Check all the apply):", class: "control-label col-md-8" %></b>
            </div>
            <%= collection_check_boxes(:coaching_meeting, :advisor_outcomes, advisor_outcomes, :first, :first, checked: nil) do |b| %>
              <label for="MeetingFormAdvisorOutcomes">
                <%= b.check_box(checked: false, class: 'MyCheckBoxAdvisorOutcomes') %>
                <%= b.text %>
              </label> <br />
           <% end %>
         <% end %>
         <% if advisor_type == "Academic" or advisor_type == "Academic: Step 1 Advising" %>
            <%= f.text_field :academic_outcomes_other,  id: 'academic_outcomes_other' %>
          <% elsif advisor_type.include? "Career" %>
              <%= f.text_field :career_outcomes_other, id: 'career_outcomes_other' %>
          <% end %>
      </div>
    </div>

    <div class="card">
      <div class="card-body card-body-color">
        <div class="form-group">
          <%= f.label :notes, 'Student Notes (optional)', class: "control-label col-sm-4" %>
          <%= f.text_area :notes, class: "col-sm-6 form-control" %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body card-body-color2">
        <div class="form-group">
          <b><%= f.label :subject, "Advisor Meeting Documentation:", class: "control-label col-md-6" %></b>
        </div>
        <%= f.text_area :advisor_notes, class: "updateAdvisorNotes", rows: 5, style: 'width:100%', class: "form-control" %>
      </div>
    </div>

  <% elsif (!advisor_type.nil?) and (advisor_type  == 'Wellness') %>
      <div hidden>
        <div class="advisors-type" data-advisor_type="<%= advisor_type %>">
        </div>
      </div>

      Advisor Name: <b><%= current_user.full_name %></b><br />
      Advisor Type: <b><%= advisor_type %></b>
      <%= f.hidden_field :advisor_id, value: advisor_id%>
      <%= f.hidden_field :advisor_type, value: advisor_type%>
      <br />

      <%= f.hidden_field :user_id, value: student.id %>
      <%= f.hidden_field :date, value: Time.now.strftime('%Y-%m-%d') %>
      <%= f.hidden_field :location, value: 'Phone/Webex/Email/Retro-Appt' %>
      <%= f.hidden_field :m_status, value: 'Completed' %>

      <div class="card">
        <div class="card-body card-body-color">

          <div class="row mb-0" id="fields">
            <label class="control-label col-md-3 right-label" for="TimeSlot"> Time Slot by Mins</label>
            <div class="col-sm-4">
              <select name="time_slot" id="time_slot" class="form-select" >
                  <option value="30">30</option>
                  <option value="45" selected>45</option>
                  <option value="60">60</option>
              </select>
            </div>
          </div>

          <div class="row mb-0">
            <label class="control-label col-md-3 right-label">Appointment Date <i class = "fa fa-calendar "></i></label>
            <div class="col-sm-4">
              <input type="text" class="flatpickr flatpickr-input active form-control" id="startDateRetro", name="startDateRetro" placeholder="Click here to Select Date..">
            </div>
          </div>
        </div>

        <div class="row mb-0">
          <label class="control-label col-md-3 right-label"></label>
          <div class="col-sm-6">
            <div class="form-check">
              <input class="form-check-input select-this-date" type="checkbox", id="selelct_this_date", name="select_this_date" disabled>
              <label class="form-check-label" >
                Select the Above Followup Appointment
              </label>
            </div>
          </div>
        </div>

        <div class="row mb-0">
          <label class="control-label col-md-3 right-label"></label>
          <div class="col-sm-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox", id="email_notification", name="email_notification">
              <label class="form-check-label" for="defaultCheck1">
                Email Notification
              </label>
            </div>
            </div>
          </div>

      </div>

      <div class="card" id="OtherCard">
        <div class="card-body">
            <div class="form-group">
              <b><%= f.label :subject, "Primary Reason(s)", class: "control-label col-md-6" %></b><br />
              <div  id='coaching_meeting_subjects'>
              </div>
            </div>
        </div>
    </div>
    <div class="card">
      <div class="card-body card-body-color2">
        <div class="form-group">
          <b><%= f.label :subject, "Advisor Meeting Documentation:", class: "control-label col-md-6" %></b>
        </div>
        <%= f.text_area :advisor_notes, class: "updateAdvisorNotes", rows: 5, style: 'width:100%', class: "form-control", value: "Met with student." %>
      </div>
    </div>

  <% else %>

    <div hidden>
      <div class="advisors-details" data-advisors="<%= @advisors.to_json %>">
      </div>
    </div>
    <% # commented out Step1 Advising on 9/14/2023 - requested by Erika and AA %>
    <% # disabled on 1/28/2028  %>
    <% #@advisor_types.push "Academic: Step 1 Advising" %>
    <% # @advisor_types.push "Academic: Remediation Support" %>
    <% #@advisor_types.push "Career Advising: MS4 ERAS" %>

    <div class="card" id="AdvisorCard">
      <div class="card-body">
        <div class="d-flex">
          <div class="input-group">
            <span class="input-group-text"><strong>Advisor Type</strong></span>
            <%= f.input_field :advisor_type, collection: (@advisor_types.sort), required: true, prompt: "Please Select an Advisor Type", class: "selectAdvisorType form-select" %>
            <span class="input-group-text"><strong>Advisor</strong></span>
            <%= f.input_field :advisor_id, collection: (@advisors.collect{|a| [a.name, a.id]}), required: true, prompt: "Please Select an Advisor", class: "form-select"  %> <br />
          </div>
        </div>

        <%= f.hidden_field :user_id, value: student.id %>
        <%= f.hidden_field :date, value: Time.now.strftime('%Y-%m-%d') %>
        <%= f.hidden_field :location, value: 'Phone/Webex' %>
        <%= f.hidden_field :permission_group_id, value: student.permission_group_id %>
      </div>
    </div>

    <div class="card text-center" id="StudentAffairsDean">
      <div class="card-body card-body-color">
        To set up a meeting to talk with your Student Affairs Dean, please refer to the Bridge Scheduling System: <b>https://bridge.ohsu.edu/edu/sites/ume/SitePages/Home.aspx</b> <br />and click on Scheduling Requests.
      </div>
    </div>


    <div class="card text-center" id="WellnessAdvisor">
      <div class="card-body card-body-color">
        To meet with Dr. Furnari, please email her directly at <b>furnari@ohsu.edu</b>. Thank you.      </div>
    </div>

    <div class="card" id="AppointmentCard">
      <div class="card-body">
        <div class="form-group">
          <div class="card-header">
            <h5 class="panel-title">Available Appointments <%#<button type="button" class="btn btn-primary" id="show_all_events">Show ALL</button>%></h5>
          </div>
            <div id="All-Events">
            <% # <%= render partial: "coaching/students/all_events", locals: {f: f}  %>
           </div>
         </div>
       </div>
      </div>

    <div class="card" id="OtherCard">
      <div class="card-body card-body-color">
          <div class="form-group">
            <i><%= f.label :subject, "Primary Reason(s)", class: "control-label col-md-6" %></i><br />
            <div class="form-check">
              <div  id='coaching_meeting_subjects'></div>
            </div>
          </div>

          <div id="study_resources">
           <hr>
            <i><%= f.label :subject, "Study Resource(s)", class: "control-label col-md-6" %></i><br />
            <% advisor_study_resources = hf_academic_study_resources_for_select %>
            <div class="form-check">
              <%= collection_check_boxes(:coaching_meeting, :study_resources, advisor_study_resources, :first, :first, checked: nil) do |b| %>
                <label for="MyCheckBoxStudyResources">
                  <%= b.check_box(checked: false, class: 'form-check-input MyCheckBoxStudyResources') %>
                  <%= b.text %>
                </label> <br />
              <% end %>
            </div>
            <div class="form-group">
              <%= f.text_field :study_resources_other, class: "form-control", size: "25", disabled: false %>
            </div>
            <hr>
          </div>

          <div id="practice_test_scores">
            <h5> Practice Test Scores </h5>
            <div class="form-group">
                <% for i in 1..3 %>
                    <%= text_area_tag "nbme_form_#{i}", nil, rows: 2, cols: 30, placeholder: "NBME Form #" %>
                    <%= text_area_tag "nbme_score_#{i}", nil, size: "30x2",  placeholder: "% Likelihood of Passing"%>
                    <%= text_area_tag "nbme_date_completed_#{i}", nil, size: "30x2", placeholder: "Date Completed"%>
                <% end %>
            </div>
            <hr>
            <div class="form-group">
              <% for i in 1..2 %>
                  <%= text_area_tag "uworld_score_#{i}", nil, size: "30x2", placeholder: "Uworld Test Score #{i}" %>
                  <%= text_area_tag "uworld_date_completed_#{i}", nil, size: "30x2", placeholder: "Date completed"%><br />
              <% end %>
            </div>
            <hr>
            <div class="form-group">
                <%= text_area_tag "q_bank_no_of_correct_questions", nil, size: "30x2", placeholder: "% of correct questions" %> % Correct over your last 6 random blocks of 40 questions<br/>
                <%= text_area_tag "q_bank_no_of_questions", nil, size: "30x2", placeholder: "# of Q-bank Questions Completed\r\nQ-bank used"%> # of Q-bank questions completed<br />
            </div>
          </div>

          <div class="form-group">
            <%= f.label :notes, 'Student Notes (optional)', class: "control-label col-sm-4" %>
            <%= f.text_area :notes, class: "form-control col-sm-6" %>
          </div>

          <%= f.hidden_field :user_id, value: student.id %>
          <%= f.hidden_field :date, value: Time.now.strftime('%Y-%m-%d') %>
          <%= f.hidden_field :location, value: 'Phone/Webex' %>
      </div>
    </div>
  <% end %>

  <br />
  <div class="form-group">
    <div class="control-label col-sm-4">
      <%= f.submit "Save", class: 'btn btn-primary', id: 'meeting-submit' %>
    </div>
  </div>
<% end %>
