<%= simple_form_for Coaching::Meeting.new, html: {class: "inline block", id: "MeetingForm"}, remote: true do |f| %>
  <% if (!advisor_type.nil?) and (advisor_type  == 'Career' or advisor_type == 'Academic'  or advisor_type == "Academic: Step 1 Advising" or advisor_type == 'Diversity Navigator' or advisor_type == 'Assist Dean' ) %>
    <div hidden>
      <div class="advisors-type" data-advisor_type="<%= advisor_type %>">
      </div>
    </div>

    Advisor Name: <b><%= current_user.full_name %></b><br />
    Advisor Type: <b><%= advisor_type %> (<%= advisor_id %>)</b>
    <%= f.hidden_field :advisor_id, value: advisor_id %>
    <%= f.hidden_field :advisor_type, value: advisor_type %>
    <br />

    <%= f.hidden_field :user_id, value: student.id %>
    <%= f.hidden_field :date, value: Time.now.strftime('%Y-%m-%d') %>
    <%= f.hidden_field :location, value: 'Phone/Webex/Email/Retro-Appt' %>
    <%= f.hidden_field :m_status, value: 'Completed' %>

    <div class="card">
      <div class="card-body card-body-color">

        <div class="control-group" id="fields">
          <label class="control-label col-sm-3" for="TimeSlot"> Time Slot by Mins</label>
          <select name="time_slot" id="time_slot"  >
              <option value="30">30</option>
              <option value="45" selected>45</option>
              <option value="60">60</option>
          </select>
          <br />
           <label class="control-label col-sm-3" for="field1">Appointment Date</label>
            <input autocomplete="off" class="span3" id="startDate1" name="startDate1" type="datetime-local" required>
        </div>
      </div>
    </div>

    <div class="card" id="OtherCard">
      <div class="card-body">
          <div class="form-group">
            <b><%= f.label :subject, "Primary Reason(s)", class: "control-label col-md-6" %></b><br />
            <div  id='coaching_meeting_subjects'>
            </div>
          </div>
      </div>
    </div>

    <div class="card" id="DiscussedCard">
      <div class="card-body card-body-color"">
          <div class="form-group">
            <% if advisor_type == 'Career' %>
              <% advisor_subjects = hf_career_advisor_discussed_for_select %>
            <% elsif advisor_type == "Academic" or advisor_type == "Academic: Step 1 Advising"  %>
              <% advisor_subjects = hf_academic_advisor_discussed_for_select %>
              <% advisor_study_resources = hf_academic_study_resources_for_select %>
            <% elsif advisor_type == "Wellness" %>
                <% advisor_subjects = hf_wellness_advisor_discussed_for_select %>
            <% elsif advisor_type == 'Diversity Navigator' %>
                <% advisor_subjects = hf_diversity_navigator_for_select %>
            <% elsif advisor_type == 'Assist Dean' %>
                <% advisor_subjects = hf_assist_dean_for_select%>
            <% else %>
              <% advisor_subjects = hf_academic_advisor_discussed_for_select %>
            <% end %>
            <% if advisor_type != 'Diversity Navigator' %>
              <b><%= f.label :subject, "Advisor Discussed (Check all that apply):", class: "control-label col-md-6" %></b><br />
              <%= collection_check_boxes(:coaching_meeting, :advisor_discussed, advisor_subjects, :first, :first, checked: nil) do |b| %>
                <label for="MeetingFormAdvisorDiscussed">
                  <%= b.check_box(checked: false, class: 'MyCheckBoxAdvisorDiscussed') %>
                  <%= b.text %>
                </label> <br />
             <% end %>
            <% end %>


           <% if advisor_type == "Academic" or advisor_type == "Academic: Step 1 Advising" %>
              <%= f.text_field :academic_discussed_other, id: 'academic_discussed_other' %>
              <hr>

              <i><%= f.label :subject, "Study Resource(s)", class: "control-label col-md-6" %></i><br />
              <%= collection_check_boxes(:coaching_meeting, :study_resources, advisor_study_resources, :first, :first, checked: nil) do |b| %>
                <label for="MeetingFormStudyResources">
                  <%= b.check_box(checked: false, class: 'MyCheckBoxStudyResources') %>
                  <%= b.text %>
                </label> <br />
             <% end %>
             <%= f.text_field :study_resources_other, id: 'academic_study_resources_other' %>
           <% elsif advisor_type == "Career" %>
              <%= f.text_field :career_discussed_other,  id: 'career_discussed_other' %>
           <% end %>

          </div>
      </div>
    </div>

    <div class="card" id="DiscussedCard">
      <div class="card-body">


          <% if advisor_type == 'Academic' or advisor_type == "Academic: Step 1 Advising" %>
              <% advisor_outcomes = hf_meeting_ipas_for_select %>
          <% elsif advisor_type == 'Career'  %>
              <% advisor_outcomes = hf_meeting_ipps_for_select %>
          <% elsif advisor_type == 'Wellness'  %>
              <% advisor_outcomes = hf_wellness_advisor_discussed_for_select %>
          <% elsif advisor_type ==  'Diversity Navigator' %>
              <% advisor_outcomes = '' %>
          <% else %>
              <% advisor_outcomes = hf_meeting_ipas_for_select %>
          <% end %>
          <% if advisor_type != 'Diversity Navigator' %>

            <div class="form-group">
              <b><%= f.label :subject, "Outcomes/Recommendation (Check all the apply):", class: "control-label col-md-8" %></b>
            </div>
            <%= collection_check_boxes(:coaching_meeting, :advisor_outcomes, advisor_outcomes, :first, :first, checked: nil) do |b| %>
              <label for="MeetingFormAdvisorOutcomes">
                <%= b.check_box(checked: false, class: 'MyCheckBoxAdvisorOutcomes') %>
                <%= b.text %>
              </label> <br />
           <% end %>
         <% end %>
         <% if advisor_type == "Academic" or advisor_type == "Academic: Step 1 Advising" %>
            <%= f.text_field :academic_outcomes_other,  id: 'academic_outcomes_other' %>
          <% elsif advisor_type == "Career" %>
              <%= f.text_field :career_outcomes_other, id: 'career_outcomes_other' %>
          <% end %>
      </div>
    </div>

    <div class="card">
      <div class="card-body card-body-color">
        <div class="form-group">
          <%= f.label :notes, 'Student Notes (optional)', class: "control-label col-sm-4" %>
          <%= f.text_area :notes, class: "col-sm-6" %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body card-body-color2">
        <div class="form-group">
          <b><%= f.label :subject, "Advisor Meeting Documentation:", class: "control-label col-md-6" %></b>
        </div>
        <%= f.text_area :advisor_notes, class: "updateAdvisorNotes", rows: 5, style: 'width:100%', required: true %>
      </div>
    </div>

  <% elsif (!advisor_type.nil?) and (advisor_type  == 'Wellness') %>
      <div hidden>
        <div class="advisors-type" data-advisor_type="<%= advisor_type %>">
        </div>
      </div>

      Advisor Name: <b><%= current_user.full_name %></b><br />
      Advisor Type: <b><%= advisor_type %></b>
      <%= f.hidden_field :advisor_id, value: advisor_id%>
      <%= f.hidden_field :advisor_type, value: advisor_type%>
      <br />

      <%= f.hidden_field :user_id, value: student.id %>
      <%= f.hidden_field :date, value: Time.now.strftime('%Y-%m-%d') %>
      <%= f.hidden_field :location, value: 'Phone/Webex/Email/Retro-Appt' %>
      <%= f.hidden_field :m_status, value: 'Completed' %>

      <div class="card">
        <div class="card-body card-body-color">

          <div class="control-group" id="fields">
            <label class="control-label col-sm-3" for="TimeSlotByMin"> Time Slot by Mins</label>
            <select name="time_slot" id="time_slot"  >
                <option value="30">30</option>
                <option value="45" selected>45</option>
                <option value="60">60</option>
            </select>
            <br />
             <label class="control-label col-sm-3" for="field1">Appointment Date</label>
              <input autocomplete="off" class="span3" id="startDate1" name="startDate1" type="datetime-local" required>
          </div>
        </div>
      </div>

      <div class="card" id="OtherCard">
        <div class="card-body">
            <div class="form-group">
              <b><%= f.label :subject, "Primary Reason(s)", class: "control-label col-md-6" %></b><br />
              <div  id='coaching_meeting_subjects'>
              </div>
            </div>
        </div>
    </div>
    <div class="card">
      <div class="card-body card-body-color">
        <div class="form-group">
          <%= f.label :notes, 'Student Notes (optional)', class: "control-label col-sm-4" %>
          <%= f.text_area :notes, class: "col-sm-6" %>
        </div>
      </div>
    </div>

  <% else %>

    <div hidden>
      <div class="advisors-details" data-advisors="<%= @advisors.to_json %>">
      </div>
    </div>
    <% # commented out Step1 Advising on 9/14/2023 - requested by Erika and AA %>
    <% # disabled on 4/23/ %>
    <% #@advisor_types.push "Academic: Step 1 Advising" %>
    <% @advisor_types.push "Academic: Remediation Support" %>

    <div class="card" id="AdvisorCard">
      <div class="card-body">
        <div class="form-group">
          <%= f.label :advisor_type, class: "control-label col-sm-4" %>
          <%= f.select :advisor_type, options_for_select(@advisor_types.sort), required: true, prompt: "Please Select an Advisor Type" %>
        </div>

        <div class="form-group">
          <%= f.label :advisor, class: "control-label col-sm-4" %>
          <%= f.select :advisor_id, options_for_select(@advisors.collect{|a| [a.name, a.id]}), required: true, prompt: "Please Select an Advisor"  %> <br />
        </div>

        <%= f.hidden_field :user_id, value: student.id %>
        <%= f.hidden_field :date, value: Time.now.strftime('%Y-%m-%d') %>
        <%= f.hidden_field :location, value: 'Phone/Webex' %>
      </div>
    </div>

    <div class="card text-center" id="StudentAffairsDean">
      <div class="card-body card-body-color">
        To set up a meeting to talk with your Student Affairs Dean, please refer to the Bridge Scheduling System: <b>https://bridge.ohsu.edu/edu/sites/ume/SitePages/Home.aspx</b> <br />and click on Scheduling Requests.
      </div>
    </div>
    <br />

    <div class="card text-center" id="WellnessAdvisor">
      <div class="card-body card-body-color">
        To meet with Dr. Furnari, please email her directly at <b>furnari@ohsu.edu</b>. Thank you.      </div>
    </div>
    <br />

    <div class="card" id="AppointmentCard">
      <div class="card-body">
        <div class="form-group">
          <div class="control-label panel panel-primary">
            <div class="panel-heading">
                  <h5 class="panel-title">Available Appointments <%#<button type="button" class="btn btn-primary" id="show_all_events">Show ALL</button>%></h5>
            </div>
            <div class="panel-body scrollable-panel">
              <div id="All-Events">
              <% # <%= render partial: "coaching/students/all_events", locals: {f: f}  %>
            </div>
          </div>
        </div>

      </div>
    </div>
    <br />
    <div class="card" id="OtherCard">
      <div class="card-body card-body-color">
          <div class="form-group">
            <i><%= f.label :subject, "Primary Reason(s)", class: "control-label col-md-6" %></i><br />
            <div  id='coaching_meeting_subjects'>
            </div>
          </div>

          <div id="study_resources">
           <hr>
            <i><%= f.label :subject, "Study Resource(s)", class: "control-label col-md-6" %></i><br />
            <% advisor_study_resources = hf_academic_study_resources_for_select %>
            <%= collection_check_boxes(:coaching_meeting, :study_resources, advisor_study_resources, :first, :first, checked: nil) do |b| %>
              <label for="MyCheckBoxStudyResources">
                <%= b.check_box(checked: false, class: 'MyCheckBoxStudyResources') %>
                <%= b.text %>
              </label> <br />
            <% end %>
            <div class="form-group">
              <%= f.text_field :study_resources_other, class: "col-sm-6", size: "25", disabled: false %>
            </div>
            <hr>
          </div>

          <div id="practice_test_scores">
            <h5> Practice Test Scores </h5>
            <div class="form-group">
                <% for i in 1..3 %>
                    <%= text_area_tag "nbme_form_#{i}", nil, size: "30x2", placeholder: "NBME Form #" %>
                    <%= text_area_tag "nbme_score_#{i}", nil, size: "30x2", placeholder: "% Likelihood of Passing"%>
                    <%= text_area_tag "nbme_date_completed_#{i}", nil, size: "30x2", placeholder: "Date Completed"%>
                <% end %>
            </div>
            <hr>
            <div class="form-group">
              <% for i in 1..2 %>
                  <%= text_area_tag "uworld_score_#{i}", nil, size: "30x2", placeholder: "Uworld Test Score #{i}" %>
                  <%= text_area_tag "uworld_date_completed_#{i}", nil, size: "30x2", placeholder: "Date completed"%><br />
              <% end %>
            </div>
            <hr>
            <div class="form-group">
                <%= text_area_tag "q_bank_no_of_correct_questions", nil, size: "30x2", placeholder: "% of correct questions" %> % Correct over your last 6 random blocks of 40 questions<br/>
                <%= text_area_tag "q_bank_no_of_questions", nil, size: "30x2", placeholder: "# of Q-bank Questions Completed\r\nQ-bank used"%> # of Q-bank questions completed<br />
            </div>
          </div>

          <div class="form-group">
            <%= f.label :notes, 'Student Notes (optional)', class: "control-label col-sm-4" %>
            <%= f.text_area :notes, class: "col-sm-6" %>
          </div>

          <%= f.hidden_field :user_id, value: student.id %>
          <%= f.hidden_field :date, value: Time.now.strftime('%Y-%m-%d') %>
          <%= f.hidden_field :location, value: 'Phone/Webex' %>
      </div>
    </div>
  <% end %>

  <br />
  <div class="form-group">
    <div class="control-label col-sm-4">
      <%= f.submit "Save", class: 'btn btn-primary', id: 'meeting-submit' %>
    </div>
  </div>
<% end %>
