<%= form_for Coaching::Meeting.new, html: {class: "form-horizontal", id: "MeetingForm"}, remote: true do |f| %>
  <div class="form-group">
    <%= f.label :subject, class: "control-label col-sm-2" %>
    <%= f.text_field :subject, maxlength: 50, required: true %>
  </div>

  <div class="form-group">
    <%= f.label :location, 'Contact Type', class: "control-label col-sm-2" %>
    <%= f.select :location,
      options_for_select(["In Person", "Phone", "Text", "Email", "Skype/Facetime"]),
      { include_blank: "---" },
      required: true
    %>
  </div>

  <div class="form-group">
    <%= f.label :notes, 'Meeting Summary', class: "control-label col-sm-2" %>
    <%= f.text_area :notes, class: "col-sm-6" %>
  </div>

  <div class="form-group">
    <%= f.label :date, class: "control-label col-sm-2" %>
    <%= f.date_field :date, required: true %>
  </div>

  <%= f.hidden_field :user_id, value: student.id %>

  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= f.submit "Save", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
