<%= form_for Coaching::Meeting.new, html: {class: "form-horizontal", id: "MeetingForm"}, remote: true do |f| %>

  <div class="form-group">
    <%= f.label :subject, "Subject(s):", class: "control-label col-sm-4" %><br />
    <div class="col-sm-6">
      <%= f.collection_check_boxes(:subject, hf_meeting_tags_for_select, :first, :first, required: true) do |c| %>
          <%= c.check_box %>
          <b> <%= c.text %> </b> <br />
         <% end %>

    </div>

  </div>

  <div class="form-group">
    <%= f.label :location, 'Contact Type', class: "control-label col-sm-4" %>
    <%= f.select :location,
      options_for_select(["In Person", "Phone", "Text", "Email", "Skype/Facetime"]),
      { include_blank: "---" },
      required: true
    %>
  </div>

  <div class="form-group">
    <%= f.label :notes, 'Meeting Summary', class: "control-label col-sm-4" %>
    <%= f.text_area :notes, class: "col-sm-6" %>
  </div>

  <div class="form-group">
    <%= f.label :date, class: "control-label col-sm-4" %>
    <%= f.date_field :date, id: "meeting_date", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :advisor_type, class: "control-label col-sm-4" %>
    <%= f.select :advisor_type, options_for_select(["Academic", "Career", "Wellness"]),
      { include_blank: "---" }, required: true %>
  </div>

  <div hidden>
    <div class="advisors-details" data-advisors="<%= @advisors.to_json %>">
    </div>
  </div>

  <div class="form-group">
    <%= f.label :advisor, class: "control-label col-sm-4" %>
    <%= f.select :advisor_id, options_for_select([]),
        { include_blank: "---" }, required: true %> <br />
  </div>
  <div class="form-group">


    <div class="control-label panel panel-primary col-sm-10 col-sm-offset-2">
      <div class="panel-heading">
        <h3 class="panel-title">Available Appointments</h3>
      </div>
      <div class="panel-body scrollable-panel">
        <%= render partial: "coaching/students/all_events", locals: {f: f}  %>
      </div>
    </div>
  </div>

  <%= f.hidden_field :user_id, value: student.id %>

  <div class="form-group">
    <div class="control-label col-sm-4">
      <%= f.submit "Save", class: 'btn btn-primary', id: 'meeting-submit' %>
    </div>
  </div>
<% end %>
