<div class="detail-header">
  <div class="detail-section">

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">

          <div class="panel-heading active" role="tab" id="headingOne">
            <h4 class="panel-title">
              <br />
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h5><font color="#4c0946">Primary Reason for Appointment (check all that apply): </font></h5>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div>
                <% if meeting.advisor_type == 'Career' %>
                  <% select_options = hf_career_primary_for_select%>
                <% elsif meeting.advisor_type == 'Academic'%>
                  <% select_options = hf_academic_primary_for_select %>
                <% elsif meeting.advisor_type == 'Wellness'  %>
                  <% select_options = hf_wellness_primary_for_select %>
                  <% elsif meeting.advisor_type == 'Diversity Navigator'  %>
                    <% select_options = hf_diversity_navigator_for_select %>
                <% else %>
                  <% select_options = hf_meeting_tags_for_select %>
                <% end %>

                  <%= collection_check_boxes(:meeting, :subject, select_options, :first, :first, checked: meeting.subject) do |b| %>
                    <label>
                      <%= b.check_box(checked: true, class: 'MyCheckBox') %>
                      <b> <%= b.text %> </b>
                    </label><br />
                  <% end %>
              </div>
            </div>
          </div>
        </div>

     <% if meeting.advisor_type != 'Diversity Navigator'  %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <h5><font color="#4c0946"><i>Study Resources (check all that apply): </i></font></h5>
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                  <%= collection_check_boxes(:meeting, :study_resources, hf_academic_study_resources_for_select, :first, :first, checked: meeting.study_resources) do |b| %>
                    <label>
                      <%= b.check_box(checked: true, class: 'MyCheckBoxStudyResources') %>
                      <b> <%= b.text %> </b>
                    </label> <br />
                 <% end %>
                <%= text_field_tag :study_resources_other, meeting.study_resources_other, id: 'study_resources_other' %>
              </div>
            </div>
          </div>
      <% end %>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h5><font color="#4c0946"><%= meeting.advisor_type.to_s %> Advisor Discussed (check all that apply): </font></h5>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <div>
                <% if meeting.advisor_type == 'Career' %>
                  <% advisor_subjects = hf_career_advisor_discussed_for_select %>
                <% elsif meeting.advisor_type == "Academic" %>
                  <% advisor_subjects = hf_academic_advisor_discussed_for_select %>
                <% elsif meeting.advisor_type == "Wellness" %>
                    <% advisor_subjects = hf_wellness_advisor_discussed_for_select %>
                <% elsif meeting.advisor_type == "Diversity Navigator" %>
                  <% advisor_subjects = hf_diversity_navigator_discussed_for_select %>
                <% end %>

                <%= collection_check_boxes(:meeting, :advisor_discussed, advisor_subjects, :first, :first, checked: meeting.advisor_discussed) do |b| %>
                  <label>
                    <%= b.check_box(checked: true, class: 'MyCheckBoxAdvisorDiscussed') %>
                    <b> <%= b.text %> </b>
                  </label> <br />
               <% end %>
               <% if meeting.advisor_type == "Academic" %>
                  <%= text_field_tag :academic_discussed_other, meeting.academic_discussed_other, id: 'academic_discussed_other' %>
               <% elsif meeting.advisor_type == "Career" %>
                  <%= text_field_tag :career_discussed_other, meeting.career_discussed_other, id: 'career_discussed_other' %>
               <% else %>
                  <%= text_field_tag :academic_discussed_other, meeting.academic_discussed_other, id: 'academic_discussed_other' %>
               <% end %>
              </div>
            </div>
          </div>
        </div>

     <% if meeting.advisor_type != 'Diversity Navigator'  %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h5><font color="#4c0946"><%= meeting.advisor_type.to_s %> Outcomes/Recommendation (check all that apply): <%= meeting.advice_category.to_s %></font></h5>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <div>
                    <% if meeting.advisor_type == 'Academic' %>
                        <% advisor_outcomes = hf_meeting_ipas_for_select %>
                    <% elsif meeting.advisor_type == 'Career'  %>
                        <% advisor_outcomes = hf_meeting_ipps_for_select %>
                    <% elsif meeting.advisor_type == 'Wellness'  %>
                        <% advisor_outcomes = hf_wellness_advisor_discussed_for_select %>
                    <% else %>
                        <% advisor_outcomes = hf_meeting_ipas_for_select %>
                    <% end %>

                    <%= collection_check_boxes(:meeting, :advisor_outcomes, advisor_outcomes, :first, :first, checked: meeting.advisor_outcomes) do |b| %>
                      <label>
                        <%= b.check_box(checked: true, class: 'MyCheckBoxAdvisorOutcomes') %>
                        <b> <%= b.text %> </b>
                      </label><br />
                   <% end %>
                </div>
                 <% if meeting.advisor_type == "Academic" %>
                    <%= text_field_tag :academic_outcomes_other, meeting.academic_outcomes_other, id: 'academic_outcomes_other' %>
                  <% elsif meeting.advisor_type == "Career" %>
                      <%= text_field_tag :career_outcomes_other, meeting.career_outcomes_other, id: 'career_outcomes_other' %>
                  <% else %>
                    <%= text_field_tag :academic_outcomes_other, meeting.academic_outcomes_other, id: 'academic_outcomes_other'  %>
                  <% end %>
              </div>
            </div>
          </div>
       <% end %>

      </div>

    <button type="button" class="close" aria-label="Close" id="hide-detail">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="detail-section">
  <h4><font color="#4c0946">Advisor Meeting Documentation</font></h4>
  <div>
    <%= text_area_tag :notes, meeting.advisor_notes, class: "updateAdvisorNotes", rows: 5, style: 'width:100%' %>
  </div>
</div>

<div class="detail-section">
  <h4><font color="#4c0946">Meeting Status </font></h4>
  <div><i>Status: </i><%= select_tag "m_status", options_for_select(["Scheduled", "Completed", "Meeting Canceled", "Rescheduled", "No Show"],
     meeting.m_status), class: "status-picker", data: { meetingId: meeting.id } %>
  </div>
  <div><i>Advisor Type: <b><%= meeting.advisor_type.to_s %> </b></i></div>
  <div><i>Advisor: <b><%= hf_get_advisor_name(meeting.advisor_id) %> </b></i></div>
  <% start_date = hf_get_start_time(meeting.event_id) %>
  <div><i>Appt Start Date: <%= start_date %></i></div>
  <%= button_tag "Save/Complete Advisor Documentation", class: "btn btn-primary", id: "SaveMeeting", remote: true,  data: { meetingId: meeting.id } %>
</div>
<% if current_user.admin_or_higher? %>
  <p><%= link_to "Delete", coaching_meeting_path(meeting), method: :delete, remote: true, class: "btn btn-default" %></p>
<% end %>

<div class="detail-section">
  <h4><font color="#4c0946">Student Meeting Documentation</font></h4>
  <div>
    <%= text_area_tag :notes, meeting.notes, class: "updateStudentNotes", rows: 5, style: 'width:100%' %>
  </div>
</div>
