<div class="detail-header">
  <div class="detail-section">

    <div class="accordion" id="accordionParent">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <h5><font color="#4c0946">Primary Reason for Appointment (check all that apply): </font></h5>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionParent">
              <div class="accordion-body">
                <% if meeting.advisor_type.nil?  %>
                      <% meeting.advisor_type = hf_get_advisor_type(meeting.advisor_id) %>
                <% end %>

                <div id="advisor_type" data-advisor_type="<%= meeting.advisor_type %>" </div>

                <% if meeting.advisor_type == 'Career' %>
                  <% select_options = hf_career_primary_for_select%>
                <% elsif meeting.advisor_type == 'Academic' or meeting.advisor_type == 'Academic: Remediation Support' %>
                  <% select_options = hf_academic_primary_for_select %>
                <% elsif meeting.advisor_type == 'Academic: Step 1 Advising' %>
                    <% select_options = hf_academic_primary_step1_for_select %>
                <% elsif meeting.advisor_type == 'Wellness'  %>
                  <% select_options = hf_wellness_primary_for_select %>
                <% elsif meeting.advisor_type == 'Diversity Navigator'  %>
                  <% select_options = hf_diversity_navigator_for_select %>
                <% elsif meeting.advisor_type == 'Assist Dean'  %>
                  <% select_options = hf_assist_dean_for_select %>
                <% else %>
                  <% select_options = hf_meeting_tags_for_select %>
                <% end %>

                  <%= collection_check_boxes(:meeting, :subject, select_options, :first, :first, checked: meeting.subject) do |b| %>
                    <label for="MyCheckBox">
                      <%= b.check_box(checked: true, class: 'MyCheckBox') %>
                      <b> <%= b.text %> </b>
                    </label><br />
                  <% end %>
              </div>
            </div>
          </div>
    </div>

    <% if meeting.advisor_type != 'Diversity Navigator'  %>
      <div class="accordion" id="accordionParentFour">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
               <h5><font color="#4c0946"><i>Study Resources (check all that apply): </i></font></h5>          </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionParentFour">
            <div class="accordion-body">
              <%= collection_check_boxes(:meeting, :study_resources, hf_academic_study_resources_for_select, :first, :first, checked: meeting.study_resources) do |b| %>
                <label for="MyCheckBoxStudyResources">
                  <%= b.check_box(checked: true, class: 'MyCheckBoxStudyResources') %>
                  <b> <%= b.text %> </b>
                </label> <br />
             <% end %>
            <%= text_field_tag :study_resources_other, meeting.study_resources_other, id: 'study_resources_other' %>
          </div>
            </div>
          </div>
        </div>
      </div>
     <% end %>

     <div class="accordion" id="accordionParentTwo">
       <div class="accordion-item">
         <h2 class="accordion-header">
           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
             <h5><font color="#4c0946"><%= meeting.advisor_type.to_s %> Advisor Discussed (check all that apply): </font></h5>
           </button>
         </h2>
         <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionParentTwo">
           <div class="accordion-body">
             <% if meeting.advisor_type == 'Career' %>
               <% advisor_subjects = hf_career_advisor_discussed_for_select %>
             <% elsif meeting.advisor_type == 'Academic' or meeting.advisor_type == 'Academic: Step 1 Advising' or meeting.advisor_type == 'Academic: Remediation Support'%>
               <% advisor_subjects = hf_academic_advisor_discussed_for_select %>
             <% elsif meeting.advisor_type == "Wellness" %>
                 <% advisor_subjects = hf_wellness_advisor_discussed_for_select %>
             <% elsif meeting.advisor_type == "Diversity Navigator" %>
               <% advisor_subjects = hf_diversity_navigator_discussed_for_select %>
             <% elsif meeting.advisor_type == "Assist Dean" %>
               <% advisor_subjects = hf_assist_dean_for_select %>
             <% end %>

             <%= collection_check_boxes(:meeting, :advisor_discussed, advisor_subjects, :first, :first, checked: meeting.advisor_discussed) do |b| %>
               <label for="MyCheckBoxAdvisorDiscussed">
                 <%= b.check_box(checked: true, class: 'MyCheckBoxAdvisorDiscussed') %>
                 <b> <%= b.text %> </b>
               </label> <br />
            <% end %>
            <% if meeting.advisor_type == 'Academic' or meeting.advisor_type == 'Academic: Step 1 Advising' or meeting.advisor_type == 'Academic: Remediation Support' %>
               <%= text_field_tag :academic_discussed_other, meeting.academic_discussed_other, id: 'academic_discussed_other' %>
            <% elsif meeting.advisor_type == "Career" %>
               <%= text_field_tag :career_discussed_other, meeting.career_discussed_other, id: 'career_discussed_other' %>
            <% else %>
               <%= text_field_tag :academic_discussed_other, meeting.academic_discussed_other, id: 'academic_discussed_other' %>
            <% end %>
           </div>
        </div>
      </div>
    </div>
  <% if meeting.advisor_type != 'Diversity Navigator'  %>
    <div class="accordion" id="accordionParentThree">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h5><font color="#4c0946"><%= meeting.advisor_type.to_s %> Outcomes/Recommendation (check all that apply): <%= meeting.advice_category.to_s %></font></h5>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionParentThree">
          <div class="accordion-body">
            <div>
                <% if meeting.advisor_type == 'Academic' or meeting.advisor_type == 'Academic: Step 1 Advising'  or meeting.advisor_type == 'Academic: Remediation Support' %>
                    <% advisor_outcomes = hf_meeting_ipas_for_select %>
                <% elsif meeting.advisor_type == 'Career'  %>
                    <% advisor_outcomes = hf_meeting_ipps_for_select %>
                <% elsif meeting.advisor_type == 'Wellness'  %>
                    <% advisor_outcomes = hf_wellness_advisor_discussed_for_select %>
                <% elsif meeting.advisor_type == 'Diversity Navigator'  %>
                    <% advisor_outcomes = hf_diversity_navigator_for_select%>
                <% elsif meeting.advisor_type == 'Assist Dean'  %>
                    <% advisor_outcomes = hf_assist_dean_for_select%>
                <% else %>
                    <% advisor_outcomes = hf_meeting_ipas_for_select %>
                <% end %>

                <%= collection_check_boxes(:meeting, :advisor_outcomes, advisor_outcomes, :first, :first, checked: meeting.advisor_outcomes) do |b| %>
                  <label for="MyCheckBoxAdvisorOutcomes">
                    <%= b.check_box(checked: true, class: 'MyCheckBoxAdvisorOutcomes') %>
                    <b> <%= b.text %> </b>
                  </label><br />
               <% end %>
            </div>
             <% if meeting.advisor_type == 'Academic' or meeting.advisor_type == 'Academic: Step 1 Advising'  or meeting.advisor_type == 'Academic: Remediation Support' %>
                <%= text_field_tag :academic_outcomes_other, meeting.academic_outcomes_other, id: 'academic_outcomes_other' %>
              <% elsif meeting.advisor_type == "Career" %>
                  <%= text_field_tag :career_outcomes_other, meeting.career_outcomes_other, id: 'career_outcomes_other' %>
              <% else %>
                <%= text_field_tag :academic_outcomes_other, meeting.academic_outcomes_other, id: 'academic_outcomes_other'  %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

    <button type="button" class="close btn btn-danger" aria-label="Close" id="hide-detail">
      <span aria-hidden="true"><b>Close Form</b></span>
    </button>
  </div>


<div class="detail-section">
  <h4><font color="#4c0946">Advisor Meeting Documentation</font></h4>
  <div>
    <%= text_area_tag :notes, meeting.advisor_notes, class: "updateAdvisorNotes", rows: 5, style: 'width:100%' %>
  </div>
</div>

<div class="detail-section">
  <h4><font color="#4c0946">Meeting Status </font></h4>
  <div><i>Status: </i><%= select_tag "m_status", options_for_select(["Scheduled", "Completed", "Meeting Canceled", "Rescheduled", "No Show"],
     meeting.m_status), class: "status-picker", data: { meetingId: meeting.id } %>
  </div>
  <div><i>Advisor Type: <b><%= meeting.advisor_type.to_s %> </b></i></div>
  <div><i>Advisor: <b><%= hf_get_advisor_name(meeting.advisor_id) %> </b></i></div>
  <% start_date = hf_get_start_time(meeting.event_id) %>
  <div><i>Appt Start Date: <%= start_date %></i></div>
  <%= button_tag "Save/Complete Advisor Documentation", class: "btn btn-primary", id: "SaveMeeting", remote: true,  data: { meetingId: meeting.id } %>
</div>
<% if current_user.admin_or_higher? %>
  <p><%= link_to "Delete", coaching_meeting_path(meeting), method: :delete, remote: true, class: "btn btn-danger" %></p>
<% end %>

<div class="detail-section">
  <h4><font color="#4c0946">Student Meeting Documentation</font></h4>
  <div>
    <%= text_area_tag :notes, meeting.notes, class: "updateStudentNotes", rows: 3, style: 'width:100%' %>
  </div>
  <%= render partial: "practice_test_scores", locals: {meeting: meeting} %>
</div>
