 <table class="table borderless table-condensed modal-text-align-center table-striped table-hover" >
    <tbody>
    <tr>
        <td class="centered-cell">Competency</td>
        <td class="centered-cell"># of Not Able To Access (Level 0)</td>  
        <td class="centered-cell"># of Pre-Entrustables (Level 1)</td>
        <td class="centered-cell"># of Approaching Entrustables (Level 2)</td> 
        <td class="centered-cell"># of Entrustables Achieved (Level 3)</td>
        <td class="centered-cell">Min # of Entrustables Required by Assessors</td>
        <td class="centered-cell"># of Entrustables Remaining</td>
        <td class="centered-cell" style="width: 28%">Competency Progress (% complete)</td>
    </tr>
    <% assessors = hf_assessors %>
    <% @comp_hash3.each do |k, v| %>
        <% if k.include? comp_code %>
            <% rem = (v-assessors[k])*(-1) %>  
            <tr>
                <td class="centered-cell">
                    <a href="#" data-html="true" rel="tooltip" <span style="white-space: normal" data-toggle="tooltip" title="<%= hf_get_comp_desc2(k + "-E") %>" ><%= k %></a></span>                  
                </td>

                <td class="centered-cell"><font color="purple"><%= @comp_hash0[k] == 0? "" : @comp_hash0[k] %></td>
                <td class="centered-cell"><font color="red"><b><%= @comp_hash1[k] == 0? "" : @comp_hash1[k] %></b></font></td> 
                <td class="centered-cell"><font color="tomato"><%= @comp_hash2[k] == 0? "" : @comp_hash2[k]%></font></td>                        
                <td class="centered-cell"><font color="green"> <%= v == 0? "" : v %></font></td>
                <td class="centered-cell"><font color="blue"> <%= assessors[k] %></font></td>
                <% if rem <=0 %>
                   <td class="centered-cell"><font color="green"><span class="glyphicon glyphicon-thumbs-up"></span>!!</font></td>
                <% else %>
                    <td class="centered-cell"><font color="Orange"><%= rem %></font></td>
                <% end %>
                <% comp_ave = ((v/assessors[k].to_f)*100).round(0) %>
                <% comp_ave = comp_ave > 100? 100 : comp_ave %>
                <td>                      
                    <span>
                        <div id="progress-<%= k %>" class = "comp-progress" comp-data-amount = "<%= comp_ave %>" >
                              <div id="competency-<%= k %>" class="comp-amount" style="width: <%= 100-comp_ave %>%"> </div>     
                        </div>
                    </span>
                </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
</table>  
