<!-- Data Table -->

<table style="width: 30%;" class="table table-condensed  spreadsheet-body">
    <tr>
        <td class="align-right"><%= @rs_questions["StudentID"] %></td>
        <td class="bold-italic"><%= @rs_data.first["StudentID"] %></td>
    </tr>
    <tr>
        <td class="align-right"><%= @rs_questions["StudentName"] %></td>
        <td class="bold-italic"><%= @rs_data.first["StudentName"] %></td>
     </tr>
     <tr>
        <td class="align-right"><%= @rs_questions["StudentEmail"] %></td>
        <td class="bold-italic"><%= @rs_data.first["StudentEmail"] %></td>
     </tr>
     <tr>
        <td class="align-right"><%= @rs_questions["CoachName"] %></td>
        <td class="bold-italic"><%= @rs_data.first["CoachName"] %></td>
     </tr>
     <tr>
        <td class="align-right"><%= @rs_questions["CoachEmail"] %></td>
        <td class="bold-italic"><%= @rs_data.first["CoachEmail"] %></td>
 
     </tr>
 </table>

<body>
 <div class="container-fluid">
    <% overall_ave_epa = hf_all_average_epas(@rs_data) %>
    <% if @rs_data.count <= 100 %>
        <ul id="mainTab" class="nav nav-tabs">
            <li class="active bold-italic"><a data-toggle="tab" href="#core">Core Experience</a></li>
            <li class="bold-italic"><a data-toggle="tab" href="#intersession">Intersession</a></li>
            <li class="bold-italic"><a data-toggle="tab" href="#electives">Electives</a></li>  
            <% if overall_ave_epa <= 100 %>
               <li class="bold-italic"><a data-toggle="tab" href="#EPA">EPA/Competency</a></li>     
            <% end %>  
        </ul>
    <% end %>
    <div class="tab-content">

        <div id="core" class="tab-pane fade in active">
          <table style="width: 100%;" class="table table-condensed table-striped ls_reports_filter spreadsheet-body">
            <tbody>
                <%= render :partial=>'ls_reports/spreadsheet/content_static_header' %>
                <% @rs_data.each do |x| %>
                    <tr>
                     <% if x["CourseName"].include? "730" %>
                             <td class="bold-italic"> <%= x["CourseName"] %>
                                 <%= render :partial=>'ls_reports/spreadsheet/modal_content', :locals=>{:x=>x}%>
                             </td>
                             <%= render :partial=>'ls_reports/spreadsheet/content_static_data', :locals=>{:x=>x} %>
                     <% end %>
                    </tr>
                 <% end %>
            </tbody>
          </table>
        </div>

        <div id="intersession" class="tab-pane fade">
              <table style="width: 100%;" class="table table-condensed table-striped table-hover ls_reports_filter spreadsheet-body">
                <tbody>
                     <%= render :partial=>'ls_reports/spreadsheet/content_static_header' %>
                     <% @rs_data.each do |x| %>
                        <tr>
                          <% if x["CourseName"].include? "INTS" %>
                                 <td class="italic"> <%= x["CourseName"] %>
                                     <%= render :partial=>'ls_reports/spreadsheet/modal_content', :locals=>{:x=>x}%>
                                 </td>
                                 <%= render :partial=>'ls_reports/spreadsheet/content_static_data', :locals=>{:x=>x} %>   
                         <% end %>
                        </tr>
                     <% end %>
                </tbody>
              </table>        
        </div>

        <div id="electives" class="tab-pane fade">
            <table style="width: 100%;" class="table table-condensed table-striped table-hover ls_reports_filter spreadsheet-body">
              <tbody>
                <%= render :partial=>'ls_reports/spreadsheet/content_static_header' %>
                <% @rs_data.each do |x| %>
                    <tr>
                     <% if !x["CourseName"].include? "730" and !x["CourseName"].include? "INTS" %>
                             <td class="italic"> <%= x["CourseName"] %>
                                 <%= render :partial=>'ls_reports/spreadsheet/modal_content', :locals=>{:x=>x}%>
                             </td>
                             <%= render :partial=>'ls_reports/spreadsheet/content_static_data', :locals=>{:x=>x} %>   
                         <% end %>
                    </tr>
                 <% end %>
                </tbody>
             </table>        
        </div>

        <div id="EPA" class="tab-pane fade">
             <table style="width: 80%;" class="table table-hover table-condensed ls_reports_filter spreadsheet-body">
                <tbody class="bold-italic">

                    <% epa_desc = hf_epa_desc %>
                    <tr>
                        <td class="text-right">
                            <h4><b>EPA</b></h4>
                        </td>
                        <td>
                            <span>
                                <div id="progress-epa0" class = "progress" data-amount = "<%= overall_ave_epa %>" >
                                  <div id="epa0" class="amount" style="width: <%= 100-overall_ave_epa %>%"> </div><p>&emsp;Overall Progress</p>
                                </div>
                            </span> 
                        </td>                   
                    </tr>
                    <% for i in 1..13 %>
                        <tr>
                            <% epa = hf_epa(@rs_data, i.to_s, "3") %>
                            <td class="text-right"><h4>EPA<%= i.to_s %></h4>
                                <span>
                                    <button type="button" class="btn btn-info btn-info glyphicon glyphicon-info-sign" data-toggle="modal" data-keyboard="true"  data-target="#EPA<%= i.to_s %>">Detail
                                    </button>

                                    <%= render :partial=>'ls_reports/spreadsheet/modal_epa_content', :locals=>{:i=>i, :epa=>epa, :epa_desc=>epa_desc["EPA#{i}"], :assessors=> hf_assessors} %>
                                </span>
                            </td>
                            <td> 
                                 <% ave = hf_average_epa(epa) %>
                                <span>
                                    <h4><font color="purple">
                                        <%= epa_desc["EPA#{i}"] %>
                                    </font></h4>
                                </span>
                                <span>
                                    <div id="progress-epa<%= i %>" class = "progress" data-amount = "<%= ave %>" >
                                      <div id="epa<%= i %>" class="amount" style="width: <%= 100-ave %>%"> </div>     
                                    </div>
                                </span>
                                <!--<%= hf_display_epa_detail(epa) %> -->
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
                              
        </div>

    </div>
  </div>
</body>

<div style="height:450px;width:200px;"></div>
<!-- Bumper for scroll-spy-->


