<script src="https://code.highcharts.com/modules/drilldown.js"></script>

<%= include_gon %>
<div id="EPA<%= i %>" class="modal fade" role="dialog" data-modal-index="1">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="width:1250px;">
        <div class="modal-content">
             <div class="modal-header">
                 <a href="#close" class="close" data-dismiss="modal" >X</a>
                     <h3 class="modal-title modal-text-align-center"><font color="tomato"> EPA<%= i %> - <%= epa_desc %> </font><br />
                       <% if @epa_badges[i-1]["EPA#{i}"].include? "Not" %>
                             <font color="red"> [<%=  @epa_badges[i-1]["EPA#{i}"]  %>] </font>
                       <% else %>
                          <%= image_tag ("epa/EPA#{i}.png"), size: "100x80" %>
                            Date: <%= @review_date[i-1]["EPA#{i}"] %>
                       <% end %>
                      </h3>
             </div>

             <div class="modal-body">
              <div class="container-fluid">
                <ul class="nav nav-tabs" id="MyTabs">
                    <li class="active"><a data-toggle="tab" href="#EPASummary<%= i %>" id="tab-1-epa-<%= i %>">QA Summary</a></li>
                    <li><a data-toggle="tab" href="#EPADetail<%= i %>" id="tab-2-epa-<%= i %>">QA Details</a></li>
                    <li><a data-toggle="tab" href="#CourseDetail<%= i %>" id="tab-3-epa-<%= i %>" >Course Details</a></li>
                    <% if !current_user.permission_group.nil? and !current_user.permission_group.title.include? "Med19" %>
                      <li><a data-toggle="tab" href="#Artifacts<%= i %>" id="tab-3-epa-<%= i %>" >Artifacts</a></li>
                      <li><a data-toggle="tab" href="#AdHocEPA<%= i %>" id="tab-4-epa-<%= i %>" >WBA</a></li>
                    <% end %>
                </ul>

                <div class="tab-content">
                    <div id="EPASummary<%= i %>" class="tab-pane fade in active">

                         <table class="table borderless table-condensed modal-text-align-center table-striped table-hover">
                            <tr>
                                <td>Competency</td>
                                <td># of Not Able To Assess (Level 0)</td>
                                <td># of Pre-Entrustables (Level 1)</td>
                                <td># of Approaching Entrustables (Level 2)</td>
                                <td># of Entrustables Achieved (Level 3)</td>
                                <td>Min # of Entrustables Required by Assessors </td>
                                <td># of Entrustables Remaining</td>
                            </tr>
                             <% epa_level0 = hf_epa(@rs_data, i.to_s, "0") %>
                             <% epa_level1 = hf_epa(@rs_data, i.to_s, "1") %>
                             <% epa_level2 = hf_epa(@rs_data, i.to_s, "2") %>
                             <% epa.each do |k, v| %>
                                <% rem = (v-assessors[k])*(-1) %>

                                   <td><a href="#" data-html="true" data-placement="right" rel="tooltip" <span style="white-space: normal" data-toggle="tooltip" title="<%= hf_get_comp_desc2(k + "-E") %>" >
                                   <%= k %></a></span></td>

                                    <td><font color="purple"><%= epa_level0[k] == 0? "" : epa_level0[k] %></td>
                                    <td><font color="red"><b><%= epa_level1[k] == 0? "" : epa_level1[k] %></b></font></td>
                                    <td><font color="tomato"><%= epa_level2[k] == 0? "" : epa_level2[k]%></font></td>
                                    <td><font color="green"> <%= v == 0? "" : v %></font></td>
                                    <td><font color="blue"> <%= assessors[k] %></font></td>

                                    <% if rem <=0 %>
                                       <td><font color="green"><span class="glyphicon glyphicon-thumbs-up"></span>!!</font></td>
                                    <% else %>
                                        <td><font color="Orange"><%= rem %></font></td>
                                    <% end %>
                                </tr>
                             <% end %>

                         </table>
                    </div>
                    <div id="EPADetail<%= i %>" class="tab-pane fade in">
                        <% epa_detail_3 = hf_epa_courses(@rs_data, i.to_s, "3") %>
                        <% epa_detail_2 = hf_epa_courses(@rs_data, i.to_s, "2") %>
                        <% epa_detail_1 = hf_epa_courses(@rs_data, i.to_s, "1") %>
                        <% epa_detail_0 = hf_epa_courses(@rs_data, i.to_s, "0") %>

                        <table class="table borderless table-condensed table-striped table-hover">

                            <%= render :partial=>'ls_reports/spreadsheet/modal_epa_content_detail', :locals=>{:epa=>epa, :epa_level=>epa_level0, :epa_detail=>epa_detail_0, :comp_type=>"", :level=>"0", :i=>i} %>

                            <%= render :partial=>'ls_reports/spreadsheet/modal_epa_content_detail', :locals=>{:epa=>epa, :epa_level=>epa_level1, :epa_detail=>epa_detail_1, :comp_type=>"-E", :level=>"1", :i=>i} %>

                            <%= render :partial=>'ls_reports/spreadsheet/modal_epa_content_detail', :locals=>{:epa=>epa, :epa_level=>epa_level2, :epa_detail=>epa_detail_2, :comp_type=>"-P", :level=>"2", :i=>i} %>

                            <% epa.each do |k, v| %>
                                <tr>
                                  <% if v != 0 %>
                                       <td><a href="#" data-html="true" data-placement="right" rel="tooltip" <span style="white-space: normal" data-toggle="tooltip" title="<%= hf_get_comp_desc2(k + "-E") %>" >
                                          <%= k %></a></span>
                                       </td>
                                       <td class="align-right"><font color="green">Level 3 = <%= v %></font></td>
                                        <% temp_detail = epa_detail_3[k][0...-2].split("| ") %>

                                        <td class="align-left">
                                            <% temp_detail.each do |t| %>
                                              <% temp_t = t.sub("Final Grade and Competency Assessment", "") %>
                                              <td><a data-tab-destination="CourseDetail<%= i %>^<%= temp_t %>"> <%= hf_course_desc(temp_t) %></a> </td>
                                              <!-- <a data-tab-destination="tab-3-epa-<%= i %>"> -->
                                            <% end %>
                                        </td>
                                   <% end %>

                                </tr>
                            <% end %>

                        </table>
                    </div>

                    <div id="CourseDetail<%= i %>" class="tab-pane fade in">
                        <div class="course_detail" >
                            <!-- Dynamic table is created here by Jquery -->
                        </div>
                    </div>
                    <div id="Artifacts<%= i %>" class="tab-pane fade in">
                        <div id="ArtifactsDoc<%= i %>">
                            <%= render partial: 'artifacts/detail_artifacts', locals: {idx_epa: i} %>
                        </div>
                    </div>

                    <div id="AdHocEPA<%= i %>" class="tab-pane fade in">
                            <br />
                            <div id="data-visualization-EPA<%= i %>" style="width: 800px; height: 400px; margin: 0 auto"></div>
                            <br />
                          <%= render partial: 'epas/detail_adhoc_epas', locals: {idx_epa: i} %>
                    </div>
                    <div id="AdHocAllEPAs<%= i %>" class="tab-pane fade in">
                            <br />
                            <div id="data-visualization-AdHocAllEPAs" style="width: 1000px; height: 800px; margin: 0 auto"></div>
                            <br />
                            <br />
                            <div id="data-visualization-AdHocAllEPACount" style="width: 1000px; height: 500px; margin: 0 auto"></div>
                            <br />

                    </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
