
   <% epa.each do |k, v| %>
        <tr>  
          <% if epa_level[k] != 0 %>

          	   	<% if comp_type == "" %>
               		<td class="align-right"><%= k %></td>
               	<% else %>
		           <td><a href="#" data-html="true" rel="tooltip" <span style="white-space: normal" data-toggle="tooltip" title="<%= hf_get_comp_desc2(k + comp_type) %>" >
		              <%= k %></a></span>
		           </td>
		        <% end %>

                <td class="align-right"><font color="purple">Level <%= level %> = <%= epa_level[k] %></font></td>
                <% temp_detail = epa_detail[k][0...-2].split(", ") %>

                <td class="align-left"> 
                    <% temp_detail.each do |t| %>
                        <td><%= t %> </td>
                    <% end %>
                </td>
          <% end %>

        </tr>
    <% end %>  