<table style="width: 100%;" class="table table-condensed table-striped table-hover ls_reports_filter spreadsheet-body">
    <% @preceptor_view.each do |p| %>
      <tr>
          <% p.each do |key, val| %>
              <% if ["Preceptor Name", "Submit Date", "Grade", "Term", "Comment"].include? key %>
                  <td><b><%= key.nil? ? "Comments" : key %> </b></td>
                  <% val.each do |d| %>
                      <td><%= d %> </td>
                  <% end %>
              <% end %>
          <% end %>
      </tr>
    <% end %>
</table>
<table style="width: 100%;" class="table table-condensed table-striped table-hover ls_reports_filter spreadsheet-body noBorder">
  <% for i in  1..4 %>
    <tr>
      <td>
          <div class="col-sm-4" id="table-visualization-<%= i %>" ></div>
            <table style="background-color:#f2f2f2">
              <body>
                <tr><td colspan='3' style="text-align:center"><h4>Preceptorship Evaluations</h4></td></tr>
                <tr><td style="text-align:right;"><b>Competency: <i><%= hf_decode_comp(@preceptorship[i][0].flatten.first) %></i></b></td>
                  <% @preceptorship[0][3]["Term"].each do |term| %>
                    <td style='width:130px; text-align:center'><b><%= term %></b></td>
                  <% end %>
                </tr>
                <% @preceptorship[i].each do |precept| %>
                  <tr><td style="text-align:right;"><%= precept.first[0] %></td>
                    <% precept.first[1].each do |comp| %>
                      <% preceptor_comp = hf_decode_preceptor_comp(comp) %>
                      <td class="<%= preceptor_comp %>" style="text-align:center; vertical-align:middle">
                        <a href="#" data-html="true" data-placement="right" rel="tooltip" <span style="white-space: normal" data-toggle="tooltip" title="<%= hf_precetor_comp_def(preceptor_comp) %>" ><%= preceptor_comp %></a></span>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </body>
            </table>
        </td>
      </tr>
  <% end %>
</table>
