<%= form_for [group, comment],
    :html => { :class => "form-group" } do |f| %>
    <% fid = f.options[:html][:id] %>

  <blockquote class="bs-callout-<%= bq_type %>">
    <h4>
        <span class="label label-<%= bq_type %>">
            <% if comment.new_record? %>
                New
            <% else %>
                Editing
            <% end %>
        </span>
        &nbsp;Comment
    </h4>
    <%= f.hidden_field :user_assignment_id %>
    <%= f.text_area :slug,
        class: 'form-control',
        rows: 4 %>
    <div class="pull-right">
      <button type="button" class="btn btn-link"
              data-remove='#<%= fid %>'
            data-show="#new-comment-btn">
            <i class="glyphicon glyphicon-ok"></i>
      </button>
      <button type="button" class="btn btn-link"
          data-remove='#<%= fid %>'
          data-show="#new-comment-btn">
          <i class="fa fa-ban"></i>
      </button>
    </div>
  </blockquote>
<% end %>
