<%- model_class = Assignment::AssignmentComment -%>
<div class="page-header">
    <% title ||= model_class.model_name.human.pluralize.titleize %>
  <h1><%=t '.title', default: title  %></h1>
</div>


<blockquote>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Integer posuere erat a ante.
    </p>
  <footer>
    Bill Hatt <i>Sun. Oct. 19th 2015</i>
  </footer>
</blockquote>

<div id="comment_33">
    <blockquote class="bs-callout-primary">
        <div class="md-show">
            <div class="md-show-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Integer posuere erat a ante.
            </div>
            <p/> 
            <footer>
                Bill Hatt <i>Sun. Oct. 19th 2015</i>
                <div class="pull-right">
                    <button type="button" class="btn btn-link" 
                        data-hide="#comment_33 .md-show" 
                        data-show="#comment_33 form">
                    <i class="glyphicon glyphicon-edit"></i>
                  </button>
                  <button type="button" class="btn btn-link"
                          data-confirmed="Deleting comment. Are you sure?"
                          data-hide="#comment_33">
                      &times;</button>
                </div>
            </footer>
        </div>

        <i class='icon-spinner icon-spin icon-large'></i>
        <form class="md-form form-group" style="display:none;">
            <textarea class="form-control" rows="4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. </textarea>
            <div class="pull-right">
                <button type="button" 
                        class="btn btn-link" 
                        data-show="#comment_33 .md-show"
                        data-hide="#comment_33 form"
                        data-action='submit'
                        data-insert=':replace'
                        data-target='#comment_33'>
                <i class="glyphicon glyphicon-ok"></i>
              </button>
              <button type="button" 
                      class="btn btn-link" 
                      data-show="#comment_33 .md-show" 
                      data-hide="#comment_33 form">
                  <i class="fa fa-ban"></i>
              </button>
            </div>
        </form>
    </blockquote>
</div>
    <% @assignment_comments.each do |assignment_comment| %>
      <tr>
        <td><%= assignment_comment.user_id %></td>
        <td><%= assignment_comment.slug %></td>
        <td><%=l assignment_comment.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_assignment_assignment_comment_path(assignment_comment), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      assignment_assignment_comment_path(assignment_comment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>

  <button id='comment-new-btn' type="button" class="btn btn-primary"
      data-hide="#comment-new-btn"
      data-action='resource-load'
      data-target="#comment-new-btn"
      data-insert=":before"
      data-url='<%= new_assignment_assignment_comment_path %>'>
        New
  </button>

