<div class="container">
  <div id="login-banner" class="row">
    <%= image_tag Settings.site.logo, alt: Settings.site.name %>
  </div>

  <div class="row">
    <div class="col-sm-4">
    </div>
      <div class="col-sm-4">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="form-group">
            <%= f.label :login %>
            <%= f.text_field :login, class: 'form-control', placeholder: "Enter username" %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>
          <div class="checkbox">
            <%= f.label :remember_me do %>
              <%= f.check_box :remember_me %>Remember me
            <% end %>
          </div>

          <%= f.submit "Sign in", class: "btn btn-primary" %>

        <% end %>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
</div>
