<div id="assignment-nav" style=<%= display ? "display:#{display}" : "" %>>
  <div class="row main fade-in two">
    <% if (2..4).to_a.include? @assignment_groups.count %>
      <div id="assignment-group-nav" class="col-md-6 left-panel">
        <% @assignment_groups.each do |group| %>
          <%= link_to group.title, group, class: "btn btn-#{group.id == @assignment_group.id ? :primary : :link}" %>
        <% end %>
      </div>
    <% elsif @assignment_groups.count > 4 %>
      <div id="assignment-group-nav" class="col-md-6 left-panel">
        <%= select_tag "assignment_group_id",
        grouped_options_for_select(hf_assignment_groups_select_hash(@assignment_groups)),
        class: "needs-select2 collection-select" %>
      </div>
    <% end %>
    <div id="user-ids-nav" class="col-md-<%= (@assignment_groups && @assignment_groups.count > 1) ? 6 : 12 %>">
      <% @assignment_group.users.sort_by{|u| u.id}.each do |usr| %>
      <%= link_to "#{usr.display_name}#{hf_ur_owner_badge usr, current_user}".html_safe,
          assignment_assignment_group_path(@assignment_group, user_id: usr.id),
          class: "btn btn-#{usr.id.to_s == params[:user_id] ? :primary : :default}"%>
      <% end %>
    </div>
  </div>
</div>
