<div id="<%= dom_id eg_member %>">
  <p>
    <strong>Full name:</strong>
    <%= eg_member.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= eg_member.email %>
  </p>

  <p>
    <strong>Eg type:</strong>
    <%= eg_member.eg_type %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= eg_member.active %>
  </p>

</div>
