<div>
    <div class="role-question-table" id="role-question-vis_<%= question.qid %>">
        <p>
            <%= question.qid %>
            <em class="question"><%= strip_tags(question.question) %></em>
        </p>
        <table class="answer">
            <thead>
                <tr>
                    <th>Answer</th>
                    <th>Code</th>
                    <th>Freq Responses</th>
                    <th>Participants</th>
                    <th>Responses (%)</th>
                </tr>
            </thead>
            <tbody>
            <% answers.each do |ans| %>
                <tr>
                   <td><%= ans.answer %>  </td>
                   <td class="centered-data"><%= ans.code %>  </td>
                   <th class="centered-data"><%= ans.count_in_dataset(question) %>  </th>
                   <td class="centered-data"><%= ans.total_in_dataset %>  </td>
                   <th class="centered-data"><%= sprintf('%.2f', ans.perc_in_dataset(question)) %>  </th>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>

<% if @show_comments %>
    <% question.text_answers.each do |text_ans| %>
        <% next if text_ans.to_s == "" %>
        comment:
        <p><%= text_ans.html_safe %></p>
    <% end %>
<% end %>

<% if question.parent_qid != 0 %>
    <%= render :partial=>'role_aggregates/graph', :locals=>{:qid=>question.qid.to_s} %>
<% end %>
