<% #if !pquestion.response_set.data[0].data[0].nil? %>
   <div class="well">
    <% if pquestion.response_set.data[0].data.count < 5 and !@pk.to_s.empty? %>

        <table class="table table-striped table-condensed">
            <% pquestion.response_set.data.each do |rs| %>
               <% if !rs.data.first.nil? %>
                   <tr>
                       <% if rs.question.hf_has_epa?(rs.question) %>
                           <td><a href="#" data-html="true" rel="tooltip" <span style="white-space: normal" class="desc_<%= rs.qtype %>" data-toggle="tooltip" title="<%= rs.question.hf_get_comp_desc(rs.question) %>" >
                           <%= strip_tags(rs.question.question) %></a></span></td>
                       <% else %>
                           <td><span class="desc_<%= rs.qtype %>"><%= strip_tags(rs.question.question) %></span></td>

                       <% end %>
                       <% rs.data.each do |dt| %>
                           <% if !dt.nil? and dt.include? "^" %>
                               <% tmp_dt = dt.split("^") %>
                                  <td><%= tmp_dt[0] %>
                                  <hr><b><i><%= tmp_dt[1] %></i></b>
                                 </td>
                           <% else %>
                                 <td><%= dt %></td>
                           <% end %>
                       <% end %>
                   </tr>
               <% else %>
                   <% #break %>
               <% end %>
           <% end %>
        </table>

    <% end %>
    <% #raise hell %>
   </div>
<% #end %>

