<div id="<%= dom_id badging_date %>">
  <p>
    <strong>Permission group:</strong>
    <%= badging_date.permission_group_id %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= badging_date.release_date %>
  </p>

  <p>
    <strong>Last review end date:</strong>
    <%= badging_date.last_review_end_date %>
  </p>

  <p>
    <strong>Next review end date:</strong>
    <%= badging_date.next_review_end_date %>
  </p>

</div>
