<h5 style="color:blue;">Search Result&nbsp; &nbsp;
<%= link_to ('<i class="fa fa-download">&nbsp; Click here to Download..</i>').html_safe, searches_download_file_path(file_name: @file_name) %></h4>
<h5> --> Please refine your search! (eg => Le, will only search for the last name of Le.)</h5>
<table id="SearchTable" class="table table-hover main-table table-light responsive-lg">
  <thead>
    <tr>
      <th style="text-align:center">Student</th>
      <th style="text-align:center">Student Email </th>
      <th style="text-align:center">UID </th>
      <th style="text-align:center">Current Cohort</th>
      <th style="text-align:center">Previous Cohort</th>
      <th style="text-align:center">Program Status</th>
      <th style="text-align:center">Matriculated Date</th>
    </tr>
  </thead>
<% results.each do |result| %>
  <tr>
    <td style="text-align:center"> <%= link_to result.full_name, search_searches_path(search: result.email), target: :blank %></td>
    <td style="text-align:center"> <%= result.email %></td>
    <% if ['chungp', 'haedinge', 'petesama', 'bumstedt'].include? current_user.username %>
      <td style="text-align:center"> <%= link_to result.sid.to_s, update_loa_users_path(sid: result.sid), target: :_blank %></td>
    <% else %>
      <td style="text-align:center"> <%= result.sid.to_s  %></td>
    <% end %>
    <td style="text-align:center"> <%= result.permission_group.title.to_s %></td>
    <td style="text-align:center"> <%= hf_get_permission_title(result.prev_permission_group_id) %></td>
    <td style="text-align:center"> <%= result.spec_program %></td>
    <% if !result.matriculated_date.nil? %>
      <td style="text-align:center"> <%= result.matriculated_date.strftime("%F") %></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>
