
<%= render 'layouts/nav_header' %>
<h3>Search Result</h3>
  <% if !@results.nil? %>
    <table class="table table-hover main-table">
      <thead>
        <tr>
          <th>Student</th>
          <th>Student Email </th>
          <th>Permission Group</th>
          <th>Coaching Type</th>
          <th>Cohort</th>
          <th>DataSets</th>
        </tr>
      </thead>
      <% @temp_hash = {} %>
      <% @results.each do |result| %>
        <% @pk = result.email %>
        <tr>
          <td> <%= result.full_name %></td>
          <td> <%= result.email %></td>
          <td> <%= result.permission_group.title.to_s %></td>
          <td> <%= result.coaching_type.to_s %></td>
          <% if result.coaching_type == 'student' %>
             <td> <%= result.cohort ? result.cohort.title : "Not Available"%></td>
          <% else %>
              <td> N/A </td>
          <% end %>
          <td>
            <%= nav_link_to("View Artifacts", artifacts_path(user_id: result.id))  %>
            <%= nav_link_to("Clinical Phase Dataset - TEST", competencies_path(user_id: result.id)) %>
            <% hf_datasets(result, @temp_hash).each do |dataset| %>
               <% sid = dataset.split("~").first %>
               <% if dataset.split("~").last.include? "Core Clinical/Electives" %>
                   <%= link_to dataset.split("~").last, polymorphic_path([hf_graph_type(dataset), :ls_report], sid: sid, pk: @pk),
                      class: "modal-click link-to-text-color", 'data-target': '#modal-dataset' %> <br>
              <% else %>
                    <%= link_to dataset.split("~").last, polymorphic_path([hf_graph_type(dataset), :ls_report], sid: sid, pk: @pk),
                       class: "modal-click", 'data-target': '#modal-dataset' %> <br>
              <% end %>
            <% end %>
          </td>

        </tr>
      <% end %>
    </table>
    <% hf_write_hash(@temp_hash) %>

  <% end %>
