

<% if @class_mean_exist  %>
  <table class="table table-hover main-table">
      <thead>
        <tr>
          <th>Student</th>
          <th>Student Email </th>
          <th>Cohort</th>
          <th>Overall (%)</th>
          <th>ICS</th>
          <th>MK</th>
          <th>PBLI</th>
          <th>PCP</th>
          <th>PPPD</th>
          <th>SBPIC</th>
        </tr>
      </thead>
    <% @class_comp.each do |comp| %>
      <tr>
        <td>
          <%= link_to comp.student_name, polymorphic_path(['spreadsheet', :ls_report], sid: @clinical_sid, pk: comp.email),
           :class=>"modal-click", 'data-target'=>'#modal-dataset' %> <br>
        </td>
        <td><%= comp.email %></td>
        <td><%= comp.student_year %></td>
        <% if comp.overall_competency.to_i < 80 %>
          <td>
            <div class="progress" style="height: 15px;">
              <div class="progress-bar bg-warning" role="progressbar" style="width: <%= comp.overall_competency.to_i %>%" aria-valuenow="<%= comp.overall_competency.to_i %>" aria-valuemin="0"
                aria-valuemax="100"><font color="orange"><b><%= comp.overall_competency.to_i %></b></font></div>
            </div>
          </td>
        <% else %>
          <td>
            <span>
              <div class="progress" style="height: 15px;">
                <div class="progress-bar bg-info" role="progressbar" style="width: <%= comp.overall_competency.to_i %>%"
                  aria-valuenow="<%= comp.overall_competency.to_i %>" aria-valuemin="0"
                  aria-valuemax="100"><%= comp.overall_competency.to_i %></div>
              </div>
            </span>
        </td>
        <% end %>
        <td><%= '%2.0f' % comp.ics %></td>
        <td><%= '%2.0f' % comp.mk %></td>
        <td><%= '%2.0f' % comp.pbli %></td>
        <td><%= '%2.0f' % comp.pcp %></td>
        <td><%= '%2.0f' % comp.pppd %></td>
        <td><%= '%2.0f' % comp.sbpic %></td>
      </tr>

    <% end %>
  </table>
<% else %>
  <h3>Search Result</h3>
    <% if !@results.nil? %>
      <table class="table table-hover main-table">
        <thead>
          <tr>
            <th>Student</th>
            <th>Student Email </th>
            <th>Permission Group</th>
            <th>Coaching Type</th>
            <th>Cohort</th>
            <th>DataSets</th>
          </tr>
        </thead>

        <% @results.each do |result| %>
          <% @pk = result.email %>
          <tr>
            <td> <%= result.full_name %></td>
            <td> <%= result.email %></td>
            <td> <%= result.permission_group.title %></td>
            <td> <%= result.coaching_type %></td>
            <% if result.coaching_type == 'student' %>
               <td> <%= result.cohort ? result.cohort.title : "Not Available"%></td>
            <% else %>
                <td> N/A </td>
            <% end %>
            <td>
              <% hf_datasets(result).each do |dataset| %>
                 <% sid = dataset.split("~").first %>
                 <%= link_to dataset.split("~").last, polymorphic_path([hf_graph_type(dataset), :ls_report], sid: sid, pk: @pk),
                    :class=>"modal-click", 'data-target'=>'#modal-dataset' %> <br>

              <% end %>
            </td>

          </tr>
        <% end %>
      </table>
    <% end %>
<% end %>
  <%= render :partial=>'shared/modal_spinner2', :locals=>{:modal_id=>'modal-dataset', :message=>'Loading Dataset'}%>
