<br />
<div class="row">
  <div class="col">
    <span>
      <h5 style="text-align:center"> # of WBAs With Involvements per EPA Report - Cohort: <b><%= @cohort %> </b></h5>
      <h6 style="text-align:center"> Start Date: <b><%= @start_date %></b> End Date: <b><%= @end_date %></b></h6>
    </span>

    <table id="WbaEpaLevelTable" class="table table-hover table-striped responsive"  >
      <thead>
        <tr>
          <th>Involvement</th>
          <% @level_epa_wbas_count_hash.first.second.keys.each do |key| %>
            <th style="text-align:left"><%= key.upcase %></th>
          <% end %>
          <th>Total</th>
        </tr>
      </thead>
        <% tot_epa_hash = {} %>
        <% @level_epa_wbas_count_hash.each do |key1, wba| %>
          <tr>
            <td><%= key1 %></td>
            <% wba.each do |key, val| %>
                <% if key1 == 'Class Mean' %>
                  <td style="text-align:center"> <%= '%.2f' % val %></td>
                <% else %>
                  <td style="text-align:center"> <%= val %></td>
                <% end %>
            <% end %>
            <% if key1 != 'Class Mean' %>
              <td><%= wba.values.compact.sum %></td>
            <% end %>
          </tr>
        <% end %>
    </table>
  </div>
  <div class="col">
    <span>
      <h5 style="text-align:center"> Average Involvements per EPA Report - Cohort: <b><%= @cohort %> </b>
        <%= link_to ('<i class="fa fa-download"></i>').html_safe, download_file_epa_masters_path(file_name: "#{@cohort}_average_wba_epa.txt") %>
      </h5>
      <h6 style="text-align:center"> Start Date: <b><%= @start_date %></b> End Date: <b><%= @end_date %></b></h6>
    </span>
    <table id="AveWbaEpaLevelTable" class="table table-hover table-striped responsive" data-sort="true"  >
      <thead>
        <tr>
          <th>Student Name</th>
          <% @average_level_epa_wbas_hash.first["Ave Involvement"].keys.each do |key| %>
            <th style="text-align:left"><%= key.upcase %></th>
          <% end %>
        </tr>
      </thead>
        <% @average_level_epa_wbas_hash.each do |wba| %>
          <tr>
            <td><%= wba["Student Name"] %></td>
            <% wba["Ave Involvement"].each do |key, val| %>
              <% if val.nil? %>
                <td style="text-align:center">0.00</td>
              <% else %>
                <td style="text-align:center"> <%= '%.2f' % val %> </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
    </table>
  </div>
</div>
