<br />

<span>
  <h5 style="text-align:center"> # of WBAs per EPA Report - Cohort: <b><%= @cohort_title %> </b>
  <%= link_to ('<i class="fa fa-download"></i>').html_safe, download_file_epa_masters_path(file_name: 'wba_epa.txt') %>
  </h5>
  <h6 style="text-align:center"> Start Date: <b><%= @start_date %></b> End Date: <b><%= @end_date %></b></h6>
</span>

<table id="WbaEpaTable" class="table table-hover table-striped responsive" data-sort="true" >
  <thead>
    <tr class="filters">
      <% @wba_epa_data.first.keys.each do |key| %>
        <th style="text-align:center"><%= key %></th>
      <% end %>
    </tr>
  </thead>
    <% @wba_epa_data.each do |wba| %>
      <tr>
        <% wba.each do |key, val| %>
          <td style="text-align:center"> <%= val %> </td>
        <% end %>
      </tr>
    <% end %>
</table>
