<br />
<div class="containter-fluid"
    <div class="row">
      <div class="card">
        <div class="card-body">
            <% if !@epa_masters.nil? %>
              <div id="epa-masters-table">
                <% if @user.spec_program.include? "Paused badging" %>
                  <h3 style="display: inline-block">Badging EPAs - <%= @full_name %> </h3><h5 style="display: inline-block;color:#FC6C85">&nbsp;&nbsp;[Student Status: <%= @user.spec_program %>]</h5>
                <% else %>
                  <h3 style="display: inline-block">Badging EPAs - <%= @full_name %> </h3><h5 style="display: inline-block">&nbsp;&nbsp;[Student Status: <%= @user.spec_program %>]
                  &nbsp;&nbsp; <%= link_to 'Query AI', query_ai_epa_masters_path(full_name: @full_name), class: "btn btn-primary", target: :_blank %></h5>
                <% end %>
                <table class="responsive nowrap table table-hover" >
                  <thead>
                    <tr>
                      <th data-data="epa">EPA</th>
                      <th data-data="status">Status</th>
                      <th data-data="EntrustmentReviews">Entrustment Reviews</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if !@epa_masters.nil? %>
                      <% @epa_masters.each do |epa_master| %>
                          <%= render partial: "epa_masters/epa_masters_row", locals: { epa_master: epa_master } %>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
        </div>
      </div>
    </div>
</div>
