<%= form_for @epa_master, html: {class: "form-horizontal"} do |f| %>
  <div class="col-xs-4">

      <%= f.hidden_field :user_id,  value: @epa_master.user_id %>
      <%= f.hidden_field :epa, value: @epa_master.epa %>

      <div class="form-group">
        <%= f.label 'Review Date1', class: "control-label col-sm-4" %>
        <%= f.date_field :review_date1,  as: :date, html5: true %>
      </div>

      <div class="form-group">
        <%= f.label 'Reviewed By', class: "control-label col-sm-4" %>
        <%= f.text_field :reviewed_by1a,  html5: true %>
      </div>

      <div class="form-group">
        <%= f.label 'Reviewed By', class: "control-label col-sm-4" %>
        <%= f.text_field :reviewed_by1b,  html5: true %>
      </div>

      <div class="form-group">
        <%= f.label 'Note1', class: "control-label col-sm-4" %>
        <%= f.text_area :note1,  cols:25, rows: 5, html5: true %>
      </div>

      <div class="form-group">
        <%= f.label 'Status1', class: "control-label col-sm-4" %>
        <%= f.select :status1, ["No", "Not Ready", "Yes"], prompt: '--', html5: true %>
      </div>
  </div>

  <div class="col-xs-4">
      <div class="form-group">
        <%= f.label 'Review Date2', class: "control-label col-sm-4" %>
        <%= f.date_field :review_date2,  as: :date, html5: true %>
      </div>

      <div class="form-group">
        <%= f.label 'Reviewed By', class: "control-label col-sm-4" %>
        <%= f.text_field :reviewed_by2a,  html5: true %>
      </div>

      <div class="form-group">
        <%= f.label 'Reviewed By', class: "control-label col-sm-4" %>
        <%= f.text_field :reviewed_by2b,  html5: true %>
      </div>

      <div class="form-group">
        <%= f.label 'Note2', class: "control-label col-sm-4" %>
        <%= f.text_area :note2, cols:25, rows: 5, html5: true %>
      </div>

      <div class="form-group">
        <%= f.label 'Status2', class: "control-label col-sm-4" %>
        <%= f.select :status2, ["No", "Not Ready", "Yes"], prompt: '--',  html5: true %>
      </div>
  </div>
  <div class="col-xs-4">
      <div class="form-group">
        <%= f.label 'Review Date3', class: "control-label col-sm-4" %>
        <%= f.date_field :review_date3,  as: :date, html5: true %>
      </div>

      <div class="form-group">
        <%= f.label 'Reviewed By', class: "control-label col-sm-4" %>
        <%= f.text_field :reviewed_by3a,  html5: true %>
      </div>

      <div class="form-group">
        <%= f.label 'Reviewed By', class: "control-label col-sm-4" %>
        <%= f.text_field :reviewed_by3b,  html5: true %>
      </div>

      <div class="form-group">
        <%= f.label 'Note3', class: "control-label col-sm-4" %>
        <%= f.text_area :note3, cols:25, rows: 5, html5: true %>
      </div>

      <div class="form-group">
        <%= f.label 'Status3', class: "control-label col-sm-4" %>
        <%= f.select :status3, ["No", "Not Ready", "Yes"], prompt: '--', html5: true %>
      </div>

      <div class="form-actions">
        <%= f.submit "Save Changes", class: "btn-primary", id: "submit" %>
      </div>

  </div>
<% end %>
