
<div class="container" >

    <%= form_tag(eg_report_epa_masters_path, method: "get", id: 'eg_report_form') do %>
      <div class="form-group navbar-form navbar-right">
         <b>EPA </b> <%= select_tag :epa, options_for_select(hf_epa_codes, selected: params[:epa]),
            prompt: "Please Select a EPA" %>
        <b>EG Member </b> <%= select_tag :eg_member, options_for_select(hf_load_eg_members, selected: params[:eg_member]),
            prompt: "Please Select an EG Member" %>
         <%= submit_tag 'Go', class: "submit_btn", onclick: "this.form.submit();" %>

      </div>
      <% if !@epa_masters.blank? %>
        <div class="container">
          <div id="eg_report">
            <%= render partial: 'detail_eg_report' %>
          </div>
        </div>
      <% end %>
    <% end %>



</div>
