
<div id="container-fluid">
    <% if can? :crud, Dashboard %>
        <div class="panel panel-default">
          <div class="panel-body">

                <span class="float-right">
                  <%= link_to("Back Home", main_app.root_path, class: "dashboard-link") %> &nbsp;&nbsp;
                </span>
                <span class="float-right">
                  <% user_id = (@epa_masters.nil?) ? nil : @epa_masters.first.user_id %>
                  <% btn_text = '<button  type="button" class="btn btn-success btn-md" data-loading-text="<i class=\'fa fa-spinner fa-spin \'></i>Calling API.." >Load Qualtrics Data</button>' %>
                  <%= link_to btn_text.html_safe, controller: 'epa_reviews', action: 'get_qualtrics', user_id: user_id, remote: true, 'data-target' => '#mymodal-load-qualtrics' %>
                </span>

                  <span class="float-right">
                  <%= select_tag :permission_group_id, options_for_select(@student_groups.collect{|s| [s.title, s.id]}, selected: params[:permission_group_id]),
                      prompt: "Please Select Cohort to EXPORT..",
                      id: 'cohort_dropdown_menu',
                      data: {remote: true,
                             url: '/epa_masters/export_data',
                             method: 'get'
                           }
                    %>
                  </span>


                <span class="float-right">
                   <%= form_tag(epa_masters_path, method: "get", remote: true, style: "float: right; display: block") do %>
                     <%= text_field_tag :search, params[:search], placeholder: "Enter LastName, FirstName" %>
                     <%= submit_tag "Search" %>
                   <% end %>
                 </span>
          </div>
        </div>
    <% end %>
    <div id=main2-epa-masters %>
      <%= render partial: 'epa_masters_table' %>
    </div>

    <div id="main-epa-masters"> </div>
    <div id="mymodal-epa-review"></div>
    <div id="mymodal-epa-master"></div>
    <div id="mymodal-load-qualtrics"></div>
</div>
