<h1>Epa Masters</h1>

<div class="float-right">
   <%= form_tag(epa_masters_path,  action: 'search_student',  method: "get",  style: "float: right; display: block") do %>
     <%= text_field_tag :search, params[:search], placeholder: "Enter LastName, FirstName" %>
     <%= submit_tag "Search", name: 'form2[search]', class: "btn btn-success"%>
   <% end %>
 </div>

<table class="responsive nowrap table table-hover" id="dttb-epa_masters" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Epa Master', new_epa_master_path %>
