<% if can? :crud, Dashboard %>
  <%= nav_link_to("Back Home", main_app.root_path, class: "dashboard-link") %>
<% end %>
<h3>Badging EPA - <%= @full_name %> </h3>
<table class="responsive nowrap table table-hover" id="dttb-epa_masters" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="user_id">User ID</th>
      <th data-data="epa">EPA</th>
      <th data-data="status">Status</th>
      <th data-data="status_date">Award Date</th>
      <th data-data="expiration_date">Expiration Date</th>
      <th data-data="Badged">Badged</th>
      <th data-data="Reviews">Reviews</th>

    </tr>
  </thead>

  <% if !@epa_masters.nil? %>
    <% @epa_masters.each do |epa_master| %>
      <tr>
      <td><%= epa_master.user_id %></td>
      <td><%= epa_master.epa %></td>
      <td><%= epa_master.status %></td>
      <td><%= hf_format_date(epa_master.status_date) %></td>
      <td><%= hf_format_date(epa_master.expiration_date) %></td>
      <% if epa_master.statuses? %>
        <td><%= image_tag ("epa/#{epa_master.epa}.png"), class: "img-responsive" %> </td>
      <% else %>
        <td>Not Badge</td>
      <% end %>
        <td>
          <% epa_master.epa_reviews.each do |review| %>
              <%= review.review_date1.strftime("%m-%d-%Y")  %> / <%= review.egm_recommendation %> / <%= review.reviewed_by1%>
              <%= link_to 'Edit', edit_epa_review_path(id: review.id), {remote: true, controller: 'epa_reviews',
                  'data-target' => '#mymodal-epa-review'}  %>
              <br />
          <% end %>
          <span>
            <%= link_to 'New Review', new_epa_review_path(epa_master_id: epa_master.id), {remote: true, controller: 'epa_reviews', action: 'new',
                'data-target' => '#mymodal-epa-review'}  %>
          </span>
        </td>

      </tr>


    <% end %>
  <% else %>
    <% flash[:notice] = '** You need to select a student first! ***' %>
  <% end %>

</table>


<div id="mymodal-epa-review"></div>
<div id="mymodal-epa-master"></div>
