<h1>Epa Masters</h1>

<table class="responsive nowrap table table-hover" id="dttb-epa_masters" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="user_id">User ID</th>
      <th data-data="epa">EPA</th>
      <th data-data="review_date1">Review date1</th>
      <th data-data="review_date2">Review date2</th>
      <th data-data="review_date3">Review date3</th>
      <th data-data="reviewed_by1">Reviewed By1</th>
      <th data-data="reviewed_by2">Reviewed By2</th>
      <th data-data="reviewed_by3">Reviewed By3</th>
      <th data-data="status1">Status1</th>
      <th data-data="status2">Status2</th>
      <th data-data="status3">Status3</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

    <% @epa_masters.each do |epa_master| %>
      <tr>
      <td><%= epa_master.user_id %></td>
      <td><%= epa_master.epa %></td>
      <td><%= epa_master.review_date1 %></td>
      <td><%= epa_master.review_date2 %></td>
      <td><%= epa_master.review_date3 %></td>
      <td><%= epa_master.reviewed_by1 %></td>
      <td><%= epa_master.reviewed_by2 %></td>
      <td><%= epa_master.reviewed_by3 %></td>
      <td><%= epa_master.status1 %></td>
      <td><%= epa_master.status2 %></td>
      <td><%= epa_master.status3 %></td>
      <% if epa_master.statuses? %>
        <td><%= image_tag ("epa/#{epa_master.epa}.png"), class: "img-responsive" %>
      <% else %>
        <td></td>
      <% end %>
      <td><%= link_to 'Edit', edit_epa_master_path(epa_master.id) %>
      </tr>
    <% end %>


</table>

<br>
<% if @epa_masters.empty? %>
  <%= link_to 'New Epa Master', new_epa_master_path(email: params[:email]) %>
<% else %>
  <%= link_to 'New Epa Master', new_epa_master_path(user_id: @epa_masters.first.user_id, action: "create" )%>
<% end %>
