<p id="notice"><%= notice %></p>

<p>
  <strong>Review date1:</strong>
  <%= @epa_master.review_date1 %>
</p>

<p>
  <strong>Review date2:</strong>
  <%= @epa_master.review_date2 %>
</p>

<p>
  <strong>Review date3:</strong>
  <%= @epa_master.review_date3 %>
</p>

<%= link_to 'Edit', edit_epa_master_path(@epa_master) %> |
<%= link_to 'Back', epa_masters_path %>
