<p id="notice"><%= notice %></p>

<p>
  <strong>UserID:</strong>
  <%= @epa_master.user_id %>
</p>

<p>
  <strong>status:</strong>
  <%= @epa_master.status %>
</p>

<p>
  <strong>Status Date:</strong>
  <%= @epa_master.status_date%>
</p>

<%= link_to 'Edit', edit_epa_master_path(@epa_master) %> |
<%= link_to 'Back', epa_masters_path %>
