<div id="<%= dom_id course %>">
  <p>
    <strong>Course number:</strong>
    <%= course.course_number %>
  </p>

  <p>
    <strong>Course name:</strong>
    <%= course.course_name %>
  </p>

  <p>
    <strong>Content type:</strong>
    <%= course.content_type %>
  </p>

  <p>
    <strong>Medhub course:</strong>
    <%= course.medhub_course_id %>
  </p>

  <p>
    <strong>Rural:</strong>
    <%= course.rural %>
  </p>

</div>
