<div id="<%= dom_id course %>">

    <strong>Course number:</strong>
    <%= course.course_number %><br />

    <strong>Course name:</strong>
    <%= course.course_name %><br />

    <strong>Content type:</strong>
    <%= course.content_type %><br />

    <strong>Department:</strong>
    <%= course.department %><br />

    <strong>Course Purpose Statement:</strong>
    <%= course.course_purpose_statement %><br />

    <strong>Special Notes:</strong>
    <%= course.special_notes %><br />

    <strong>Prerequisites:</strong>
    <%= course.prerequisites %><br />

    <strong>Required prerequisites:</strong>
    <%= course.required_prerequisites %><br />

    <strong>Credits:</strong>
    <%= course.credits %><br />

</div>
