<br />
<div class="card">
  <div class="card-body">
    <div class="d-flex">
      <%= form_with(url: courses_path, method: :get) do |form| %>
          <%= form.label :category, "Category:", class: "block mb-2" %>&nbsp;
          <%= form.select :category, options_for_select(@category, selected: params[:category]), include_blank: true %>&nbsp;
          <%= form.label :department, "Department:", class: "block mb-2" %>&nbsp;
          <%= form.select :department, options_for_select(@departments, selected: params[:department]), include_blank: true %>&nbsp;

        &nbsp;
          <div class="form-check form-check-inline">
              <%= label_tag "Lottery" %>&nbsp;
              <%= check_box_tag 'lottery', true, params[:lottery]  %> &nbsp;
              <%= label_tag  "Rural" %>&nbsp;
              <%= check_box_tag 'rural', true, params[:rural] %> &nbsp;
              <%= label_tag  "Continuity" %>&nbsp;
              <%= check_box_tag 'continuity', true, params[:continuity] %> &nbsp;
              <%= label_tag  "Prerequisites" %>&nbsp;
              <%= check_box_tag 'prerequisites', true, params[:prerequisites] %> &nbsp;


          </div>
          &nbsp;
          <%= form.submit 'Submit', class: "btn btn-primary" %>
      <% end %>
      &nbsp;
      &nbsp;
      <%= form_with(url: courses_path, method: :get) do |form| %>
          <%= form.label :course_name, "Search by Course Name:", class: "block mb-2" %>&nbsp;
          <%= form.text_field :course_name %>&nbsp;
          <%= form.submit 'Search', class: "btn btn-primary" %>
      <% end %>
    </div>

  </div>
</div>
<br />
<% if !@courses.empty? %>
  <div class='d-flex'><h5 style="color: purple">Courses for 2024</h5>&nbsp; &nbsp<%= link_to 'New Course', new_course_path %></div>
  <table class="table-responsive wrap table table-hover table-striped tableFixHead " id="dttb-courses" >
    <thead class="thead-light">
      <tr>
        <% @courses.first.keys.each do |key| %>
          <% if key.include? "available" %>
            <th> AvailThruLottery</th>
          <% else %>
            <th><%= key.titleize %> </th>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <% @courses.each do |course| %>
      <tr>
        <% course.each do |key, val| %>
          <% if key == "course_number" %>
            <td style="width: 5%"> <%= link_to val.to_s, course_schedules_path(course_id: course["id"]), target: :_blank %></td>
          <% elsif key == 'course_name' %>
             <td style="width: 15%"><%= val %></td>
          <% elsif val.to_s == 'false' %>
            <td><b>No</b></td>
          <% elsif val.to_s == 'true' %>
            <td><b>Yes</b></td>
          <% else %>
            <td><%= val %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <h5> No Courses Found! </h5>
<% end %>
