<br />
<div class="card">
  <div class="card-body">
    <div class="d-flex">
      <%= form_with(url: courses_path, method: :get) do |form| %>
          <%= form.label :category, "Category:", class: "block mb-2" %>&nbsp;
          <%= form.select_tag :category, options_for_select(@category, selected: params[:category]), include_blank: true %>&nbsp;
          <%= form.label :department, "Department:", class: "block mb-2" %>&nbsp;
          <%= form.select_tag :department, options_for_select(@departments, selected: params[:department]), include_blank: true %>&nbsp;
        &nbsp;
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="check_lottery" value="true">
              <label class="form-check-label" for="inlineCheckbox_lottery">Lottery</label> &nbsp;
              <input class="form-check-input" type="checkbox" id="check_rural" value="true">
              <label class="form-check-label" for="inlineCheckbox_rural">Rural</label> &nbsp;
              <input class="form-check-input" type="checkbox" id="check_continuity" value="true">
              <label class="form-check-label" for="inlineCheckbox_rural">Continuity</label> &nbsp;
              <input class="form-check-input" type="checkbox" id="check_Prerequisite" value="true">
              <label class="form-check-label" for="inlineCheckbox_rural">prerequisite</label> 
          </div>
          &nbsp;
          <%= form.submit 'Submit', class: "btn btn-primary" %>
      <% end %>
      &nbsp;
      &nbsp;
      <%= form_with(url: courses_path, method: :get) do |form| %>
          <%= form.label :course_name, "Search by Course Name:", class: "block mb-2" %>&nbsp;
          <%= form.text_field :course_name %>&nbsp;
          <%= form.submit 'Search', class: "btn btn-primary" %>
      <% end %>
    </div>

  </div>
</div>
<br />
<% if !@courses.empty? %>
  <div class='d-flex'><h5 style="color: purple">Courses for 2024</h5>&nbsp; &nbsp<%= link_to 'New Course', new_course_path %></div>
  <table class="table-responsive nowrap table table-hover" id="dttb-courses" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead>
      <tr>
        <% @courses.first.keys.each do |key| %>
          <th><%= key.titleize %> </th>
        <% end %>
      </tr>
    </thead>
    <% @courses.each do |course| %>
      <tr>
        <% course.each do |key, val| %>
          <% if key == "course_number" %>
            <td style="width: 5%"> <%= link_to val.to_s, course_schedules_path(course_id: course["id"]), target: :_blank %></td>
          <% elsif key == 'course_name' %>
             <td style="width: 15%"><%= val %></td>
          <% elsif val.to_s == 'false' %>
            <td><b>No</b></td>
          <% elsif val.to_s == 'true' %>
            <td><b>Yes</b></td>
          <% else %>
            <td><%= val %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <h5> No Courses Found! </h5>
<% end %>
