
  <br />
  <h5>Courses for 2024</h5>

  <table class="responsive nowrap table table-hover" id="dttb-courses" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead>
      <tr>
        <% @courses.first.keys.each do |key| %>
          <th><%= key.titleize %> </th>
        <% end %>
      </tr>
    </thead>
    <% @courses.first.each_with_index do |(key, val), index| %>
      <% if key == "course_number" %>
        <td> <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"><%= val %>/Course Schedules</button></td>
      <% end %>
      <% if val == false %>
        <td>No</td>
      <% elsif val == true %>
        <td>Yes</td>
      <% else %>
        <td><%= val %></td>
      <% end %>
    <% end %>

  </table>

  <br>

  <%= link_to 'New Course', new_course_path %>

  <!-- Button trigger modal -->
  <!-- Modal -->
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-xl">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5>Course Schedules</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <% @course_schedules = CourseSchedule.where("course_id = ? and start_date > ?", 1, DateTime.now) %>
          <% @course_schedules = @course_schedules.map(&:attributes) %>

            <table class="responsive nowrap table table-hover">
              <thead>
                <tr>
                  <% @course_schedules.first.keys.each do |key| %>
                    <th><%= key.titleize %> </th>
                  <% end %>
                </tr>
              </thead>
              <% @course_schedules.each do |sched| %>
                <tr>
                  <% sched.each do |data| %>
                    <td><%= data.second %></td>
                  <% end %>
                </tr>
              <% end %>

            </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
