<br />
<div class="card">
  <div class="card-body card-body-color">

        <%= simple_form_for(courses_path, method: :get) do |form| %>
            <div class="input-group">
               <span class="input-group-text "><b><i>Category</i></b></span>
                <%= select_tag :category,  options_for_select(@category), selected: params[:category], class: "form-select", prompt: "Please Select a Category" %>&nbsp;
                <span class="input-group-text"><strong><i>Department</i></strong></span>
                <%= select_tag :department,  options_for_select(@departments), selected: params[:department], class: "form-select", prompt: "Please Select a Department" %>&nbsp;
                 <div class="form-check form-check-inline">
                     <%= label_tag "Lottery" %>&nbsp;
                     <%= check_box_tag 'lottery', true, params[:lottery]  %> &nbsp;
                     <%= label_tag  "Rural" %>&nbsp;
                     <%= check_box_tag 'rural', true, params[:rural] %> &nbsp;
                     <%= label_tag  "Continuity" %>&nbsp;
                     <%= check_box_tag 'continuity', true, params[:continuity] %> &nbsp;
                     <%= label_tag  "Prerequisites" %>&nbsp;
                     <%= check_box_tag 'prerequisites', true, params[:prerequisites] %> &nbsp;
                 </div>
                 &nbsp;
                 <%= submit_tag 'Submit', class: "btn btn-primary" %>
                 &nbsp;
                 &nbsp;
                 <%= form_with(url: courses_path, method: :get) do |form| %>

                      <span class="input-group-text ">Search by Course Name</span>
                       <%= form.text_field :course_name, class: "form-control" %>&nbsp;
                       <%= form.submit 'Search', class: "btn btn-primary" %>

                 <% end %>
            </div>
        <% end %>
      </div>
</div>
<br />
<% if !@courses.nil? %>
  <div class='d-flex'><h5 style="color: purple">Courses for 2024 (Under Construction!)</h5>&nbsp; &nbsp<%= button_to 'New Course', new_course_path, class: "btn btn-sm btn-primary" %></div>
  <table class="table-responsive wrap table table-hover table-striped tableFixHead " id="dttb-courses" >
    <thead class="thead-light">
      <tr>
        <% if ['dean', 'admin'].include? current_user.coaching_type  %>
          <th>Action</th>
        <% end %>

        <th>ID</th>
        <th>Category</th>
        <th>CourseNumber</th>
        <th>CourseName</th>
        <th>Department</th>
        <th>Available Thru Lottery</th>
        <th>Rural</th>
        <th>Continuity</th>
        <th>Prerequisites</th>
        <th>Duration</th>
        <th>Credits</th>
        <th>Course Purpose Statement</th>
      </tr>
    </thead>
    <% @courses.each do |course| %>
      <tr>
        <% if ['dean', 'admin'].include? current_user.coaching_type  %>
          <td style="width: 6%">
              <%= link_to 'Edit', edit_course_path(course), target: '_blank' %> /
              <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        <% end %>

        <td><%= course.id %></td>
        <td><%= course.category %></td>
        <td style="width: 5%"> <%= link_to "#{course.course_number}", course_schedules_path(course_id: course.id), target: '_blank' %></td>

        <td><%= course.course_name %></td>
        <td><%= course.department %></td>
        <td><%= course.available_through_the_lottery %></td>
        <td><%= course.rural %></td>
        <td><%= course.continuity %></td>
        <td><%= course.prerequisites %></td>
        <td><%= course.duration %></td>
        <td><%= course.credits %></td>
        <td><%= course.course_purpose_statement %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h5> No Courses Found! </h5>
<% end %>
