<% if !@formative_feedbacks.blank? %>
  <% if @student_perm_group >= 22 %>
      <table class="table table-striped" style="width:100%; overflow:auto;display:block">
        <tr>
          <th>Block Code</th>
          <th>CSA Code</th>
          <th>Response ID</th>
          <th>Submit Date</th>
          <th>Student</th>
          <th>Evaluator</th>
          <th>SimCap Comment</th>
        </tr>
        <% @formative_feedbacks_orig.each do |feedback| %>
            <tr>
              <td><%= feedback["block_code"] %></td>
              <td><%= feedback["csa_code"] %></td>
              <td><%= feedback["response_id"] %></td>
              <td><%= feedback["submit_date"] %></td>
              <td><%= feedback["q1"] %></td>
              <td><%= feedback["q2"] %></td>
              <td><%= feedback["q6"] %></td>                                                            
            </tr>
        <% end %>
      </table>
  <% else %>
    <div class="table-responsive-sm">
      <table class="table table-striped" style="width:100%; overflow:auto;display:block">
        <% @formative_feedbacks.drop(3).each do |key, values| %>
          <tr>
              <% values.each do |val| %>
                <% if !val.nil? %>
                  <% if @formative_feedbacks["response_id"].to_s.include? "_qs3" %>
                  <td style=text-align:right;"><i> <%= hf_formative_feedback_labels(key, '_qs3') %></i> </td>
                  <% elsif @formative_feedbacks["response_id"].to_s.include? "_qs2" %>
                    <td style=text-align:right;"><i> <%= hf_formative_feedback_labels(key, '_qs2') %></i> </td>
                  <% else %>
                    <td style=text-align:right;"><i> <%= hf_formative_feedback_labels(key, '_qs1') %></i> </td>
                  <% end %>
                  <% if @formative_feedbacks["response_id"].to_s.include? "_qs3" and key == 'q8' %>
                    <% @shelf_artifacts.each do |artifact| %>
                      <% artifact.documents.each do |document| %>
                        <% if document.filename.to_s == val %>
                          <td> <%= image_tag document%> <td>
                        <% end %>
                      <%end %>
                    <% end %>
                  <% elsif key == 'q7' %>
                    <td> <b><%= val.gsub(/\n/, '<br/>').html_safe  %></b> </td>
                  <% else %>
                    <td> <b><%= val %></b> </td>
                  <% end %>
                <% end %>

              <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
<% else %>
  <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No formative feedback found!
  <br />
<% end %>
