<div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5>FoM - Send Alerts</h5><hr>
          <%= form_for(send_alerts_fom_exams_path, action: 'send_alerts', remote: true, method: 'Get', html: { class: 'form-horizontal' },wrapper: :horizontal_form) do %>
              <div class="form-inline">
                <%= label_tag :Cohort, "Cohort", class: "control-label"  %>
                <%= select_tag :uniq_cohort, options_for_select(@permission_groups.map{|group| [group.title, group.id]}, selected: params[:uniq_cohort]),
                    prompt: "Please Select a Cohort" %> &nbsp; &nbsp;
              <%= submit_tag 'Submit', class: "btn btn-primary", :name => 'commit'%>
              </div>

          <% end %>
        </div>
      </div>
      <div id="send-alerts-list"></div>
    </div>
</div>

<%= flash[:send_alert] %>
