
<%= form_for @trigger,
    url: {
        controller: 'settings/sync_triggers',
        action: @action
    },
    data: {builder_path: new_settings_sync_trigger_path},
    remote: true do |f| %>
    <dl class="dl-horizontal">
        <dt></dt>
        <dd>
            <div class="bs-callout bs-callout-danger">
                <dl class="dl-horizontal" style="margin-bottom:0;">
                    <dt>Sources:</dt><dd>Must have responses table to be listed.</dd>
                    <dt>Destinations:</dt><dd>Must have tokens table to be listed.</dd>
            </dl>
            </div>
        </dd>

        <dt><%= f.label :sid_src, data:{toggle: :tooltip}, title: 'Lime Survey to copy from (responses table)' %></dt>
        <dd><%= f.select :sid_src, options_for_select(f.object.sid_src_enum, f.object.sid_src), prompt: 'Select Survey...' %>
        </dd>
        <dt><%= f.label :sid_dest, data:{toggle: :tooltip}, title: 'Lime Survey to copy to (tokens table)' %></dt>
        <dd><%= f.select :sid_dest, options_for_select(f.object.sid_dest_enum, f.object.sid_dest), prompt: 'Select Survey...' %></dd>
        <% if @trigger.cols_enum_ready? %>
        <dt><%= f.label :join_on, data:{toggle: :tooltip}, title: 'Columns to Join on When copying' %></dt>
        <dd>
            <table class="table" style="max-width: 350px;">
                <thead><tr><th>Source</th><th>Dest</th></tr></thead>
                <tbody>
                <tr><td>
                <% ms = f.object.map_src %>
                <%= f.select :map_src,
                    options_for_select(f.object.map_src_enum, ms), prompt: 'Select Column...' %>
                </td>
                <td>
                <% md = f.object.map_dest %>
                <%= f.select :map_dest,
                    options_for_select(f.object.map_dest_enum, md), prompt: 'Select Column...',
                    disabled: !ms.present?, style: (ms.present? ? '' : "background-color:#FFF2F2;") %>
                </td></tr>
                </tbody></table>

        </dd>
        <dt><%= f.label :copy_cols, data:{toggle: :tooltip}, title: 'Database columns to copy' %></dt>
        <dd>
            <% counter = 1%>
            <table class="table" style="max-width: 350px;">
                <thead><tr><th>#</th><th>Source</th><th>Dest</th></tr></thead>
                <tbody>
            <% f.object.cols.each do |k, v| %>
                <tr>
                <td>
                    <small><%= counter%></small></td><td>
                <%= select_tag 'lime_ext_sync_trigger[cols_keys][]',
                    options_for_select(f.object.cols_src_enum(k), k), prompt: 'Select Column...' %>
                </td>
                <td>
                <%= select_tag 'lime_ext_sync_trigger[cols_vals][]',
                    options_for_select(f.object.cols_dest_enum(v), v), prompt: 'Select Column...', disabled: !k.present? %>
                </td>
                <td
                <i class="delete-row fa fa-minus-circle"></i>
                </td>
                </tr>
                <% counter += 1%>
            <% end %>
            <% if f.object.allow_more_cols? %>
                <tr>
                    <td>
                        <small><%= counter%></small></td><td>
                <%= select_tag 'lime_ext_sync_trigger[cols_keys][]',
                    options_for_select(f.object.cols_src_enum), prompt: 'Select Column...' %>
                </td>
                <td></td>
            <% end %>
        </tbody></table>
        </dd>
            <% if f.object.too_many_cols? %>
                <dt></dt>
                <dd><span style="color:red;">* Max number of columns reached</span></dd>
            <% end %>
            <% if f.object.cols_enum_empty? && !f.object.cols.values.include?(nil) %>
                <dt></dt>
                <dd><span style="color:red;">* No more columns available </span></dd>
            <% end %>
            <% if @ready_post %>
            <dt><%= f.submit 'Save', class: 'btn btn-small btn-primary' %></dt>
            <dd></dd>
            <% end %>
        <% end %>
    </dl>
<% end %>
