<h3>Lime Surveys</h3>
<dl class="dl-horizontal">
    <dt>
        Source:
    </dt>
    <dd class="text-primary">
        <%= @trigger.lime_survey_src.title %>
    </dd>
    <dt>
        Destination:
    </dt>
    <dd class="text-danger">
        <%= @trigger.lime_survey_dest.title %>
    </dd>
</dl>

<h3>Functions</h3>
<% @trigger.parser.fn_detail.each do |title, sql| %>
    <div class="col-md-offset-1">
        <% if title.ends_with? 'cleaner' %>
            <span class="label label-success">
                Cleaner Function
            </span>
        <% else %>
            <span class="label label-success">
                Sync Function
            </span>
        <% end %>
        <br/>
        <b> <%= title%></b>
        <br/>
        <%= simple_format sql %>
    </div>
<% end %>

<h3>Copy Columns</h3>
<p style="padding-left: 1em;">
<% @trigger.cols.each do |k, v| %>
    <span class="text-primary"><%= v %></span>
    <%= '=>' %>
    <span class="text-danger"><%= k %></span>
    <br/>
<% end %>
</p>

<h3>Join On</h3>
<p style="padding-left:1em;">
    <span class="text-primary"><%= @trigger.map_dest %></span>
    <%= '=>' %>
    <span class="text-danger"><%= @trigger.map_src%></span>
</p>
