<%= form_for @assignment_group, remote: true do |f| %>
    <% fid = '#' + f.options[:html][:id] %>
    <h2>
        <span><%= @assignment_group.title %></span>
      <button type='button'
          class='btn btn-default'
          data-show="<%= fid %>_title"
          data-hide="<%= fid %> h2">
          <i class='glyphicon glyphicon-pencil'></i>
      </button>
    </h2>
    <div id='<%= f.options[:html][:id] %>_title'
      class='bs-callout bs-callout-primary'
      style='display:none;'>
      <h4>
          <span class="label label-primary">Editing</span>
          <%= Settings.assignments_route_name.singularize.titleize %>
          title
      </h4>
      <div class="input-group input-group-lg">
        <%= f.text_field :title, class: 'form-control title'%>
        <span class="input-group-btn">
          <%= content_tag :button, type: :submit,
              data: {
                hide: "#{fid}_title",
                show: "#{fid} h2",
                copy_val: "#{fid}_title input[type=text]",
                target: "#{fid} h2 span"
              },
              class: 'btn btn-default' do %>
              <i class='glyphicon glyphicon-ok'></i>
          <% end %>
          <button type="button"
              data-show="<%= "#{fid} h2" %>"
              data-hide="<%= "#{fid}_title" %>"
              class="btn btn-link" style="color:red;">
              <i class="fa fa-ban" style='color:red;'></i>
          </button>
        </span>
      </div><!-- /input-group -->
    </div>
<% end %>

