<h3>Comments</h3>

<% @assignment_group.comments.each do |comment| %>
     <blockquote class="bs-callout bs-callout-primary">
     <%= form_for comment, remote: true,
             data: {class: 'Assignments.MarkdownForm'} do |f| %>
         <%= render partial: 'form_comment', locals: {comment: comment, f: f } %>
     <% end %> 
     <footer>
       <%= comment.user.title %>
       <i><%= localize(comment.created_at.localtime, format: '%Y-%m-%d %I:%M %P') %></i>
     </footer>

     </blockquote>
 <% end %>

 <% new_btn_id = "new-group-comment-btn" %>
 <%= link_to 'New comment', new_assignment_assignment_group_comment_path(assignment_group_id: @assignment_group.id), 
       id: new_btn_id, 
       class: "btn btn-primary",
       data: {
           hide:"##{new_btn_id}",
           action:'resource-load',
           target:"##{new_btn_id}",
           insert:":before"} %>

