<h1><%= Settings.assignments_route_name.titleize.pluralize %></h1>

<%= render "assignment/shared/assignment_nav" %>

<div id='assignment-group-<%= @assignment_group.id %>' class="container-fluid">
  <div class="col-md-6 main fade-in two left-panel">

    <%= render partial: 'form_title' %>

    <%= render partial: 'form_desc_md' %>

    <div id="assignment-group-comments">
      <%= render partial: 'form_comments' %>
    </div>
  </div>

  <div class="col-md-6 main fade-in three">
    <%= render template: 'assignment/user_assignments/index' %>
  </div>
</div>

