<div class="row">
  <div class="col-lg-6 col-xs-6">
    <h1><%= Settings.assignments_route_name.titleize.pluralize %></h1>
  </div>
  <div class="col-lg-6 col-xs-6">
    <div class="col-lg-2 col-lg-push-10 col-md-2 col-md-push-10 col-sm-2 col-dm-push-10">
      <div class="pull-right">
        <% if @user == current_user && @assignment_group.owner != current_user %>
          <h1><%= button_to "Record new goals", hf_ua_lime_link_for(current_user), class: "btn btn-default", method: :get, form: {target: "_new"} %></h1>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if hf_ag_owner_or_higher? current_user, @assignment_group %>
  <%= render "assignment/shared/assignment_nav" %>
<% end %>

<hr/>

<div id="assignment-group-<%= @assignment_group.id %>" class="container-fluid assignment-container">
  <div class="fade-in two left-panel left-panel-scroll">

    <%= render partial: "form_title" %>

    <%= render partial: "form_desc_md" %>

    <div id="assignment-group-show-comments">
      <%= render partial: "form_comments" %>
    </div>
  </div>
  <div class="fade-in two right-panel">
    <% if @service.index.empty? %>
      <p>Nothing here</p>
    <% else %>
      <%= render template: "assignment/user_assignments/index" %>
    <% end %>
  </div>
</div>

