<h1><%= Settings.assignments_route_name.titleize.pluralize %></h1>

<%= render "assignment/shared/assignment_nav" %>

<div id="assignment-group-<%= @assignment_group.id %>" class="container-fluid assignment-container">
  <div class="fade-in two left-panel left-panel-scroll">

    <%= render partial: "form_title" %>

    <%= render partial: "form_desc_md" %>

    <div id="assignment-group-comments">
      <%= render partial: "form_comments" %>
    </div>
  </div>
  <div class="fade-in two right-panel">
    <% if @service.index.empty? %>
      <p>Nothing here</p>
    <% else %>
      <%= render template: "assignment/user_assignments/index" %>
    <% end %>
  </div>
</div>

