
<div class="filter_options_container">
  <!--this is where filtering will go  -->
</div>
<div class="row">
</div>
<div class="row">
    <div class="col-xs-2"><b><u>Created Date</u></b></div>
    <div class="col-xs-2"><b><u>Title</u></b></div>
    <div class="col-xs-1"><b><u>Tag</u></b></div>
    <div class="col-xs-2"><b><u>Status</u></b></div>
</div>

<% if !@goals.nil? %>
  <% @goals.each do |goal| %>
    <div class="row">
      <div class="col-xs-2"><%= goal.created_at.to_date %></div>
      <div class="col-xs-2"><%= goal.title %></div>
      <div class="col-xs-1"><%= goal.tag %></div>
      <div class="col-xs-2"><%= goal.status %></div>
      <div class="col-xs-2"><%= link_to "+Comments(#{goal.get_no_comments(goal.id)})", [@goal, goal, goal_type: 'Goal'] %></div>       
      <div class="col-xs-1"><%= link_to 'Edit', edit_goal_path(goal), remote: false %></div>
    </div>
  <% end %>
<% end %>

<%= link_to '+ Add New Goal', new_goal_path(user_id: @user.id, goal_type: 'Goal') %>


