<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">


    <div class="edit_goal" %>


    <h3>Editing Goal</h3>
    <%= link_to("<< back to listing goals", {action:'index', class:'back-link'}) %>

      <div class="row">
          <div class="col-xs-1">
              <b><%= f.label(:title) %></b>
          </div>
          <div class="col-xs-1">
              <%= f.text_field(:title) %>
          </div>
      </div>

        <div class="row">
          <div class="col-xs-1">
              <b><%= f.label(:description, 'Desc') %></b>
          </div>
          <div class="col-xs-1">
              <%= f.text_area(:description, size: '40x5') %>
          </div>
      </div>

      <div class="row">
          <div class="col-xs-1">
              <b><%= f.label(:tag) %></b>
          </div>
          <div class="col-xs-1">
              <%= f.select :tag,
              options_for_select(Goal::ALLOWABLE_GOAL_TAGS, @goal.tag), include_blank: true %> 
          </div>
      </div>

      <div class="row">
          <div class="col-xs-1">
              <b><%= f.label(:status) %></b>
          </div>
          <div class="col-xs-1">
              <%= f.select :status,
              options_for_select(Goal::ALLOWABLE_GOAL_STATUSES, @goal.status), include_blank: true %> 
          </div>
      </div><!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
          
      <div class="row">
          <div class="col-xs-1">
              <b><%= f.label(:target_date) %></b>
          </div>
          <div class="col-xs-1">
              <%= f.text_field(:target_date) %> 
          </div>
      </div>

      <div class="row">
          <div class="col-xs-1">
              <b><%= f.label(:location) %></b>
          </div>
          <div class="col-xs-1">
              <%= f.text_field(:location) %>
          </div>
      </div>     
          
        <%= f.hidden_field :goal_type, value: 'Goal' %>
     
      <div id="action_plan_items" class="nested-fields">
        <%= f.fields_for :action_plan_items do |a| %>
            <%= render 'action_plan_item_fields', f: a %>
        <% end %>
        <%= link_to_add_association '+ Action Plan Item', f, :action_plan_items %>
      </div>

      <%= f.submit :submit, class: 'btn btn-primary' %>

  </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


