<!-- Modal -->


<% if params[:goal_type] == 'Meeting'  %>
    <h3>Editing Meeting</h3>
    <%= link_to("<< back to listing goals", {action:'index', class:'back-link'}) %>

      <%= form_for(@goal, url: {action: 'update', id:@goal.id}) do |f| %>
        <%= render(:partial=> "meeting_form", :locals => {f:f}) %>
        <div class="form-buttons">
          <%= submit_tag("Update Meeting") %>
        </div>
      <% end %>

<% else %>



      <%= form_for(@goal, url: {action: 'update', id:@goal.id}) do |f| %>
        <%= render(partial: "goal_form", locals: {f:f}, remote: true) %>

      <% end %>



<% end %>


