<h3>On Time Starts</h3>
<table class="table table-hover">
  <tr>
    <td>Site</td>
    <td>Total First Cases</td>
    <td>Late Starts</td>
    <td>On Time Starts</td>
    <td>% on Time</td>
  </tr>
  <%# <% review.on_time_starts_by_site.each do |ots| %>
  <%#   <tr>
  <%#     <td><%= ots.site %></td>
  <%#     <td><%= ots.on_time_starts %></td>
  <%#     <td><%= ots.late_starts %></td>
  <%#     <td><%= ots.total_first_cases %></td>
  <%#     <td><%= ots.pct_on_time %></td>
  <%#   </tr>
  <%# <% end %>
  <tr>
    <td>AMB</td>
    <td>36</td>
    <td>7</td>
    <td>29</td>
    <td>80.56%</td>
  </tr>
  <tr>
    <td>CEI</td>
    <td>10</td>
    <td>2</td>
    <td>8</td>
    <td>80.00%</td>
  </tr>
  <tr>
    <td>CHH</td>
    <td>20</td>
    <td>2</td>
    <td>18</td>
    <td>90.00%</td>
  </tr>
  <tr>
    <td>SOR</td>
    <td>76</td>
    <td>6</td>
    <td>70</td>
    <td>92.11%</td>
  </tr>
  <tr>
    <td>Total</td>
    <td>142</td>
    <td>17</td>
    <td>125</td>
    <td>88.03%</td>
  </tr>
</table>
