<table class="table table-hover">
  <tr>
    <th>number</th>
    <th>value</th>
  </tr>
  <tr>
    <td>Clinitcal FTE</td>
    <td><%= review.clinical_fte %></td>
  </tr>
  <tr>
    <td>Research FTE</td>
    <td><%= review.research_fte %></td>
  </tr>
  <tr>
    <td>Grant Funded</td>
    <td><%= review.research_grant_fte %></td>
  </tr>
  <tr>
    <td>Department Funded</td>
    <td><%= review.research_dept_fte %></td>
  </tr>
  <tr>
    <td>Administrative FTE</td>
    <td><%= review.administrative_fte %></td>
  </tr>
  <tr>
    <td>Total FTE</td>
    <td><%= review.total_fte %></td>
  </tr>
</table>
