
<%= simple_form_for(@precep_meeting, html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="card">
    <div class="card-body">
      <div class="form-inputs">
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.input :student_sid, input_html: {style: 'width: 200px'} %>
        <%= f.input :student_name, input_html: {style: 'width: 400px'} %>
        <%= f.input :meeting_date, as: :string, placeholder: "Click here to enter a date.. ",
          input_html: { class: "flatpickr flatpickr-input active form-control", style: 'width: 400px; background-color: lightblue;'} %>

        <%= f.input :meeting_notes, as: :text, input_html: {rows: 5, style: 'width: 800px; background-color: lightblue;'} %>
        <%= f.input :meeting_with, input_html: {style: 'width: 400px'} %>
        <%= f.input :other_present, input_html: {style: 'width: 400px'} %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Submit", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
