<div id="<%= dom_id precep_meeting %>">
  <p>
    <strong>Student sid:</strong>
    <%= precep_meeting.student_sid %>
  </p>

  <p>
    <strong>Student name:</strong>
    <%= precep_meeting.student_name %>
  </p>

  <p>
    <strong>Meeting date:</strong>
    <%= precep_meeting.meeting_date %>
  </p>

  <p>
    <strong>Meeting notes:</strong>
    <%= precep_meeting.meeting_notes %>
  </p>

  <p>
    <strong>Meeting with:</strong>
    <%= precep_meeting.meeting_with %>
  </p>

  <p>
    <strong>Other present:</strong>
    <%= precep_meeting.other_present %>
  </p>

</div>
