
<table class="table borderless table-condensed modal-text-align-center table-striped table-hover">
  <thead>
    <tr>
      <td>Tittle</td>
      <td>Content</td>
      <td>UserID</td>
      <td>Artifacts</td>
    </tr>
  </thead>
  <% if idx_epa == "Official Student Letters" %>
    <% epa = "Progress Board Letter" %>
  <% else %>
    <% epa = "EPA#{idx_epa}" %>
  <% end %>
  <% selected_artifacts = @artifacts_student.select{|a| a if a.content == epa } %>
  <% selected_artifacts.each do |artifact| %>

      <tr>
        <td><%= artifact.title %></td>
        <td><%= artifact.content %> </td>
        <td><%= artifact.user_id.to_s %></td>
        <td><table class="responsive table table-hover">
          <% if artifact.documents.attached? %>
            <% artifact.documents.each do |document| %>
              <tr>
                <td> <%= document.filename %> </td>
                <td>
                  <%= link_to 'View', url_for(document), target: :_blank %>
                  /
                  <%= link_to 'Download', rails_blob_path(document, disposition: 'attachment') %>
                </td>
              </tr>
            <% end %>
          <% end %>

        </td></table>
      </tr>

  <% end %>

</table>
