<%= simple_form_for(@artifact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.select :title,
      options_for_select(["FoM", "NBME", "Shelf Exam", "EPA 1", "EPA 2"]),
      { include_blank: "---" },
      required: true
    %>
    <%= f.input :content, :label => "Sub-Category" %>
  </div>

  <div class="field">
  <%= f.label :documents %>
  <%= f.file_field :documents, multiple: true %>
</div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
