<body>
    <div class="container-fluid">
      <div class="card">
        <div class="card-header"><h4>Upload FoM Files</h4></div>
        <div class="card-body"></div>
            <%= simple_form_for(@artifact) do |f| %>
              <%= f.error_notification %>

              <% if !["student", "coach"].include? current_user.coaching_type %>

                  <div class="form-group">
                      <div class="row mb-1">
                        <%= f.label :cohort, class: "col-sm-2 control-label"%>
                        <div class="col-sm-4">
                          <%= select_tag :permission_group_id, options_for_select(@student_groups.collect{|s| [s.title, s.id]}, selected: params[:permission_group_id]),
                              prompt: "Please Select Cohort", class: "form-control" %>
                        </div>
                      </div>

                      <div class="row mb-1">
                        <%= f.label :BlockCode, class: "col-sm-2 control-label"%>
                        <div class="col-sm-4">
                          <%= select_tag :course_code, options_for_select(@course_codes, selected: params[:course_code]),
                            prompt: "Please Select a Course Code", class: "form-control"%>
                        </div>
                      </div>

                      <div class="row mb-1">
                          <%= f.label :Category, class: "col-sm-2 control-label"%>
                          <div class="col-sm-4">
                            <%= f.select :title,
                                options_for_select(['comp1', 'comp2a', 'comp2b', 'comp3', 'comp4', 'comp5a', 'comp5b', 'labels' ]),
                                { include_blank: "---" }, :id => "component",
                                required: true, class: "form-control"
                              %>
                          </div>
                      </div>
                      <div class="row mb-1">
                        <%= f.label "Sub-category", class: "col-sm-2 control-label"%>
                        <div class="col-sm-4">
                          <%= f.select :content, options_for_select([]),
                            { include_blank: "---" },
                            required: true, class: "form-control" %>
                          </div>
                      </div>
                      <div class="row mb-1">
                        <%= f.label "Documents", class: "col-sm-2 control-label" %>
                        <div class="col-sm-4">
                          <%= f.drag_and_drop_file_field :documents, 'Drag & Drop documents here!', class: "form-control"%>
                        </div>
                      </div>
                  <div class="form-actions">
                    <%= f.button :submit, "Upload Document(s)", class: "btn btn-primary"  %>
                  </div>
                </div>
            <% end %>
        <% end %>

    </div>

  </div>

</body>
