<body>
    <div class="container-fluid">
      <div class="card">
        <div class="card-header"><h4>Upload Documents (Shelf NBME, EPA Artifacts, FoM CSA,etc )</h4></div>
        <div class="card-body"></div>
            <%= simple_form_for(@artifact) do |f| %>
              <%= f.error_notification %>
              <div class="form-group">
                  <% if !["student", "coach"].include? current_user.coaching_type %>
                      <div class="row mb-1">
                        <%= f.label :cohort, class: "col-sm-2 control-label"%>
                       <div class="col-sm-4">
                          <%= select_tag :permission_group_id, options_for_select(@student_groups.collect{|s| [s.title, s.id]}, selected: params[:permission_group_id]),
                              prompt: "Please Select Cohort", class: "form-control" %>
                        </div>
                      </div>
                      <div class="row mb-1">
                        <%= f.label :Student, class: "col-sm-2 control-label"%>
                        <div class="col-sm-4">
                          <%= select_tag :user_id, options_for_select(@cohort_students.collect{|s| [s.full_name, s.id]}, selected: params[:user_id]),
                              prompt: "Please Select a Student", class: "form-control" %>
                        </div>
                      </div>
                  <% end %>

                  <% if ["student"].include? current_user.coaching_type %>
                    <div class="row mb-1">
                      <%= f.label :Category, class: "col-sm-2 control-label"%>
                      <div class="col-sm-4">
                        <%= f.select :title,
                          options_for_select(["FoM", "Clinical", "Exemplary Professionalism", "EPA-Artifacts", "Scholarly Project", "OASIS Documents", "Other"]),
                          { include_blank: "---" },
                          required: true, class: "form-control"
                        %>
                      </div>
                    </div>
                  <% else %>
                    <div class="row mb-1">
                      <%= f.label :Category, class: "col-sm-2 control-label"%>
                      <div class="col-sm-4">
                        <%= f.select :title,
                          options_for_select(hf_category),
                          { include_blank: "---" },
                          required: true, class: "form-control"
                        %>
                      </div>
                    </div>
                  <% end %>

                <div class="row mb-1">
                  <%= f.label "Sub-category", class: "col-sm-2 control-label"%>
                  <div class="col-sm-4">
                    <%= f.select :content, options_for_select([]),
                      { include_blank: "---" },
                      required: true , class: "form-control"%>
                  </div>
                </div>

                <div class="row mb-1">
                  <%= f.label "Documents", class: "col-sm-2 control-label" %>
                  <div class="col-sm-4">
                    <%= f.drag_and_drop_file_field :documents, 'Drag & Drop documents here!', class: "form-control" %>
                  </div>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Upload Document(s)", class: "btn btn-primary"  %>
                </div>
          </div>
        <% end %>

    </div>

  </div>

</body>
