<% if !@artifacts.nil? %>
  <br /> <br/>
  <h4> All documents <%= link_to 'Upload Documents', new_artifact_path, class: "btn btn-primary" %> </h4>

  <table class="responsive nowrap table table-hover" id="artifacts" >
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Action</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @artifacts.each do |artifact| %>
      <tr>
        <td><%= artifact.title %></td>
        <td><%= artifact.content %> </td>
        <td>
          <% if current_user.coaching_type != 'student' or !artifact.content.to_s.include? "Progress Board" %>
            <%= link_to 'Destroy Artifact', artifact, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <% if current_user.coaching_type == 'admin' %>
            /
            <%= link_to 'Move files', move_files_artifact_path(artifact)  %>
            /
            <%= link_to 'Step 2 Move files', step_2_move_files_artifact_path(artifact)  %>

          <% end %>
          <% if artifact.content.to_s.include? "Preceptor" and (current_user.coaching_type == 'dean' or current_user.coaching_type == 'admin') %>
            /
            <%= link_to 'Process PreceptorEval', process_preceptor_eval_artifact_path(artifact)  %>
          <% end %>
          <% if artifact.content.to_s.include? "Formative Feedback" and (current_user.coaching_type == 'dean'  or current_user.coaching_type == 'admin') %>
            /
            <%= link_to 'Process FormativeFeedback', process_formative_feedback_artifact_path(artifact)  %>
          <% end %>
          <% if artifact.content.to_s.include? "Competency-Excel" and (current_user.coaching_type == 'admin') %>
            /
            <%= link_to 'Process Competency', process_comp_excel_artifact_path(artifact), target: :_blank  %>
          <% end %>
          <% if artifact.content.to_s.include? "BLS-Excel" and (current_user.coaching_type == 'admin') %>
            /
            <%= link_to 'Process BLS', process_bls_excel_artifact_path(artifact), target: :_blank  %>
          <% end %>


        </td>
        <td>
          <table class="responsive nowrap table table-hover" id="artifacts-table2"  >
            <% if artifact.documents.attached? %>
              <tr>
                <th>File Name</th>
                <th>Action</th>
              </tr>
              <% artifact.documents.each do |document| %>
                <tr>
                  <td style="width: 60%"> <%= document.filename %> </td>
                  <td style="width: 40%">
                    <%= link_to 'View', url_for(document), target: :_blank  %>
                    /
                    <%= link_to 'Download', rails_blob_path(document, disposition: 'attachment') %>
                     <% if ['admin', 'dean'].include? current_user.coaching_type %>
                        /
                        <%= link_to 'Purge Doc', delete_document_attachment_artifact_url(document.signed_id), method: :delete, data: {confirm: "Are you sure? "} %>
                     <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
         </table>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <br /> <br />
    <h4> No Document or Artifact Found!  </h4>
  <% end %>
