<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @artifact.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @artifact.content %>
</p>
<% if @artifact.title.include? "/" %>
  <% while(line=@myFile.gets) %>
    <%= line %><br />
  <% end %>
<% end %>

<%= link_to 'Edit', edit_artifact_path(@artifact) %> |
<%= link_to 'Back', artifacts_path %>
