<% if !mspe_data.blank? %>
  <% if mspe_data.include? "Not Created" %>
    <h5><%= mspe_data %></h5>
  <% else %>
    <% if  mspe_data.first.include? "Selected" %>
      <h5 style="color: Blue;"><b> <%= mspe_data.first %>
      <%= link_to ('<i class="fa fa-download"></i>').html_safe, download_file_reports_path(file_name: @mspe_filename) %></b></h5>
    <% else %>
      <h5 style="color: Blue;"><b>MSPE Data for <%= mspe_data.first.first.user.full_name %>
      <%= link_to ('<i class="fa fa-download"></i>').html_safe, download_file_reports_path(file_name: @mspe_filename) %></b></h5>
      <table id="mspeTable" class="table table-hover table-striped responsive" data-sort="true" >
        <thead>
          <tr class="filters">
            <th>Task</th>
            <% mspe_data.first.first.attributes.keys.each do |key| %>
              <th style="text-align:center"><%= key %></th>
            <% end %>
          </tr>
        </thead>
          <% mspe_data.each do |data| %>
            <% data.each do |sub_data| %>
              <tr>
                  <td>
                    <%= link_to "Clone", new_user_competency_path(id: sub_data.id, user_id: sub_data.user_id) %> /
                    <%= link_to "Destroy", sub_data, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </td>
                <% sub_data.attributes.each do |key, val| %>
                    <td style="text-align:center"> <%= val %> </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
      </table>
    <% end %>
  <% end %>
<% end %>
