<% if current_user.coaching_type != 'student' %>
    <div class="card">
      <div class="card-body">
        <%= form_tag(reports_index_path, remote: true, method: "get", id: 'report_form') do %>
          <div class="input-group">
             <span class="input-group-text"><strong>Cohort</strong></span>
             <div class="w-auto">
                <%= select_tag :cohort, options_from_collection_for_select(@permission_groups, 'id', 'title', selected: params[:cohort]), include_blank: '--',
                prompt: "Please Select a Cohort", class: "form-select", id: "permission_group", onchange: "this.form.submit();" %>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  <% if !@ranking_data.blank? %>
      <div class="card">
        <div class="card-header">
          <b>Ranking Report for <%="#{@cohort_title} - Summary Data Includes 5 Components [A Tab Delimited File]" %></b>
          <%= link_to ('<i class="fa fa-download"></i>').html_safe, download_file_reports_path(file_name: "#{@cohort_title}_ranking_data.txt") %>
        </div>
        <div class="card-body">
            <%= render partial: 'ranking_data' %>
        </div>
      </div>
  <% end %>
<% else %>
  <br /> <br />
  <h5> You are NOT authorized to access this page! </h5>
<% end %>
