<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Force page to refresh long after timeout -->
    <meta http-equiv="refresh" content="<%= User.timeout_in.to_i + 45 %>">

    <title><%= content_for?(:title) ? yield(:title) : Settings.site.name %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Edna" %>">
    <%= stylesheet_link_tag "application", controller_full_name, :media=>"all" %>
    <%= javascript_include_tag "application" %>

    <%= content_for?(:head) ? yield(:head) : '' %>
    <%= csrf_meta_tags %>
    <%= include_gon if defined? gon && gon.present? %>
    <% base_url = defined?(main_app) ? main_app.root_path : app.root_path %>
    <script type="text/javascript">
      window.BASE_URL = "<%= base_url %>";
      window.controller_name = "<%= controller_name %>"
      window.lime_url = "<%= Settings.lime_url %>"
    </script>
</head>

