<div id="nav-bar" class="navbar navbar-default <%= navbar_css_class %> navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-links">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <%= link_to auto_path, :class=>'navbar-brand' do %>
                <%= Settings.site.name %>
                <% unless Rails.env.production? %>
                    <small style="color:#DD0000;"><%= Rails.env %></small>
                <% end %>
            <% end %>
        </div>
        <div id="nav-links" class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
                <% if can? :crud, Dashboard %>
                    <%= nav_link_to('Home', main_app.root_path,
                            :class=>'dashboard-link') %>
                <% end %>

                <% if can? :list, LimeSurvey %>
                    <%= nav_link_to('Reports', main_app.ls_reports_path,
                            :class=>'ls_reports-link')%>
                <% end %>
                <% if can? :list, Assignment::UserAssignment %>
                    <% acount = current_user.active_assignments.count %>
                    <% badge_str = acount==0 ? '' : "<span class='badge badge-danger'>#{acount}</span>" %>
                    <%= nav_link_to("#{Settings.assignments_route_name.pluralize.titleize} #{badge_str}".html_safe,
                                    main_app.assignment_assignment_groups_path,
                                    :class=>'assignments-link')%>
                <% end %>
                <%= nav_link_to('Charts', main_app.charts_path, :class=>'charts-link') if can? :access, Chart %>
                <% if current_user.present? %>
                <li>
                    <div style="" class="btn-group btn navbar-btn navbar-right">
                        <%= link_to "<small>User: </small>#{current_user.username}".html_safe, current_user, type: :button, class: "btn btn-danger btn-xs" %>
                        <button type="button" class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <%= nav_link_to('<i class="fa fa-external-link-square"></i> Lime'.html_safe,
                                "#{Settings.lime_url}/admin",
                                :target=>'_blank') if can? :read, :lime_survey_website %>
                            <%= nav_link_to('<i style="color:#A00000;" class="fa fa-bomb"></i> Admin'.html_safe, rails_admin_path, target: '_blank') if can? :access, :rails_admin %>
                            <%= nav_link_to('<i class="fa fa-cog"></i> Settings'.html_safe, settings_path) if can? :manage, :all %>
                            <li role="separator" class="divider"></li>

                            <li>
                                <%= link_to current_user do %>
                                    <i class="fa fa-user"></i> Account
                                <% end %>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <%= link_to main_app.destroy_user_session_path do %>
                                        <i class="fa fa-sign-out"></i> Log Out
                                <% end %>
                            </li>
                        </ul>
                    </div>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
<%= render :partial=>'shared/modal_spinner', :locals=>{:modal_id=>'modal_nav_reports', :message=>'Loading Report'}%>
<%= render :partial=>'shared/modal_spinner', :locals=>{:modal_id=>'modal_nav_stats', :message=>'Loading Data Set'}%>
