<% return unless !current_user.nil? %>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">

          <%= image_tag Settings.site.logo_header, alt: Settings.site.name_html, :size=>"50x50" %>
          <%= link_to auto_path do %>
            <%= Settings.site.name %>
            <% unless Rails.env.production? %>
              <small style="color:#DD0000;"><%= Rails.env %></small>
            <% end %>
          <% end %>
          <%= image_tag Settings.site.oasis_icon, alt: Settings.site.name_html, :size=>"50x50" %>
        </div>

        <div id="SearchPlaceHolder">
          <div id="SearchInputForm">
            <% if !current_user.nil? && current_user.coaching_type != 'student' && current_user.spec_program !='Wellness' %>
              <%= form_tag(search_searches_path, method: "get",  class: 'navbar-form navbar-left', id: 'SearchForm') do %>
                <span>
                  <div class="input-group">
                        <%= search_field_tag :search, params[:search], class: "form-control", size: 30, placeholder: "LastName, FirstName or '?' for help!" %>
                        <%= button_tag " SEARCH", class: 'button btn btn-info fa fa-search', style: 'font-size:15px', id: 'SearchButton', html: {autocomplete: 'off'},
                            'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> SEARCHING...".html_safe %>
                  </div>
                </span>
              <% end %>
            <% end %>
          </div>
        </div>
        <div id="nav-links" class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <% if can? :crud, Dashboard %>
                <%= link_to '<i class="fa fa-home" style="color:#0C2D83"></i> Home'.html_safe,  auto_path, class: "nav-link"  %>
              <% end %>
            </li>
            <li class="nav-item">
              <% if ['chungp','itot', 'budd', 'bumstedt', 'bettybogus'].include? current_user.username  %>
                <%= link_to '<i style="color:#31a34f;" class="fa fa-book"></i> Course Catalog'.html_safe, courses_path(), target: '_blank', class: "nav-link" %>
              <% end %>
            </li>
            <li class="nav-item">
              <% if current_user.can_process_fom? and current_user.coaching_type != 'student'%>
                <%= link_to '<i style="color:#A00000;" class="fa fa-bomb"></i> Process FoM'.html_safe, process_fom_fom_exams_path(uuid: current_user.uuid), target: '_blank', class: "nav-link" %>
              <% end %>
            </li>

            <li class="nav-item dropdown">
              <% if (['admin'].include? current_user.coaching_type and current_user.spec_program !='Wellness') or (['itot', 'schneibe', 'fruhwirt', 'petesama'].include? current_user.username) %>
                  <a class="nav-link dropdown-toggle" role="button"  href="#reportMenu" data-bs-toggle="dropdown" aria-expanded="false">
                  Report
                  </a>
                  <ul class="dropdown-menu" id="reportMenu">
                    <li><%= link_to '<i> Ranking Report </i>'.html_safe, reports_index_path, target: '_blank', class: "dropdown-item" %></li>
                    <li><%= link_to '<i> Competency Report </i>'.html_safe, competency_reports_path, target: '_blank', class: "dropdown-item" %></li>
                    <% if ['chungp', 'fruhwirt', 'bumstedt', 'meltond'].include? current_user.username %>
                      <li><%= link_to '<i> MSPE Data </i>'.html_safe, mspe_reports_path, target: '_blank', class: "dropdown-item" %></li>
                    <% end %>
                  </ul>
              <% end %>
            </li>
            <% if ['admin', 'dean'].include? current_user.coaching_type and current_user.spec_program !='Wellness' %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" href="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-stethoscope" style="color:#E1191C"></i> EG Review
                </a>
                <ul class="dropdown-menu" id="dropdownMenuButton">
                  <%= link_to '<i class="fa fa-stethoscope" style="color:#E1191C" aria-hidden="true"></i> EG-Review'.html_safe, epa_masters_path, target: '_blank', class: "dropdown-item" %>
                  <% if current_user.can_process_eg_assignment? and current_user.coaching_type != 'student' %>
                    <%= link_to '<i class="fa fa-wrench" style="color:#E1191C" aria-hidden="true"></i> EG Members'.html_safe, eg_members_path, target: '_blank', class: "dropdown-item" %>

                    <%= link_to '<i class="fa fa-wrench" style="color:#E1191C" aria-hidden="true"></i> Fix EG Members'.html_safe, fix_eg_members_index_path, target: '_blank', class: "dropdown-item" %>
                    <%= link_to '<i class="fa fa-wrench" style="color:#E1191C" aria-hidden="true"></i> List EG Assignment'.html_safe, fix_eg_members_eg_assignment_path, target: '_blank', class: "dropdown-item" %>
                    <%= link_to '<i class="fa fa-wrench" style="color:#E1191C" aria-hidden="true"></i> Badging Dates'.html_safe, badging_dates_path, target: '_blank', class: "dropdown-item"  %>
                  <% end %>
                  <%= link_to 'EG-Mismatch Report', eg_mismatch_epa_masters_path(file_name: 'eg_mismatch.txt'), method: :get, target: '_blank', class: "dropdown-item" %>
                  <%= link_to 'EG-Badged Report', eg_badged_epa_masters_path, method: :get, target: '_blank', class: "dropdown-item" %>
                  <%= link_to 'EPA-Q/A Report', epa_qa_epa_masters_path, method: :get, target: '_blank', class: "dropdown-item" %>
                  <%= link_to 'WBA/EPA Report', wba_epa_epa_masters_path, method: :get, target: '_blank', class: "dropdown-item" %>
                  <%= link_to 'Competency Report', competency_rpt_new_competencies_path, method: :get, target: '_blank', class: "dropdown-item" %>
                  <%= link_to 'Average WBA/EPA By Dates Report', average_wba_epa_epa_masters_path, method: :get, target: '_blank', class: "dropdown-item" %>
                  <%= link_to 'WBA/Clinical Assessor Report', wba_clinical_epa_masters_path, method: :get, target: '_blank', class: "dropdown-item" %>
                  <%= link_to 'No of Badges by EPA Graph', badged_graph_epa_masters_path, method: :get, target: '_blank', class: "dropdown-item" %>
                  <%= link_to 'No of WBAs by EPA Graph', wba_epa_graph_epa_masters_path, method: :get, target: '_blank', class: "dropdown-item" %>
                </ul>
              </li>
            <% end %>

            <% if ['admin', 'dean'].include? current_user.coaching_type and current_user.spec_program !='Wellness'%>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bar-chart" style="color:#23A9BD"></i> WBA Graph/Report
                  </a>
                  <ul class="dropdown-menu" id="dropdownMenuButton">
                      <%= link_to '<i class="fa fa-bar-chart" style="color:#23A9BD"></i> WBA Graphs'.html_safe, wba_graphs_index_path, target: '_blank', class: "dropdown-item" %>
                      <%= link_to 'WBA Report', wba_graphs_wba_report_path, method: :get, target: '_blank', class: "dropdown-item" %>
                  </ul>
                </li>
            <% end %>

            <% if can? :list, LimeSurvey %>
              <% if ['student', 'admin', 'dean'].include? current_user.coaching_type and current_user.spec_program !='Wellness'%>
                <li class="nav-item">
                  <%= link_to hf_badge('Upload Documents', @no_of_docs), artifacts_path, target: '_blank', class: "nav-link" %>
                </li>
              <% end %>
              <% if current_user.coaching_type == "coach" and params[:slug].present? %>
                  <% temp_pk = params[:slug] + "@ohsu.edu" %>
                  <% clinical_phase_sid = hf_get_clinical_phase_sid(temp_pk) %>
                  <% if !clinical_phase_sid.nil? %>
                      <%= link_to "Clinical Phase", polymorphic_path(["spreadsheet".to_sym, :ls_report], sid: clinical_phase_sid, pk: temp_pk),
                         target: "_blank", class: "modal-click link-to-text-color", 'data-bs-target': '#modal-dataset' %>
                  <% end %>
              <% end %>
              <li class="nav-item">
                <%= link_to '<i class="fa fa-calendar" style="color:purple"></i> OASIS System'.html_safe, coaching_index_path(email: @pk), target: '_blank', class: "nav-link"  %>
              </li>
              <% if current_user.coaching_type == 'student' %>
                <li class="nav-item">
                  <%= link_to '<i class="fa fa-user-md" style="color:#5BAD5A"></i>Your Datasets'.html_safe, search_searches_path(current_user), class: "nav-link"  %>
                </li>
              <% elsif current_user.coach_or_higher? and current_user.spec_program !='Wellness' %>
                <li class="nav-item">
                  <%= link_to '<i class="fa fa-user-md" style="color:#5BAD5A"></i> Student Assessments'.html_safe, student_assessments_path(user: current_user), class: "nav-link" %>
                </li>
              <% end %>
            <% end %>

            <% if current_user.present? %>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= "<small>User: </small>#{current_user.username}".html_safe %>
                </button>
                <ul class="dropdown-menu">
                    <%= link_to('<i style="color:#A00000;" class="fa fa-bomb"></i> Admin'.html_safe, rails_admin_path, target: '_blank', class: "dropdown-item" ) if can? :access, :rails_admin %>
                    <%= link_to('<i style="color:#A00000;" class="fa fa-bomb"></i> Process FoM'.html_safe, process_fom_fom_exams_path(uuid: current_user.uuid), target: '_blank', class: "dropdown-item" ) if can? :access, :rails_admin %>
                    <%= link_to('<i style="color:#A00000;" class="fa fa-bomb"></i> Export FoM'.html_safe, list_all_blocks_fom_exams_path(), target: '_blank', class: "dropdown-item" ) if can? :access, :rails_admin %>
                    <%= link_to '<i class="fa fa-sign-out"></i> Log Out'.html_safe, main_app.destroy_user_session_path, class: "dropdown-item" %>
                </ul>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>


    <%= render :partial=>'shared/modal_spinner', :locals=>{:modal_id=>'modal-report', :message=>'Loading Report'}%>
