<!DOCTYPE html>
<html lang="en">
<%= render :partial=>'layouts/head' %>
<body id="<%= controller_name %>"
      class="layout-full-width <%= current_user_theme %>"
      data-spy="scroll" data-target="#scroll-spy-nav">

    <%= render 'layouts/nav_header' %>

    <!-- Page Content -->
    <div class="col-lg-12">
        <%= render 'shared/messages' %>
        <%= yield %>
    </div>

    <!-- /.container -->
    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>

