<!DOCTYPE html>
<html lang="en">
<%= render :partial=>'layouts/head' %>
<body id="<%= controller_name %>"
      class="layout-full-width"
      data-spy="scroll" data-target="#scroll-spy-nav">
    <%= render 'layouts/nav_header' %>
    <%= yield :charts_js %> <!-- Rails -->

    <!-- Page Content -->
    <div class="col-lg-12">
      <body id="<%= controller_name %>"
            class="layout-full-width <%= current_user_theme %>"
            data-spy="scroll" data-target="#scroll-spy-nav">
        <%= render 'shared/messages' %>
        <%= yield %>
      </body>
    </div>

    <!-- /.container -->

    <!-- /.container -->
</html>
